<?xml version="1.0"?>
<!--
  This transform is applied to tinyMceConfig.config when the project is built. This is configured in Directory.Build.targets.
  
  tinyMceConfig.config can always safely be replaced with the default version since the desired settings will always be reapplied by this
  transform when the project is built locally. Since tinyMceConfig.live.xdt.config will be applied on deployment, the transformed tinyMceConfig.config
  can safely be copied all the way to production.
  -->
<tinymceConfig xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <validElements xdt:Transform="Remove" />
  <validElements xdt:Transform="Insert">
    <![CDATA[+a[id|rel|data-id|data-udi|rev|charset|hreflang|dir|lang|tabindex|accesskey|type|name|href|target|title|class],-strong/-b[class],-em/-i[class],
-strike[class],-u[class],#p[id|dir|class],-ol[class|reversed|start|type],-ul[class],-li[class],br[class],
img[id|dir|lang|longdesc|usemap|class|src|alt=|title|width|height|umbracoorgwidth|umbracoorgheight|rel|data-id],
-sub[style|class],-sup[style|class],-blockquote[dir|class],-table[width|height|class|summary|dir|id|lang],
-tr[id|lang|dir|class|rowspan|width|height],tbody[id|class],
thead[id|class],tfoot[id|class],#td[id|lang|dir|class|colspan|rowspan|width|height|scope],
-th[id|lang|dir|class|colspan|rowspan|width|height|scope],caption[id|lang|dir|class],-div[id|dir|class],
-span[class],-pre[class],address[class],-h1[id|dir|class],-h2[id|dir|class],
-h3[id|dir|class],-h4[id|dir|class],-h5[id|dir|class],-h6[id|dir|class],hr[class],small[class],
dd[id|class|title|dir|lang],dl[id|class|title|dir|lang],dt[id|class|title|dir|lang],object[class|id|width|height|codebase|*],
param[name|value|_value|class],embed[type|width|height|src|class|*],map[name|class],area[shape|coords|href|alt|target|class],bdo[class],button[class],iframe[*]]]>
  </validElements>
</tinymceConfig>