<?xml version="1.0"?>
<!--
  This transform is applied to umbracoSettings.config when the project is deployed to the Live environment in Umbraco Cloud.

  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
  -->
<settings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Set the email address that messages from Umbraco come from, including custom emails from processes like password reset -->
	<content>
		<notifications>
			<email xdt:Transform="Remove" />
			<email xdt:Transform="Insert">Stoolball England &lt;no-reply@stoolball.org.uk&gt;</email>
		</notifications>
	</content>
	<!-- Prevent Umbraco Cloud errors pinging keep alive API on "localhost" and being denied access -->
	<keepAlive disableKeepAliveTask="false" keepAlivePingUrl="https://www.stoolball.org.uk/api/keepalive/ping" xdt:Transform="Replace" />
</settings>