/* Works with /js/libs/jquery.autocomplete.min.js from https://www.devbridge.com/sourcery/components/jquery-autocomplete/ */

@import "_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

.autocomplete-suggestions {
    border: 1px solid $gray-400;
    border-radius: 0 0 $border-radius $border-radius;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: $spacer/4 $spacer/2;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: theme-color("primary");
}

.autocomplete-group {
    padding: $spacer/4 $spacer/2;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid $gray-400;
}
