@import "_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_variables.scss";

.news__date {
    margin-top: -($spacer/4);
    color: $grey;
    font-size: .9em;
}