<?xml version="1.0"?>
<!--
  This transform is applied to uSync8.config when the project is built. This is configured in Directory.Build.targets.
  
  uSync8.config can always safely be replaced with the default version since the desired settings will always be reapplied by this
  transform when the project is built locally. Since uSync settings should be the same for all environments, the transformed uSync8.config
  can safely be copied all the way to production.
  -->
<uSync xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <BackOffice>
    <HandlerSets>
      <Handlers>
        <Handler Alias="dataTypeHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="languageHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="macroHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="mediaTypeHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="memberTypeHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="templateHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="contentTypeHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="contentTemplateHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="dictionaryHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
        <Handler Alias="domainHandler" Enabled="false" xdt:Locator="Match(Alias)" xdt:Transform="SetAttributes(Enabled)" />
      </Handlers>
    </HandlerSets>
  </BackOffice>
</uSync>