@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.Composing
@using Ganss.XSS
@{
    var content = (ContentModels.Tip)Model.Content;
    var htmlSanitiser = Current.Factory.GetInstance<IHtmlSanitizer>();
    htmlSanitiser.KeepChildNodes = true;
    htmlSanitiser.AllowedTags.Clear();
    htmlSanitiser.AllowedTags.Add("strong");
    htmlSanitiser.AllowedTags.Add("em");
    htmlSanitiser.AllowedTags.Add("a");
    htmlSanitiser.AllowedAttributes.Clear();
    htmlSanitiser.AllowedAttributes.Add("href");
    htmlSanitiser.AllowedCssProperties.Clear();
    htmlSanitiser.AllowedAtRules.Clear();
}
@if (content.Text != null && !string.IsNullOrWhiteSpace(content.Text.ToHtmlString()))
{
    var html = new HtmlString(htmlSanitiser.Sanitize(content.Text.ToHtmlString()));
    <p class="alert alert-info alert-tip" role="alert">@html</p>
}