<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is built. This is configured in Directory.Build.targets.
  
  Since the project is only ever built locally settings for development should be included here so long as they do 
  not include secrets. 
  
  If the same settings should be applied in production they must be repeated in another transform which will run 
  on deployment to Umbraco Cloud. The local copy of Web.config is never deployed to Umbraco Cloud. All changes are 
  made using transforms acting on the base Web.config which is committed in the deployment repository.

  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
  
  The configSections transforms ensure it's the first child of <configuration />: http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer xdt:Transform="InsertIfMissing" />
	<system.webServer>
		<modules xdt:Transform="InsertIfMissing" />
		<modules>
			<remove name="RedirectsModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
			<add name="RedirectsModule" type="Skybrud.Umbraco.Redirects.Routing.RedirectsModule, Skybrud.Umbraco.Redirects" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
		</modules>
	</system.webServer>
</configuration>