<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is built. This is configured in Directory.Build.targets.
  
  Since the project is only ever built locally settings for development should be included here so long as they do 
  not include secrets. 
  
  If the same settings should be applied in production they must be repeated in another transform which will run 
  on deployment to Umbraco Cloud. The local copy of Web.config is never deployed to Umbraco Cloud. All changes are 
  made using transforms acting on the base Web.config which is committed in the deployment repository.

  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
  
  The configSections transforms ensure it's the first child of <configuration />: http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!-- Always use HTTPS everywhere. -->
		<add key="Umbraco.Core.UseHttps" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

		<!-- Always ensure en-GB replaces en-US everywhere. -->
		<add key="Umbraco.Core.DefaultUILanguage" value="en-GB" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

		<!-- Enable regex for the System.ComponentModel.DataAnnotations namespace -->
		<add key="dataAnnotations:dataTypeAttribute:disableRegEx" value="false" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
	</appSettings>

	<system.web>
		<!-- Always ensure en-GB replaces en-US everywhere. -->
		<globalization culture="en-GB" uiCulture="en-GB" xdt:Transform="InsertIfMissing" />

		<!-- Always use debug mode in dev, as it disables ClientDependency and makes debugging JavaScript easier -->
		<compilation debug="true" xdt:Transform="SetAttributes(debug)" />

		<!-- Setting allowManuallyChangingPassword to true allows password reset to work -->
		<membership>
			<providers>
				<add name="UmbracoMembershipProvider" allowManuallyChangingPassword="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(allowManuallyChangingPassword)" />
			</providers>
		</membership>
	</system.web>

	<system.webServer xdt:Transform="InsertIfMissing" />
	<system.webServer>
		<!-- Apply a Content Security Policy header -->
		<httpProtocol xdt:Transform="InsertIfMissing" />
		<httpProtocol>
			<customHeaders xdt:Transform="InsertIfMissing" />
			<customHeaders>
				<remove name="Permissions-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="Permissions-Policy" xdt:Transform="Insert" />
				<add name="Permissions-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="Permissions-Policy" value="__PERMISSIONS_POLICY__" xdt:Transform="Insert" />
				<remove name="Referrer-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="Referrer-Policy" xdt:Transform="Insert" />
				<add name="Referrer-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="Referrer-Policy" value="no-referrer-when-downgrade" xdt:Transform="Insert" />
				<remove name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="X-Content-Type-Options" xdt:Transform="Insert" />
				<add name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
				<remove name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="X-Frame-Options" xdt:Transform="Insert" />
				<add name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="X-Frame-Options" value="DENY" xdt:Transform="Insert" />
				<remove name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="X-XSS-Protection" xdt:Transform="Insert" />
				<add name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="X-XSS-Protection" value="1; mode=block" xdt:Transform="Insert" />
				<remove name="Strict-Transport-Security" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="Strict-Transport-Security" xdt:Transform="Insert" />
				<add name="Strict-Transport-Security" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="Strict-Transport-Security" value="max-age=31536000" xdt:Transform="Insert" />
				<add name="Report-To" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="Report-To" value='{"group":"default","max_age":31536000,"endpoints":[{"url":"https://stoolball.report-uri.com/a/d/g"}],"include_subdomains":true}' xdt:Transform="Insert" />
				<add name="NEL" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="NEL" value='{"report_to":"default","max_age":31536000,"include_subdomains":true}' xdt:Transform="Insert" />
				<add name="Cross-Origin-Opener-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<add name="Cross-Origin-Opener-Policy" value='same-origin; report-to="default"' xdt:Transform="Insert" />
			</customHeaders>
		</httpProtocol>
		<modules xdt:Transform="InsertIfMissing" />
		<modules>
			<remove name="RedirectsModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
			<add name="RedirectsModule" type="Skybrud.Umbraco.Redirects.Routing.RedirectsModule, Skybrud.Umbraco.Redirects" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
		</modules>
		<rewrite xdt:Transform="InsertIfMissing" />
		<rewrite>
			<rules xdt:Transform="InsertIfMissing" />
			<rules>
				<!-- Add a CORP header to all client-side resources to prevent embedding on any third-party site that enables COEP -->
				<rule name="CrossOriginResourcePolicy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
					<match url="(.*)\.(jpg|gif|png|svg|webp|avif|ico|js|css)" ignoreCase="true" />
					<serverVariables>
						<set name="RESPONSE_Cross_Origin_Resource_Policy" value="same-origin"/>
					</serverVariables>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<!-- Remove from the installer any custom security headers that would break the installer. -->
	<location path="install" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing" />
	<location path="install" xdt:Locator="Match(path)">
		<system.webServer xdt:Transform="InsertIfMissing" />
		<system.webServer>
			<httpProtocol xdt:Transform="InsertIfMissing" />
			<httpProtocol>
				<customHeaders xdt:Transform="InsertIfMissing" />
				<customHeaders>
					<remove name="Permissions-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
					<remove name="X-Frame-Options" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>

	<!-- Remove from the back office any custom security headers that would break the back office. -->
	<location path="umbraco" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing" />
	<location path="umbraco" xdt:Locator="Match(path)">
		<system.webServer xdt:Transform="InsertIfMissing" />
		<system.webServer>
			<httpProtocol xdt:Transform="InsertIfMissing" />
			<httpProtocol>
				<customHeaders xdt:Transform="InsertIfMissing" />
				<customHeaders>
					<remove name="Permissions-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
					<remove name="X-Frame-Options" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>