<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is deployed to the development environment in Umbraco Cloud.
    
  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer xdt:Transform="InsertIfMissing" />
  <system.webServer>
    <modules xdt:Transform="InsertIfMissing" />
    <modules>
      <remove name="RedirectsModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="RedirectsModule" type="Skybrud.Umbraco.Redirects.Routing.RedirectsModule, Skybrud.Umbraco.Redirects" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
    </modules>
  </system.webServer>
</configuration>