<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec6cea92-b6b8-4abf-a5f6-48167c583745" Alias="Aresson Softy Ball" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/AressonSoftyBall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:42</CreateDate>
    <NodeName Default="Aresson Softy Ball" />
    <SortOrder>13</SortOrder>
    <FileHash>1481651589092116461332541801675221913693157</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/stvgz1fy/softy.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>