<?xml version="1.0" encoding="utf-8"?>
<Media Key="af055af3-d184-4dc6-8a78-8604618e4845" Alias="Brand" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-10T16:09:26</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>