<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b667fdd-13c5-4296-ad77-c25d5d3306fd" Alias="Build Your Own Wicket Step 4, Option 2" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/BuildYourOwnWicketStep4Option2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-27T15:10:44</CreateDate>
    <NodeName Default="Build Your Own Wicket Step 4, Option 2" />
    <SortOrder>23</SortOrder>
    <FileHash>1591843698310823216748148571291652108</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/1n5hms4f/build-your-own-wicket-5.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>