<?xml version="1.0" encoding="utf-8"?>
<Media Key="bda98c67-4479-45a8-ba3e-a59e4dda27f5" Alias="Class V16 Oxbridge Lane boys playing stoolball in Stockton-on-Tees in July 1932" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/ClassV16OxbridgeLaneBoysPlayingStoolballInStocktonOnTeesInJuly1932</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="Class V16 Oxbridge Lane boys playing stoolball in Stockton-on-Tees in July 1932" />
    <SortOrder>26</SortOrder>
    <FileHash>16913413893219323246919160742101923135</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mggktplz/stockton.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>