<?xml version="1.0" encoding="utf-8"?>
<Media Key="107e4ae2-7bf3-4e20-8b3f-a2d9eb7f5630" Alias="Coaching Manual" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/CoachingManual</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:40</CreateDate>
    <NodeName Default="Coaching Manual" />
    <SortOrder>6</SortOrder>
    <FileHash>10224247761121522367616475661964142190</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/2rfh2eht/coaching-manual.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>