<?xml version="1.0" encoding="utf-8"?>
<Media Key="34a1d6ab-d39a-4c76-bf71-7540a63758b1" Alias="Demonstrating the straight drive shot" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/DemonstratingTheStraightDriveShot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T22:32:13</CreateDate>
    <NodeName Default="Demonstrating the straight drive shot" />
    <SortOrder>0</SortOrder>
    <FileHash>3912456482061461571452299226235108105167</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vxlkcne0/coachingbatting.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>