<?xml version="1.0" encoding="utf-8"?>
<Media Key="3723fbad-7737-4757-9c2e-75c1db399b37" Alias="Funded by the National Lottery and Sport England" Level="2">
  <Info>
    <Parent Key="558a9916-ab51-49d0-a819-15c3748e937e">Partner Logos</Parent>
    <Path>/PartnerLogos/FundedByTheNationalLotteryAndSportEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:39:13</CreateDate>
    <NodeName Default="Funded by the National Lottery and Sport England" />
    <SortOrder>0</SortOrder>
    <FileHash>116167233301124612913180234143173238252114</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/vp3dgnzx/lottery-and-sport-england.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>