<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b877e63-0846-4879-aa09-6f9438e6cc22" Alias="Gray-Nicolls Bat" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/GrayNicollsBat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:41</CreateDate>
    <NodeName Default="Gray-Nicolls Bat" />
    <SortOrder>7</SortOrder>
    <FileHash>43871474930180234542231699917489067240</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mv5io00g/grays.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>