<?xml version="1.0" encoding="utf-8"?>
<Media Key="20267099-8355-4234-a4e0-4c08d2908441" Alias="Header photos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeaderPhotos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-07-18T22:15:18</CreateDate>
    <NodeName Default="Header photos" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>