<?xml version="1.0" encoding="utf-8"?>
<Media Key="da2b050f-4a6d-4ebd-a00a-a0ece6e9a77e" Alias="How to score a stoolball match" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/HowToScoreAStoolballMatch</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-09T19:15:51</CreateDate>
    <NodeName Default="How to score a stoolball match" />
    <SortOrder>3</SortOrder>
    <FileHash>1882531519248159172479559227135742532412</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c2cdxwtn/how-to-score.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>