<?xml version="1.0" encoding="utf-8"?>
<Media Key="edf89fa5-a3f0-4031-b47e-8a27a50cc9da" Alias="Kay Price" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/KayPrice</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-27T12:45:10</CreateDate>
    <NodeName Default="Kay Price" />
    <SortOrder>2</SortOrder>
    <FileHash>2141808121722497729225481212188318068158</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/uoppr1pq/kay.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>