<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae79bbe9-83c4-40b9-bd49-960f4d9364ad" Alias="Lets Play Stoolball DVD" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/LetsPlayStoolballDVD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T22:23:08</CreateDate>
    <NodeName Default="Lets Play Stoolball DVD" />
    <SortOrder>0</SortOrder>
    <FileHash>16626102128164771802531831212815710819212</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/343htlwe/lets-play-stoolball.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>