<?xml version="1.0" encoding="utf-8"?>
<Media Key="50e9f40c-3be5-42cb-b00a-73966df4dd74" Alias="Marigolds stoolball team, Three Bridges, West Sussex in the 1950s" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/MarigoldsStoolballTeamThreeBridgesWestSussexInThe1950s</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="Marigolds stoolball team, Three Bridges, West Sussex in the 1950s" />
    <SortOrder>23</SortOrder>
    <FileHash>21420598242072016118023212858540145111244</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bl0osuhf/marigolds.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>