<?xml version="1.0" encoding="utf-8"?>
<Media Key="558a9916-ab51-49d0-a819-15c3748e937e" Alias="Partner Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-10T16:38:41</CreateDate>
    <NodeName Default="Partner Logos" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>