<?xml version="1.0" encoding="utf-8"?>
<Media Key="b32d3cd9-02a3-419c-bd35-042d2c0b1ac3" Alias="Positions on the field of play" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/PositionsOnTheFieldOfPlay</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T19:52:05</CreateDate>
    <NodeName Default="Positions on the field of play" />
    <SortOrder>0</SortOrder>
    <FileHash>2342361147131126251802551217321023819223132</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/124c1m3d/player-positions.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>