<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6f9468f-603c-444a-9905-b7199ed3015e" Alias="Positions on the field of play (PDF)" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/PositionsOnTheFieldOfPlayPDF</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-07T19:52:24</CreateDate>
    <NodeName Default="Positions on the field of play (PDF)" />
    <SortOrder>0</SortOrder>
    <FileHash>1481732401469011722318421158356571408145</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s3dptjr2/positions-on-the-field-of-play.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>