<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b8c6a14-1d75-46c4-9477-54206768cfe9" Alias="Post Covid 19 Contact Register" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/PostCovid19ContactRegister</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-02-09T19:54:14</CreateDate>
    <NodeName Default="Post Covid 19 Contact Register" />
    <SortOrder>8</SortOrder>
    <FileHash>1002620720412271285312712666432524762115</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brviy01v/post-covid-19-contact-register.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>