<?xml version="1.0" encoding="utf-8"?>
<Media Key="13ce13f9-e556-4613-9c51-c89cac142550" Alias="Poster" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/Poster</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T15:24:50</CreateDate>
    <NodeName Default="Poster" />
    <SortOrder>0</SortOrder>
    <FileHash>2163823745076237239721922825310182191137</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/52jn2e0w/poster.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>