<?xml version="1.0" encoding="utf-8"?>
<Media Key="6981e4bf-b464-4869-bada-891bda099c99" Alias="Stoolball England Black Logo with Website (web)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandBlackLogoWithWebsiteWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:22:28</CreateDate>
    <NodeName Default="Stoolball England Black Logo with Website (web)" />
    <SortOrder>0</SortOrder>
    <FileHash>4125081173241902467971218102893623168</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xhsic0le/logo-black-web-url.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>