<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7f1cd43-e791-41d7-ac3b-02cfa087569b" Alias="Stoolball" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/Stoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:40</CreateDate>
    <NodeName Default="Stoolball" />
    <SortOrder>4</SortOrder>
    <FileHash>13211187904224523062105159471941623023165</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/ixgpdr2r/ball.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>