<?xml version="1.0" encoding="utf-8"?>
<Media Key="3485812a-2c43-40cd-a744-34c28194354c" Alias="Stoolball England White Logo (EPS)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWhiteLogoEPS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:17:41</CreateDate>
    <NodeName Default="Stoolball England White Logo (EPS)" />
    <SortOrder>0</SortOrder>
    <FileHash>711502435829148249461674514823221719716</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fsajkncd/stoolball-england-logo-white.eps","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>