<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6444a64-2770-4e56-ae85-ab9212e482be" Alias="Stoolball England Website Address White (PNG)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWebsiteAddressWhitePNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:28:27</CreateDate>
    <NodeName Default="Stoolball England Website Address White (PNG)" />
    <SortOrder>0</SortOrder>
    <FileHash>1731603546140194481415516516413313123994231</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mjfejjtq/url-white.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>