<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0662ba3-fe86-4a90-86c2-9c66a966f2d4" Alias="Treasurers Report End Of Year 2020" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/TreasurersReportEndOfYear2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-09T22:49:10</CreateDate>
    <NodeName Default="Treasurers Report End Of Year 2020" />
    <SortOrder>3</SortOrder>
    <FileHash>1501281491821047923515611451672011870198113</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xmvhnqeg/treasurers-report-end-of-year-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>