<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9a93649-aff4-4426-88e7-dd2249b53e7d" Alias="Cookies Block List" Level="1">
  <Info>
    <Name>Cookies Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Stoolball.BlockEditors/FormattedText.html",
      "stylesheet": "~/css/base.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e8925975-0723-4e47-9837-14e874712218",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>