<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f3e7a23-5f36-4f7e-92ee-e74e428410b5" Alias="Form Picker" Level="1">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>