<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbab0614-89c0-4c01-8a9a-227e4015e191" Alias="Header photo picker" Level="1">
  <Info>
    <Name>Header photo picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/2026709983554234a4e04c08d2908441",
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>