<?xml version="1.0" encoding="utf-8"?>
<DataType Key="591881c4-32eb-4748-ae90-eb86b143a93e" Alias="Header photo" Level="1">
  <Info>
    <Name>Header photo</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Extra-small",
      "width": 576,
      "height": 100
    },
    {
      "alias": "Small",
      "width": 768,
      "height": 150
    },
    {
      "alias": "Medium",
      "width": 992,
      "height": 180
    },
    {
      "alias": "Large",
      "width": 1200,
      "height": 200
    },
    {
      "alias": "Extra-large",
      "width": 2000,
      "height": 300
    }
  ]
}]]></Config>
</DataType>