<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec5d8595-aa17-4136-9007-b14788bab6d3" Alias="Image position - Formatted text with image" Level="1">
  <Info>
    <Name>Image position - Formatted text with image</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>