<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f04fb10-82db-453e-a048-1789d5b6666a" Alias="My Account Block List" Level="1">
  <Info>
    <Name>My Account Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Stoolball.BlockEditors/FormattedText.html",
      "stylesheet": "~/css/base.min.css",
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>