<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24968824-d2ac-4a91-b12c-5eaa44f6f129" Alias="Page Stylesheet Picker" Level="1">
  <Info>
    <Name>Page Stylesheet Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>