<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37089ab9-e777-4a3b-83f9-c6090b6e8187" Alias="Price" Level="1">
  <Info>
    <Name>Price</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 6
}]]></Config>
</DataType>