<?xml version="1.0" encoding="utf-8"?>
<DataType Key="212ad3db-330d-4c8d-b1a4-0131338f479c" Alias="Products Block List" Level="1">
  <Info>
    <Name>Products Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{productName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>