<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e1163cf-08f7-4b67-9c04-4b680d3f60e0" Alias="Product Picker" Level="1">
  <Info>
    <Name>Product Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/f0cf6bcedfc74926abc93c33119036fc",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>