<?xml version="1.0" encoding="utf-8"?>
<DataType Key="649baac8-ada7-4747-aa8f-3a8904a029b4" Alias="Richtext editor - Tip" Level="1">
  <Info>
    <Name>Richtext editor - Tip</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "bold",
      "italic",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/tinymce.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 200
    }
  },
  "OverlaySize": null,
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>