<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02b41e04-4be1-44ea-a007-ab405f324282" Alias="Richtext editor - Formatted text with image" Level="1">
  <Info>
    <Name>Richtext editor - Formatted text with image</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "table",
      "fullscreen"
    ],
    "stylesheets": [
      "/css/tinymce.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "OverlaySize": null,
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>