<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d05dd71-568f-4579-8916-f4f25bbf8322" Alias="Richtext editor - Content Block List" Level="1">
  <Info>
    <Name>Richtext editor - Content Block List</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "table",
      "fullscreen"
    ],
    "stylesheets": [
      "/css/tinymce.css"
    ],
    "maxImageSize": 600,
    "mode": "classic",
    "dimensions": {
      "height": 600
    }
  },
  "OverlaySize": null,
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>