<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18a88801-b9b8-403d-951b-e0a5bd2c0687" Alias="approveMember" Level="2">
  <Info>
    <Name>Approve Member</Name>
    <Icon>icon-checkbox color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Complete registration of a new member account</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>ApproveMember</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8d0a05fa-b295-4537-b655-c91e25f51a62">ApproveMember</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>396d5158-e54d-4d9b-ab15-b34f143379a7</Key>
      <Name>Approval failed</Name>
      <Alias>approvalFailed</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when approval failed for any reason.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de3c005c-f3f5-48d4-a3d3-e245d2f2029f</Key>
      <Name>Approval successful</Name>
      <Alias>approvalSuccessful</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when the member is approved. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b5056add-30c7-4cf9-a4ef-d7ab44e90876</Key>
      <Caption>Page content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>