<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e458e02d-6e71-404d-ad19-c73036af0f02" Alias="confirmEmailAddress" Level="2">
  <Info>
    <Name>Confirm Email Address</Name>
    <Icon>icon-checkbox color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Complete a request to edit a member's email address</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>ConfirmEmailAddress</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3d736c75-83b6-41e6-abb6-a534efcd456d">ConfirmEmailAddress</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d0e8033e-6f97-46ff-894f-bbc52e73a561</Key>
      <Name>Confirmation failed</Name>
      <Alias>confirmationFailed</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when confirmation of a member's email address failed for any reason.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45e8edde-dbaa-4810-81eb-9852344dd3db</Key>
      <Name>Confirmation successful</Name>
      <Alias>confirmationSuccessful</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when the email address is confirmed. You can use {{NAME}} to insert the member's name and {{EMAIL}} to insert the new email address.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aa9b2686-1dbb-431a-aeb2-0d7dd8e2c9a6</Key>
      <Caption>Page content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>