<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75ff99b6-b2d9-416e-a8c6-95c0ff36e3d3" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A normal page with text and images</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0995cb4d-ef70-43a8-9fc6-28e65d15f5d1" SortOrder="0">productList</ContentType>
    <ContentType Key="75ff99b6-b2d9-416e-a8c6-95c0ff36e3d3" SortOrder="1">content</ContentType>
    <ContentType Key="78709437-e0c7-4a2f-9848-11e53bb866df" SortOrder="2">cookies</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>89ef9c3e-79d3-48eb-85e0-e52718bb7d88</Key>
      <Name>Content</Name>
      <Alias>blockList</Alias>
      <Definition>82d9929f-1c7b-454f-9cce-e8d473698e88</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dcbd3ef8-74a9-4e7b-baad-55b6b3b2df81</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>