<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4669a249-dba6-48a4-826a-c76d2042af4d" Alias="design" Level="2">
  <Info>
    <Name>_Design</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ad6eae9f-1634-4678-ac6e-da4f4e31bdfa</Key>
      <Name>Header photo</Name>
      <Alias>headerPhoto</Alias>
      <Definition>cbab0614-89c0-4c01-8a9a-227e4015e191</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The photo which appears across the site header. Leave blank to use the one from the parent page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>250ab4a7-cd87-4ff6-aa4c-2e0634971391</Key>
      <Name>Custom stylesheet</Name>
      <Alias>stylesheet</Alias>
      <Definition>24968824-d2ac-4a91-b12c-5eaa44f6f129</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a9949d8c-655b-4ad2-95ec-b54ec318a877</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>