<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba46bc9a-8c5f-4b34-9708-40ba99b93049" Alias="emailAddress" Level="2">
  <Info>
    <Name>Email Address</Name>
    <Icon>icon-message color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set the email address you sign in with</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>EmailAddress</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="64af9b94-3b50-4652-a1c6-4ba37f92a5d6">EmailAddress</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>789e1469-6279-4db1-b465-218e1e1d46ef</Key>
      <Name>Email body</Name>
      <Alias>confirmEmailBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{NAME}}, {{EMAIL}}, {{TOKEN}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="confirmYourEmailAddressEmail">'Confirm your email address' email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21d0b123-ba45-44aa-9a55-a35e4f49de70</Key>
      <Name>Email subject</Name>
      <Alias>confirmEmailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="confirmYourEmailAddressEmail">'Confirm your email address' email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a1948fd-e556-4749-a884-54ed405670a8</Key>
      <Name>Email body</Name>
      <Alias>emailTakenBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{NAME}}, {{EMAIL}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="emailAddressBelongsToAnotherMemberEmail">'Email address belongs to another member' email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f14e2de4-0520-42e3-8211-7d367c8b7e2f</Key>
      <Name>Email subject</Name>
      <Alias>emailTakenSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="emailAddressBelongsToAnotherMemberEmail">'Email address belongs to another member' email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ac9606d-82d6-40f8-921c-cc096a079290</Key>
      <Name>Password help</Name>
      <Alias>passwordHelp</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Explain why the member has to enter their password.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bccf804e-5e8b-4de3-aff4-2734eb5cc4e3</Key>
      <Name>Requested</Name>
      <Alias>requested</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when a new email address has been requested successfully.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15c74224-0369-411b-afe1-66eb9bc8e6db</Key>
      <Name>'Save' button</Name>
      <Alias>saveButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the form submit button.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e02ed2e2-df25-4bbb-bd88-41645ba66a7c</Key>
      <Caption>Page content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4d77903a-9385-4b11-b950-c0c0fcc36ce0</Key>
      <Caption>'Email address belongs to another member' email</Caption>
      <Alias>emailAddressBelongsToAnotherMemberEmail</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>adb1ed8e-0453-4b99-8155-0a2157395d39</Key>
      <Caption>'Confirm your email address' email</Caption>
      <Alias>confirmYourEmailAddressEmail</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>