<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a571f61-1f6b-46bd-ba67-0bf12e1a62e6" Alias="formElementType" Level="2">
  <Info>
    <Name>Form</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a5920c4-f382-4d3f-bb90-bf4729af92b1</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>1f3e7a23-5f36-4f7e-92ee-e74e428410b5</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ed349e2d-46f1-45fc-94eb-188ddafe9933</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>