<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7c3c374-7a96-4291-b0c3-62dd6315ffce" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Stoolball England home page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="efeee16e-a1be-47c8-91a7-501c7f598ade">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0995cb4d-ef70-43a8-9fc6-28e65d15f5d1" SortOrder="0">productList</ContentType>
    <ContentType Key="16aa3fb1-f5c6-4b82-90cd-427098c577e0" SortOrder="1">news</ContentType>
    <ContentType Key="75ff99b6-b2d9-416e-a8c6-95c0ff36e3d3" SortOrder="2">content</ContentType>
    <ContentType Key="7f362088-5769-42c5-a05a-bf015c074613" SortOrder="3">styleGuide</ContentType>
    <ContentType Key="eb801e6f-d097-4301-a35f-a9bd4f4da1fb" SortOrder="4">myAccount</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>