<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e4d0122-c7a4-4a45-8e22-3be6f2f0e4ca" Alias="loginMember" Level="2">
  <Info>
    <Name>Login Member</Name>
    <Icon>icon-logout color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Login to a member account</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>LoginMember</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="efab32b5-7666-43a4-b4fd-55e0d2b00e27">LoginMember</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>07181917-bcf9-4ff3-bfa5-46bbbb344fb2</Key>
      <Name>Email body</Name>
      <Alias>approveMemberBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{NAME}}, {{EMAIL}}, {{TOKEN}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="approveMemberEmailReSentIfAMemberAttemptsToLoginButIsNotApproved">'Approve member' email (re-sent if a member attempts to login but is not approved)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>013dd7c3-b0da-44df-a705-2c7ef6add1d1</Key>
      <Name>Email subject</Name>
      <Alias>approveMemberSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="approveMemberEmailReSentIfAMemberAttemptsToLoginButIsNotApproved">'Approve member' email (re-sent if a member attempts to login but is not approved)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1cee3b15-db72-4ea1-ac57-946eba2c30ef</Key>
      <Name>Logged in</Name>
      <Alias>loggedIn</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays instead of the form when a member is logged in. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5ca4e12-ff76-42fb-bd86-9da09be78550</Key>
      <Name>'Login' button</Name>
      <Alias>loginButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the form submit button.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d67d27b8-89cd-4cd8-9531-3b59875d4954</Key>
      <Name>Login required</Name>
      <Alias>loginRequired</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays above the form when a page requires the member to be logged in.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c658e086-b6e3-4afd-996c-b6564aaddb08</Key>
      <Name>Migrated member accounts</Name>
      <Alias>migratedMemberAccounts</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Advice for members whose accounts have been migrated from the old website.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42a5814f-7fc5-4c9c-9228-eb0697292777</Key>
      <Name>Permission required</Name>
      <Alias>permissionRequired</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays above the form when a member is logged in but a page requires more permissions. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dbc9537-6ae4-437a-a34d-2528147bbc90</Key>
      <Name>Reset password</Name>
      <Alias>resetPassword</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays below the Login button and prompts the member to reset their password if they are unable to login.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ffefb86-525f-4e04-a320-ba44b4a42f9d</Key>
      <Name>Email body</Name>
      <Alias>resetPasswordBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{NAME}}, {{EMAIL}}, {{TOKEN}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="resetPasswordEmailSentIfAMemberAttemptsToLoginButIsLockedOut">'Reset password' email (sent if a member attempts to login but is locked out)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe6aba03-e36a-4fe6-93d1-83d69bbcde85</Key>
      <Name>Email subject</Name>
      <Alias>resetPasswordSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resetPasswordEmailSentIfAMemberAttemptsToLoginButIsLockedOut">'Reset password' email (sent if a member attempts to login but is locked out)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce46aa63-4b12-4c9f-855b-b62bc2a4b04a</Key>
      <Caption>Page content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>34ad7e5c-194a-4b9a-b492-8f4c43cd6ef7</Key>
      <Caption>'Approve member' email (re-sent if a member attempts to login but is not approved)</Caption>
      <Alias>approveMemberEmailReSentIfAMemberAttemptsToLoginButIsNotApproved</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>dc18782f-88b7-4840-bc90-be0bc59c5e03</Key>
      <Caption>'Reset password' email (sent if a member attempts to login but is locked out)</Caption>
      <Alias>resetPasswordEmailSentIfAMemberAttemptsToLoginButIsLockedOut</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>