<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="60449f5c-60f5-4153-ae5f-9ddd4d2c1d15" Alias="logoutMember" Level="2">
  <Info>
    <Name>Logout Member</Name>
    <Icon>icon-log-out color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Logout of a member account</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>LogoutMember</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a91a6a71-f4b2-4298-932d-850354b762fb">LogoutMember</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>94e53313-90aa-4754-8cc2-5487ef8a0e97</Key>
      <Name>'Go back to Home' button</Name>
      <Alias>homeButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the button which appears after the 'Logged out' message.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11e4be85-24ce-4b58-afff-3b84bc6cfb8a</Key>
      <Name>Logged in</Name>
      <Alias>loggedIn</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when a member is still logged in. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1916f534-5af8-4680-8d86-dc73556283a3</Key>
      <Name>Logged out</Name>
      <Alias>loggedOut</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays when a member is logged out.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db6f85d4-7f03-42d3-8b37-d552b772060b</Key>
      <Name>'Logout' button</Name>
      <Alias>logoutButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the form submit button.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageContent">Page content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3886e9a7-c2d1-44bd-9eec-e6971ff36d01</Key>
      <Caption>Page content</Caption>
      <Alias>pageContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>