<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb801e6f-d097-4301-a35f-a9bd4f4da1fb" Alias="myAccount" Level="2">
  <Info>
    <Name>My Account</Name>
    <Icon>icon-male-and-female color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of settings for a member account</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>MyAccount</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f1f9344a-e8b4-46d3-8234-a58036379504">MyAccount</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="18a88801-b9b8-403d-951b-e0a5bd2c0687" SortOrder="0">approveMember</ContentType>
    <ContentType Key="0e4d0122-c7a4-4a45-8e22-3be6f2f0e4ca" SortOrder="1">loginMember</ContentType>
    <ContentType Key="d02eb9b1-6d4c-4bb5-9f21-2f5daa4681e7" SortOrder="2">createMember</ContentType>
    <ContentType Key="0465ea37-8c16-4767-95b5-cd3b96d72381" SortOrder="3">resetPassword</ContentType>
    <ContentType Key="60449f5c-60f5-4153-ae5f-9ddd4d2c1d15" SortOrder="4">logoutMember</ContentType>
    <ContentType Key="9d4a4f9e-28df-4498-8206-7990797df794" SortOrder="5">personalDetails</ContentType>
    <ContentType Key="ba46bc9a-8c5f-4b34-9708-40ba99b93049" SortOrder="6">emailAddress</ContentType>
    <ContentType Key="e458e02d-6e71-404d-ad19-c73036af0f02" SortOrder="7">confirmEmailAddress</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>62770a74-e12c-4be2-8ca1-f20869cdb39d</Key>
      <Name>Content</Name>
      <Alias>blockList</Alias>
      <Definition>2f04fb10-82db-453e-a048-1789d5b6666a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad4a166c-4f07-4d05-b38d-f50bfce88017</Key>
      <Name>Gravatar</Name>
      <Alias>gravatar</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays next to the member's gravatar and explains that it can be changed at gravatar.com.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>af44ff4f-efa9-4069-b8cc-afd9a8faaa59</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>