<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="16aa3fb1-f5c6-4b82-90cd-427098c577e0" Alias="news" Level="2">
  <Info>
    <Name>News</Name>
    <Icon>icon-newspaper color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A home page for Stoolball England news</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>News</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>News</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="207b1110-bbe7-4e93-bd83-c3761b338ee3">News</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da6181ad-3349-4a98-915f-9d000e1e226b" SortOrder="0">newsStory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>