<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0465ea37-8c16-4767-95b5-cd3b96d72381" Alias="resetPassword" Level="2">
  <Info>
    <Name>Reset Password</Name>
    <Icon>icon-lock color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Reset a member's password</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Account</Folder>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
      <Composition Key="d9999f5a-c07b-4f37-9d01-3f0316d8678c">metadata</Composition>
    </Compositions>
    <DefaultTemplate>ResetPasswordRequest</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eef6ed69-b8c8-4cea-bfff-e07544ca64f6">ResetPassword</Template>
      <Template Key="289a8b84-d458-4034-a788-a70fc734316d">ResetPasswordComplete</Template>
      <Template Key="4072232a-f3ee-4ffc-9d22-04bd3f9dcb11">ResetPasswordRequest</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>30215f7b-d1a3-4769-91ce-3fd77d75c99e</Key>
      <Name>Email body</Name>
      <Alias>approveMemberBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{NAME}}, {{EMAIL}}, {{TOKEN}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="approveMemberEmailReSentIfMemberIsNotApproved">'Approve member' email (re-sent if member is not approved)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3aa7ab13-f44f-404f-b5d1-3e75c620dc6f</Key>
      <Name>Email subject</Name>
      <Alias>approveMemberSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="approveMemberEmailReSentIfMemberIsNotApproved">'Approve member' email (re-sent if member is not approved)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>052b1ce7-8f72-480c-aaa0-a6a49f0dec9a</Key>
      <Name>Email body</Name>
      <Alias>createMemberBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{EMAIL}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="createMemberEmailSentIfNoMemberMatchesTheEmailAddress">'Create member' email (sent if no member matches the email address)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d2c26dc-3976-48f8-aa6f-7f0eb0113f5b</Key>
      <Name>Email subject</Name>
      <Alias>createMemberSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="createMemberEmailSentIfNoMemberMatchesTheEmailAddress">'Create member' email (sent if no member matches the email address)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8e15c9b-78d5-496a-9044-79fb6963e7f1</Key>
      <Name>'Go back to Home' button</Name>
      <Alias>homeButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the button which appears after the password reset is complete.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageContentUpdateYourPassword">Page content - Update your password</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>16d79713-9e0d-4a43-85db-79f4f283c868</Key>
      <Name>Logged in</Name>
      <Alias>loggedIn</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays instead of the form when a member is logged in. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContentRequestAPasswordReset">Page content - Request a password reset</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f7aac66-9a39-48fb-aff5-4ed5f1f8cea4</Key>
      <Name>Password help</Name>
      <Alias>passwordHelp</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Advice on minimum password complexity requirements.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageContentUpdateYourPassword">Page content - Update your password</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf21a651-86d0-4d51-9afe-cab8e1010196</Key>
      <Name>Password reset failed</Name>
      <Alias>passwordResetFailed</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displayed when the member's password is not saved.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pageContentUpdateYourPassword">Page content - Update your password</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed0022b3-5d4b-4627-80f7-d6dd790d8d0e</Key>
      <Name>Password reset requested</Name>
      <Alias>passwordResetRequested</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displayed when a password reset was requested and, if an member was found, an email was sent. You can use {{EMAIL}} to tell them where we sent the email to.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pageContentRequestAPasswordReset">Page content - Request a password reset</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d17016de-7afb-43ba-8b17-54e51df6c72f</Key>
      <Name>Password reset successful</Name>
      <Alias>passwordResetSuccessful</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displayed after a member successfully resets their password.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="pageContentUpdateYourPassword">Page content - Update your password</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7856d58d-d63f-4b4a-ac5e-1364493ce858</Key>
      <Name>Password reset token invalid</Name>
      <Alias>passwordResetTokenInvalid</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displayed when a password reset is requested and the link in the email has expired.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContentUpdateYourPassword">Page content - Update your password</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b8bdb29-8b12-4cc9-9a84-5a14cd2e1ff1</Key>
      <Name>Email body</Name>
      <Alias>resetPasswordBody</Alias>
      <Definition>dcd611c7-e611-40e7-9072-c7eea977a13e</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email. You can use {{NAME}}, {{EMAIL}}, {{TOKEN}} and {{DOMAIN}} to insert values.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="resetPasswordEmail">'Reset password' email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8417e21-54e2-4807-b135-4857b3546b6a</Key>
      <Name>'Reset password' button</Name>
      <Alias>resetPasswordButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the form submit button when requesting a password reset.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageContentRequestAPasswordReset">Page content - Request a password reset</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50c913d0-083d-42f6-a974-fe027b473a5c</Key>
      <Name>Email subject</Name>
      <Alias>resetPasswordSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email. You can use {{NAME}} to insert the member's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="resetPasswordEmail">'Reset password' email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d87fc6e9-c734-433e-b4d4-92a110cd941d</Key>
      <Name>'Update password' button</Name>
      <Alias>updatePasswordButton</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label for the form submit button when updating the member's password.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageContentUpdateYourPassword">Page content - Update your password</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b2d32c5a-296e-4243-a1b4-47471e712367</Key>
      <Caption>Page content - Request a password reset</Caption>
      <Alias>pageContentRequestAPasswordReset</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>074aebc4-e6a5-4354-aee9-61c79d8abbed</Key>
      <Caption>'Reset password' email</Caption>
      <Alias>resetPasswordEmail</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a6282563-16ff-480a-841d-b82e89a59023</Key>
      <Caption>'Create member' email (sent if no member matches the email address)</Caption>
      <Alias>createMemberEmailSentIfNoMemberMatchesTheEmailAddress</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>2175d96d-1b9f-4d14-be1f-1409c1688bda</Key>
      <Caption>'Approve member' email (re-sent if member is not approved)</Caption>
      <Alias>approveMemberEmailReSentIfMemberIsNotApproved</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>f5dc18be-f72c-423d-a490-6d55284faaf0</Key>
      <Caption>Page content - Update your password</Caption>
      <Alias>pageContentUpdateYourPassword</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>