<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b406c979-3428-4717-ade9-2aa16d4cb679" Alias="stoolballRouter" Level="1">
  <Info>
    <Name>Stoolball router</Name>
    <Icon>icon-split-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Requests for stoolball data are directed via this page so that they have an Umbraco context</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
    </Compositions>
    <DefaultTemplate>club</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b1bd5bdd-1a64-44a5-988d-a308ccff8f9a">BattingAverage</Template>
      <Template Key="de170f19-fe52-48e6-8507-69d87e220dce">BattingStrikeRate</Template>
      <Template Key="2e539d51-38d5-45a5-a45f-55395593d770">BowlingAverage</Template>
      <Template Key="917c57f6-ad7a-441f-b597-97bf2150afb9">BowlingFigures</Template>
      <Template Key="c5cb1382-5b65-4f7c-8e31-fd5291e7a10e">BowlingStrikeRate</Template>
      <Template Key="68f5f9c1-538d-43a5-8fd1-37f68893de0a">Catches</Template>
      <Template Key="f2724e57-d127-459a-81b0-cc293e1304b3">club</Template>
      <Template Key="842af0b8-89ea-48c3-8e42-9b41b86eef3a">clubActions</Template>
      <Template Key="c448d7db-3ed1-4fec-b53a-9df3be7abd67">ClubStatistics</Template>
      <Template Key="d0bce9ed-ea03-4b52-a3dc-e19147b0dce9">competition</Template>
      <Template Key="19b067bf-a449-40cc-94c9-709af58fedc3">competitionActions</Template>
      <Template Key="5db4f021-a314-42d8-8d43-a31474980ebf">competitions</Template>
      <Template Key="7e2209f7-22e0-43f7-8946-bd091b0f3ece">CompetitionStatistics</Template>
      <Template Key="e7c3d898-a4c9-4643-b9a4-e5a04e7eb40a">createClub</Template>
      <Template Key="4ff80ce9-f905-41d7-97b6-15c57f20affe">createCompetition</Template>
      <Template Key="90448f17-3160-45e5-aee4-1c4c74655f42">createFriendlyMatch</Template>
      <Template Key="d4a70b97-4685-4fe6-8e9d-f3f5df1649ed">createKnockoutMatch</Template>
      <Template Key="a24fa40a-1004-48cb-8292-c6adf98961a1">createLeagueMatch</Template>
      <Template Key="be17e475-26a4-457c-ba29-144f17b31438">createMatchLocation</Template>
      <Template Key="7770c3e1-9781-4c2f-b06a-ea342782894e">createSeason</Template>
      <Template Key="58890656-a2d6-4ddc-a267-9308bb7ffe42">createTeam</Template>
      <Template Key="120b2463-988a-40b8-86de-1036b758087d">createTournament</Template>
      <Template Key="9b9cab95-5c0d-4d80-afe8-7bcaca68fbe0">CreateTrainingSession</Template>
      <Template Key="007d4a7a-068f-4dd8-b8a6-93271d5bb5f4">deleteClub</Template>
      <Template Key="e9843cad-e384-4361-8f9a-0b3d24e0a926">deleteCompetition</Template>
      <Template Key="59dbe6d1-6220-4193-b25c-86a946c7b238">deleteMatch</Template>
      <Template Key="3dbb05ec-3f9d-4c80-97cd-4dc4ac593d00">deleteMatchLocation</Template>
      <Template Key="96fd2dc0-98f8-4135-aebb-aec489950c8c">deleteSeason</Template>
      <Template Key="e82bf961-049b-4c05-a023-75bf9bc24cb1">deleteTeam</Template>
      <Template Key="7dd8ace8-ec06-4953-94a3-325d64bfebea">deleteTournament</Template>
      <Template Key="344801d0-10f9-4b82-b5a4-36dcd9b352f7">EconomyRate</Template>
      <Template Key="abdd1636-38dd-46c3-8dbd-2e62814f9618">EditBattingScorecard</Template>
      <Template Key="1c032dc7-ae32-40a9-86f4-7b00bcaa4a5a">editBowlingScorecard</Template>
      <Template Key="6fc79165-5bfa-4316-859a-17601cbd5b2a">editCloseOfPlay</Template>
      <Template Key="b4a5d5b9-b7f0-4117-9ebb-54677a9e65e5">editClub</Template>
      <Template Key="399d14d2-ca3d-42f7-90bb-53c42bc79c73">editCompetition</Template>
      <Template Key="2183e1e2-8784-4d96-b2c4-676607c4a30e">editFriendlyMatch</Template>
      <Template Key="59fc1c28-dd8d-4e51-8fa0-0d3c698df319">editKnockoutMatch</Template>
      <Template Key="f189650a-4adf-47b7-818d-ea25f801ade0">editLeagueMatch</Template>
      <Template Key="0622a0f5-f571-40e1-b804-17d9724f7b28">EditMatchFormat</Template>
      <Template Key="40991b55-101e-4f5f-9f9d-dc2b8c617505">editMatchLocation</Template>
      <Template Key="9b092889-d0ae-44fb-9758-8fe20e449e4e">editSeason</Template>
      <Template Key="18d4bbda-bcad-454e-9df6-15feacb65451">editSeasonResultsTable</Template>
      <Template Key="260f8197-aafc-4002-9e43-36247233a05d">editSeasonTeams</Template>
      <Template Key="0f52b305-ec81-40cc-ac40-056ef18b76a9">editStartOfPlay</Template>
      <Template Key="0e110fcc-538f-401f-ac40-2cdfd8916af4">EditStatistics</Template>
      <Template Key="4257e91b-77ec-4d2f-9e2f-e76db4a417d6">editTeam</Template>
      <Template Key="973955e6-04e9-4dbc-9d99-dfb4d18451b9">editTournament</Template>
      <Template Key="cfc50985-69a0-428d-bd13-32a0c51bfcf2">EditTournamentMatches</Template>
      <Template Key="97c862e8-3dec-40ee-b26a-4840969c84aa">EditTournamentSeasons</Template>
      <Template Key="4a426e53-b59d-47ff-8f52-0d3eedac3be0">editTournamentTeams</Template>
      <Template Key="e144a6ed-6a19-464c-947e-c88b5237fc03">EditTrainingSession</Template>
      <Template Key="5b1bb605-ef07-4caf-87a4-ff076841699b">editTransientTeam</Template>
      <Template Key="b3168e24-5f3d-485d-9e91-ab928b3d82f0">IndividualScores</Template>
      <Template Key="48d897f9-994c-4e42-8914-3de314187730">match</Template>
      <Template Key="a02a555e-99ce-4a25-b9a2-894ee1ba167d">matchActions</Template>
      <Template Key="5e205dad-9b45-48df-b2a4-52e173ce5655">Matches</Template>
      <Template Key="069d0e90-2ed4-4a68-bacd-81983a98f048">MatchesCalendar</Template>
      <Template Key="8cfc82c4-5929-4e15-b572-081a5a782caf">matchesForClub</Template>
      <Template Key="c5404e58-46af-4d36-98d3-02cad730707d">matchesForMatchLocation</Template>
      <Template Key="1c17d796-ea8b-4a88-88fc-6a3b082749b3">matchesForSeason</Template>
      <Template Key="07aa3f0c-6fc2-4d2f-a247-3da20ad9b400">matchesForTeam</Template>
      <Template Key="bde7421d-318b-4e36-a931-3efb79fca01a">MatchesRSS</Template>
      <Template Key="bcf47530-158d-44b9-80fa-cd6ba373aacb">matchLocation</Template>
      <Template Key="65e55e57-4563-4e43-8ed0-faa5a1445a64">matchLocationActions</Template>
      <Template Key="f53a93e2-526f-4501-a067-365c41d83432">matchLocations</Template>
      <Template Key="8b6f9fcb-2b1a-4486-a5e8-cd1e8c9b93f3">MatchLocationStatistics</Template>
      <Template Key="b0f77c71-69ab-42b0-9e50-8d6c5685b7e9">MatchTweets</Template>
      <Template Key="d1abbc20-0651-4bb0-9334-6afe8cdb220e">MostCatches</Template>
      <Template Key="01c881ca-72da-40c3-a128-9ba09fe61b46">MostRunOuts</Template>
      <Template Key="0e91f8c9-50fc-49bd-b885-c844dc58e6ca">MostRuns</Template>
      <Template Key="528a60ee-70e6-44ce-a3dc-bdef2015ef9b">MostWickets</Template>
      <Template Key="603072c8-7e91-4f94-aa44-90bd3e24cf67">Player</Template>
      <Template Key="276101cc-29a3-475d-bd7a-47036eed95c7">PlayerBowling</Template>
      <Template Key="ec016dc0-0063-4445-8422-0b657ffdc244">PlayerFielding</Template>
      <Template Key="c63a5d94-4ae8-41f6-838a-82df894c43e4">PlayersForTeam</Template>
      <Template Key="e9b4fa9d-0ea1-41d2-8d2c-e3f033cc6a59">RunOuts</Template>
      <Template Key="15aeb712-cd3d-498c-b575-bb381c342f9c">Schools</Template>
      <Template Key="6e0724f7-aa52-495d-9b0e-5e17fb2c729a">season</Template>
      <Template Key="9a10f32f-8bb9-4c09-8cc9-4727000a8689">seasonActions</Template>
      <Template Key="4d75c8fd-0211-45ef-bc6e-79c6a1391f78">SeasonMap</Template>
      <Template Key="46061854-2cda-4d89-9984-4dbc3d4c3a5a">seasonResultsTable</Template>
      <Template Key="d2f0ef34-69fb-4541-81fa-67b498d354a8">SeasonStatistics</Template>
      <Template Key="8d35edd4-fbd0-495c-98d0-483c9d755dd5">Statistics</Template>
      <Template Key="3665664f-1024-441f-b4dd-184d3e2eb7d7">team</Template>
      <Template Key="d3627b04-d135-47d3-a451-451c3f89698d">teamActions</Template>
      <Template Key="cea4774e-b1e8-4e44-a57e-d011e4182b71">teams</Template>
      <Template Key="7e20e79a-091e-4213-924c-dc4784b1152b">TeamsMap</Template>
      <Template Key="69740013-a492-4e02-a005-60539577a987">TeamStatistics</Template>
      <Template Key="975dfe2a-5375-4f20-8747-871a5efb9146">tournament</Template>
      <Template Key="9be1c73c-2a22-4370-afd6-4f78738e0703">tournamentActions</Template>
      <Template Key="025392c9-9fe5-460b-88b1-396a292a0eaa">Tournaments</Template>
      <Template Key="eb7bae71-ca40-4a2e-9432-019b3f40a9bf">TournamentsRSS</Template>
      <Template Key="a53e9554-61fb-4991-a5d4-44d39b2abfbb">TournamentTweets</Template>
      <Template Key="db038178-3ee9-4b34-8eb8-a42c2ea95ced">transientTeam</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>