<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f362088-5769-42c5-a05a-bf015c074613" Alias="styleGuide" Level="1">
  <Info>
    <Name>Style guide</Name>
    <Icon>icon-palette color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A reference guide and a tool to check the various layout elements used across the site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="4669a249-dba6-48a4-826a-c76d2042af4d">design</Composition>
    </Compositions>
    <DefaultTemplate>StyleGuide</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="edb47a3c-34b0-473b-8473-a2ebcbf05a00">StyleGuide</Template>
      <Template Key="d9f8ca54-c4ac-40e2-aeb9-505e59299c82">StyleGuideForms</Template>
      <Template Key="17703d50-f4ae-454a-9dc5-0c961eae0205">StyleGuideStoolballData</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1e7a31b3-6c5a-4c3f-b5c3-b1e8e91d3866</Key>
      <Name>Content</Name>
      <Alias>blockList</Alias>
      <Definition>82d9929f-1c7b-454f-9cce-e8d473698e88</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76f2921d-b66e-4f4d-9948-88fecaa3619c</Key>
      <Name>Form</Name>
      <Alias>blockListForm</Alias>
      <Definition>82d9929f-1c7b-454f-9cce-e8d473698e88</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>036e1447-e6fd-4791-b750-e38c4fb72572</Key>
      <Name>Cookies</Name>
      <Alias>cookiesBlockList</Alias>
      <Definition>b9a93649-aff4-4426-88e7-dd2249b53e7d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af4ba67b-9d93-4782-880c-70fa4b03a765</Key>
      <Name>Products</Name>
      <Alias>productBlockList</Alias>
      <Definition>212ad3db-330d-4c8d-b1a4-0131338f479c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40a651ae-4b5d-4f45-bd0f-39083aae9bbd</Key>
      <Name>Don't show this in menus</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b2f3861d-3a98-491b-8aec-38cc3ee48a5e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>3ea5388c-dca9-4735-9316-c9e0f49ccd7e</Key>
      <Caption>Metadata</Caption>
      <Alias>metadata</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>