<?xml version="1.0" encoding="utf-8"?>
<Content Key="243a0616-2f21-4eb6-b26c-9d77631cd731" Alias="Contact us about stoolball" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/ContactUsAboutStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-02T15:51:44</CreateDate>
    <NodeName Default="Contact us about stoolball" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b9c8524f71dd4393a06332a284e8f156"
      },
      {
        "contentUdi": "umb://element/d238e9b767ac48bd9f93b7d89c76b68a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/b9c8524f71dd4393a06332a284e8f156",
      "text": "<p>Use this form to ask us about stoolball or about the work of Stoolball England. For problems, questions and suggestions about how this website works, please <a href=\"/{localLink:umb://document/aa129a9df99d4554a0c926d209536a06}\" title=\"Contact us about this website\">contact us about this website</a>.</p>"
    },
    {
      "contentTypeKey": "9a571f61-1f6b-46bd-ba67-0bf12e1a62e6",
      "udi": "umb://element/d238e9b767ac48bd9f93b7d89c76b68a",
      "form": "c1a228c8-12a6-4bcc-ae82-bb5924b6ba5e"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[contact]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>