<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc78f003-19da-409c-bc50-fdb2d60d45fe" Alias="Create an account" Level="3">
  <Info>
    <Parent Key="cf48e9db-577b-4334-96d7-cf0d12b3dfcd">My account</Parent>
    <Path>/Home/MyAccount/CreateAnAccount</Path>
    <Trashed>false</Trashed>
    <ContentType>createMember</ContentType>
    <CreateDate>2020-03-08T19:09:22</CreateDate>
    <NodeName Default="Create an account" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f0485339-ac8b-45ab-8347-d716b192422f">CreateMember</Template>
  </Info>
  <Properties>
    <approveMemberBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>Thanks for creating an account! To activate your account please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/activate?token={{TOKEN}}">https://{{DOMAIN}}/account/activate?token={{TOKEN}}</a></p>
<p>This link will expire in 24 hours. If you left it too late, <a href="https://{{DOMAIN}}/account/reset-password">reset your password</a>.</p>]]></Value>
    </approveMemberBody>
    <approveMemberSubject>
      <Value><![CDATA[Activate your Stoolball England account]]></Value>
    </approveMemberSubject>
    <createMemberButton>
      <Value><![CDATA[Create an account]]></Value>
    </createMemberButton>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <loggedIn>
      <Value><![CDATA[<p>You're already signed in as <strong>{{NAME}}</strong>. To create a new account, please sign out.</p>]]></Value>
    </loggedIn>
    <memberCreatedSuccessfully>
      <Value><![CDATA[<p>Nearly there! We've sent you a link to activate your account.</p>
<p>Please check your email at <strong>{{EMAIL}}</strong> and click on the link.</p>
<p>The link will expire in 24 hours.</p>]]></Value>
    </memberCreatedSuccessfully>
    <memberExistsBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>You tried to create an account with Stoolball England, but you've already got one.</p>
<p>To reset your password please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/reset-password">https://{{DOMAIN}}/account/reset-password</a></p>]]></Value>
    </memberExistsBody>
    <memberExistsSubject>
      <Value><![CDATA[You've already got an account with Stoolball England]]></Value>
    </memberExistsSubject>
    <passwordHelp>
      <Value><![CDATA[At least 10 characters]]></Value>
    </passwordHelp>
    <privacyNotice>
      <Value><![CDATA[<p>We'll only use your data to manage your account, as explained in our <a rel="noopener" href="/{localLink:umb://document/d614444eea0a4f36b107336c1f6aed88}" target="_blank" title="Privacy notice - your Stoolball England account">privacy notice</a>.</p>]]></Value>
    </privacyNotice>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[create]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>