<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa9a4f49-a553-4026-bb58-aa6aebdb363a" Alias="Current restrictions to playing stoolball indoors" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/CurrentRestrictionsToPlayingStoolballIndoors</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2020-12-09T22:56:22</CreateDate>
    <NodeName Default="Current restrictions to playing stoolball indoors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c50079268bc6421386f25c02b27d243f",
        "settingsUdi": "umb://element/d7cdfd2aa8614c0ba219a4b514c66f99"
      },
      {
        "contentUdi": "umb://element/0062c0bed2e84e879466b7eae32aaeda",
        "settingsUdi": "umb://element/eb5d0a046e31400f8efac5c7ae7e8376"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/c50079268bc6421386f25c02b27d243f",
      "text": "<p>To all of our stakeholders.</p>\n<p>We would like to advise that in view of recent government announcements regarding indoor team sport for adults, Indoor Stoolball leagues will not be permitted until further notice.</p>\n<p>You can <a href=\"https://www.sportengland.org/news/rule-six-be-applied-adult-indoor-team-sports\">read the full guidance from Sport England</a>. We will hopefully be back to playing stoolball indoors soon.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/0062c0bed2e84e879466b7eae32aaeda",
      "image": "umb://media/8265b7b32dd74557b3d1cf997f79b265",
      "showCaption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/d7cdfd2aa8614c0ba219a4b514c66f99",
      "includeInSummary": "1"
    },
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/eb5d0a046e31400f8efac5c7ae7e8376",
      "includeInSummary": "0"
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[2020-10-02T00:00:00]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>