<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf48e9db-577b-4334-96d7-cf0d12b3dfcd" Alias="My account" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/MyAccount</Path>
    <Trashed>false</Trashed>
    <ContentType>myAccount</ContentType>
    <CreateDate>2021-12-08T12:11:11</CreateDate>
    <NodeName Default="My account" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f1f9344a-e8b4-46d3-8234-a58036379504">MyAccount</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/252e637faacc4c31842d193977f214f6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/252e637faacc4c31842d193977f214f6",
      "text": "<h2><a href=\"/{localLink:umb://document/22740bbe63424781a63f12570b80b95b}\" title=\"Personal details\">Personal details</a></h2>\n<p>Change the name we use when we email you.</p>\n<h2><a href=\"/{localLink:umb://document/3acf100391104889bb1b6db405020347}\" title=\"Edit email address\">Email address</a></h2>\n<p>Set the email address you sign in with.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gravatar>
      <Value><![CDATA[<p>You can change your account picture on the <a rel="noopener" href="https://gravatar.com" target="_blank">Gravatar</a> website.</p>]]></Value>
    </gravatar>
    <headerPhoto>
      <Value><![CDATA[umb://media/fb9ab61402db423287f1fa3602d7284c]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[account]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>