<?xml version="1.0" encoding="utf-8"?>
<Content Key="94e7cab0-6085-4e6d-88e9-a8ebe69358c9" Alias="The W W Grantham bat collection" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/TheWWGranthamBatCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-03T21:21:28</CreateDate>
    <NodeName Default="The W W Grantham bat collection" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e870823e968341199a00049ca498fd1d"
      },
      {
        "contentUdi": "umb://element/caec4f4217234e53bba5b26402da841b"
      },
      {
        "contentUdi": "umb://element/6cb766a2aea6416f903078a88bec3706"
      },
      {
        "contentUdi": "umb://element/6eca434484b84d19b643dc6c5b3b47ae"
      },
      {
        "contentUdi": "umb://element/87547facc3c94188932ff823b4eec76b"
      },
      {
        "contentUdi": "umb://element/3c508e234d3948eabd892298f120ab31"
      },
      {
        "contentUdi": "umb://element/8cd30a13c96447d28f1d0572a9cd6522"
      },
      {
        "contentUdi": "umb://element/cbe9548ab9244adbae529031abc98633"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/e870823e968341199a00049ca498fd1d",
      "text": "<p>Major W W Grantham, who did so much for stoolball after World War One, was known to have commissioned various bats as he travelled the world on cruise ships. John Price, Stoolball England Chairman, spent five years tracking them down before, in summer 2007, they were found in the Sussex hamlet of Town Littleworth, very near the Grantham ancestral home of Balneath Manor.</p>\n<p>There are 11 bats of all shapes and sizes. One painted black has a large hitting area nearly 12 inches wide but a short handle; another is held together with very prominent nuts and bolts. Many of bats carry the name of the steam ship where they had been created and some bear the name of a port visited - Helsingfors in Finland, Vladivostock in Siberia, Russia and Kandy in Ceylon (Sri Lanka). They all show the date they were made, the earliest being 1924 and the latest 1937.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/caec4f4217234e53bba5b26402da841b",
      "image": "umb://media/f72595d026a64fd5ad83ff62ea169cb4",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/6cb766a2aea6416f903078a88bec3706",
      "image": "umb://media/69ad3441c0e14ba58f5ecb4c47fb5d21",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/6eca434484b84d19b643dc6c5b3b47ae",
      "image": "umb://media/280cda4d69c14fb89d63eb6cb7be550e",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/87547facc3c94188932ff823b4eec76b",
      "image": "umb://media/389e3dfc4557408c86308b4dc55ce125",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/3c508e234d3948eabd892298f120ab31",
      "image": "umb://media/cf4d026940bb4dfe96106073bd5aa9c8",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/8cd30a13c96447d28f1d0572a9cd6522",
      "image": "umb://media/aaf3dcbffec2434a8631c7fb93c603fb",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/cbe9548ab9244adbae529031abc98633",
      "image": "umb://media/d90a4757d4914f40a1c55a123a8d7c33",
      "showCaption": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Major W W Grantham was known to have commissioned various bats as he travelled the world on cruise ships. John Price spent five years tracking them down to the Sussex hamlet of Town Littleworth.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>