<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca903811-f540-49b2-babd-9f3f0f220c38" Alias="Activate your account" Level="102">
  <Info>
    <Parent Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">My account (1)</Parent>
    <Path>/[-20]/MyAccount1/ActivateYourAccount</Path>
    <Trashed Parent="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">true</Trashed>
    <ContentType>approveMember</ContentType>
    <CreateDate>2021-12-22T16:51:03</CreateDate>
    <NodeName Default="Activate your account" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d0a05fa-b295-4537-b655-c91e25f51a62">ApproveMember</Template>
  </Info>
  <Properties>
    <approvalFailed>
      <Value><![CDATA[<p>Sorry, we weren't able to activate your account.</p>
<p>This may be because it's already active. You can try to <a href="/{localLink:umb://document/b02bfaab17b34c6098c8ff34e6ebb8c6}" title="Reset password">reset your password</a>.</p>]]></Value>
    </approvalFailed>
    <approvalSuccessful>
      <Value><![CDATA[<p>Welcome to Stoolball England {{NAME}}!</p>
<p>Your account is now active and you can <a href="/{localLink:umb://document/87bfce8825a0407cb0755e9c1a92050a}" title="Sign in">sign in</a>.</p>]]></Value>
    </approvalSuccessful>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[activate]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>