<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f3fe275-c158-4e12-824d-4a32beacb0c7" Alias="Combine your statistics when you play for multiple teams or change your name" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/CombineYourStatisticsWhenYouPlayForMultipleTeamsOrChangeYourName</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2022-09-20T16:50:50</CreateDate>
    <NodeName Default="Combine your statistics when you play for multiple teams or change your name" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c608fd331734d8c90c1b06d556e610d",
        "settingsUdi": "umb://element/f0761a915b4248e89c7775c3fe0707d3"
      },
      {
        "contentUdi": "umb://element/f1f29f112615424ca98492a549311304",
        "settingsUdi": "umb://element/0847f5685499454091331c38abcd3522"
      },
      {
        "contentUdi": "umb://element/d678f19dc4f7497abd44d416f8672ede",
        "settingsUdi": "umb://element/94c4ebdde55146abb8c7e41886bb38aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/2c608fd331734d8c90c1b06d556e610d",
      "text": "<p>It's something you've requested for many years. You have two or more sets of statistics on this website - they're all you, but they're completely separate. This can happen because:</p>\n<ul>\n<li>you've changed your name, perhaps for marriage</li>\n<li>you play both ladies and mixed for your club</li>\n<li>you play for multiple teams</li>\n<li>someone misspelled your name</li>\n</ul>\n<p>Now for the first time you can combine them into one set of <em>all</em> your statistics.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/f1f29f112615424ca98492a549311304",
      "image": "umb://media/0fa6d16439c142578d30886565267764",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d678f19dc4f7497abd44d416f8672ede",
      "text": "<p>The screenshot above shows a player who has played for several teams, and been recorded under multiple names.</p>\n<p>To combine your statistics, start by signing in to the site. Find your player page, and then click \"Link this player to my account\" at the bottom. Then find your next player page and do the same. You'll see your new name or team listed right away, but your statistics will take some time to update. When you look again later, you'll see your new combined statistics reflected throughout the site.</p>\n<p>If the link isn't there then you're looking at a player that someone else has already linked to their own account. <strong>It's important to link only your own statistics to your account. </strong>If you make a mistake you can visit a new \"Players linked to my account\" page and unlink a player you previously linked.</p>\n<p>We're looking forward to seeing the leaderboards changed as you start to combine your statistics.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/f0761a915b4248e89c7775c3fe0707d3",
      "includeInSummary": 1
    },
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/0847f5685499454091331c38abcd3522",
      "includeInSummary": 1
    },
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/94c4ebdde55146abb8c7e41886bb38aa",
      "includeInSummary": 0
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[It's something you've requested for many years. You've got married and changed your name, or you play for multiple teams, and on this website that means you have two separate sets of statistics. Now for the first time you can combine them into one set of all your statistics.]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[combine-your-statistics]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>