<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7c756d5-314c-41e4-af93-b2b18d3f3c28" Alias="Edit email address" Level="2">
  <Info>
    <Parent Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">My account</Parent>
    <Path>/[-20]/MyAccount/EditEmailAddress</Path>
    <Trashed>false</Trashed>
    <ContentType>emailAddress</ContentType>
    <CreateDate>2021-12-22T16:55:12</CreateDate>
    <NodeName Default="Edit email address" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64af9b94-3b50-4652-a1c6-4ba37f92a5d6">EmailAddress</Template>
  </Info>
  <Properties>
    <confirmEmailBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>You asked to change your email address on the Stoolball England website to {{EMAIL}}.</p>
<p>To confirm your new email address, please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/confirm-email?token={{TOKEN}}" data-anchor="?token={{TOKEN}}">https://{{DOMAIN}}/account/confirm-email?token={{TOKEN}}</a></p>
<p>This link will expire in 24 hours.</p>]]></Value>
    </confirmEmailBody>
    <confirmEmailSubject>
      <Value><![CDATA[Please confirm your email address]]></Value>
    </confirmEmailSubject>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <emailTakenBody>
      <Value><![CDATA[<p>You tried to edit the email address for your account on the Stoolball England website, but there is already another account for {{EMAIL}}.</p>
<p>To reset your password for {{EMAIL}} please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/reset-password">https://{{DOMAIN}}/account/reset-password</a></p>]]></Value>
    </emailTakenBody>
    <emailTakenSubject>
      <Value><![CDATA[We can't update your email address because you have another account]]></Value>
    </emailTakenSubject>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <passwordHelp>
      <Value><![CDATA[For your security, you must enter your current password to change your email address.]]></Value>
    </passwordHelp>
    <requested>
      <Value><![CDATA[<p>We've sent an email to your new address. <strong>Please check your email inbox.</strong></p>
<p>Back to <a href="/{localLink:umb://document/b0d6cf0fca874ecdaed4ef4c8cc6abde}" title="My account">My account</a>.</p>]]></Value>
    </requested>
    <saveButton>
      <Value><![CDATA[Save changes]]></Value>
    </saveButton>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[email]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>