<?xml version="1.0" encoding="utf-8"?>
<Content Key="aad7d22a-f286-4c12-95d9-2f621a48ede8" Alias="Executive Committee Vacancies" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/ExecutiveCommitteeVacancies</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2021-02-09T19:50:09</CreateDate>
    <NodeName Default="Executive Committee Vacancies" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d5ebfc33901a4c15835667e0c2f37b85",
        "settingsUdi": "umb://element/9939555de6914b7182261156a656e9d0"
      },
      {
        "contentUdi": "umb://element/7b90d74a3aff419282ed39994053ee37",
        "settingsUdi": "umb://element/66a70fc8014642618b3265a4bf64bf75"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d5ebfc33901a4c15835667e0c2f37b85",
      "text": "<p>Stoolball England is an exciting and forward-thinking National Governing Body and we are looking for two new committee members to join the team.</p>\n<p>We have two vacant roles, both available on a voluntary basis. We would be pleased to hear from you if you are interested in either post.  Please <a href=\"/{localLink:umb://document/243a06162f214eb6b26c9d77631cd731}\" title=\"Contact us about stoolball\">contact us</a> <a href=\"https://www.stoolball.org.uk/contact/email?to=WHc5bjhrY1NmMm9DOGEzLzFwNWo3ZWtHZUFMTQ%3D%3D&amp;tag=EMzI%2B1vlslpkos2VIaFl6A%3D%3D\"></a> to register your interest and tell us why you would like to join the Executive Committee.</p>"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/7b90d74a3aff419282ed39994053ee37",
      "text": "<h2>Honorary Secretary</h2>\n<p>General secretarial duties including organising regular committee meetings; taking minutes and circulating them; monitoring the Stoolball England email account; answering emails or forwarding to relevant committee member to respond; emailing information to Counties/Leagues and collecting responses; coordination of events.</p>\n<p>Start Date: December 2020</p>\n<h2>Press and Publicity Officer</h2>\n<p>Advertising events Stoolball England are attending/organising, including the showcase England matches. Writing press releases and organising photography of events. This vacancy could be of interest to a Media student.</p>\n<p>Start Date: Immediately</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/9939555de6914b7182261156a656e9d0",
      "includeInSummary": "1"
    },
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/66a70fc8014642618b3265a4bf64bf75",
      "includeInSummary": "0"
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Stoolball England is an exciting and forward-thinking National Governing Body and we are looking for two new committee members to join the team.]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[2020-09-24T00:00:00]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>