<?xml version="1.0" encoding="utf-8"?>
<Content Key="da869a70-bbec-447c-bcd0-3e7edd0d0910" Alias="Hailsham League looking for teams to play on Thursdays" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/HailshamLeagueLookingForTeamsToPlayOnThursdays</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2022-04-23T08:49:38</CreateDate>
    <NodeName Default="Hailsham League looking for teams to play on Thursdays" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f895d61547bb4f7db2334fe2ce3525eb",
        "settingsUdi": "umb://element/536a9de28fbb4df0bfc559f62d0cf6ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/f895d61547bb4f7db2334fe2ce3525eb",
      "text": "<p>The <a href=\"/competitions/hailsham-mixed-league\">Hailsham Mixed League</a> would like to hear from any teams interested in playing this season. Matches are on Thursday evenings and the current teams are Burwash, Herstmonceux, Five Ashes and Yew Tree (Chalvington). Teams would need to be ready to play by the end of May at the latest.</p>\n<div>Any interest, queries or questions please contact Peter Coleman at <a rel=\"noopener\" href=\"mailto:Coleman_p@sky.com\" target=\"_blank\">Coleman_p@sky.com</a> or on 07711 297678.</div>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/536a9de28fbb4df0bfc559f62d0cf6ac",
      "includeInSummary": "1"
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[The Hailsham Mixed League would like to hear from any teams interested in playing this season. Matches are on Thursday evenings and the current teams are Burwash, Herstmonceux, Five Ashes and Yew Tree (Chalvington). Teams would need to be ready to play by the end of May at the latest.]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>