<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8c5e4b7-6c82-41bd-8a8a-761b3fa83680" Alias="Mental Health &amp; Wellbeing Hub from Sussex Cricket" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/MentalHealthWellbeingHubFromSussexCricket</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2021-02-08T19:34:04</CreateDate>
    <NodeName Default="Mental Health &amp; Wellbeing Hub from Sussex Cricket" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f7457915b6bc4ad09e29c8b0cd7ef1a8",
        "settingsUdi": "umb://element/e895bdfb86a84eb7a4fd97a138d8f595"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/f7457915b6bc4ad09e29c8b0cd7ef1a8",
      "text": "<p>The COVID-19 pandemic has threatened our personal safety, disrupted our daily routines, uprooted our lives and shaken our world. It isn’t easy to maintain mental wellbeing, personal resilience and optimism when we are surrounded and affected by such unsettling uncertainty.</p>\n<p>For anyone that needs to find hope and support through the power of shared experiences, Sussex Cricket has developed its new <a href=\"https://sussexcricket.co.uk/news/explore-sussex-crickets-brand-new-mental-health-wellbeing-hub\">Mental Health &amp; Wellbeing Hub</a>, a free, online resource designed to help.</p>\n<p>Completely free to use and totally anonymous with no registration required, the mobile-optimised platform has been created with the support and approval of Sussex Partnership NHS Foundation Trust and developed in partnership with Frog Systems.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/e895bdfb86a84eb7a4fd97a138d8f595",
      "includeInSummary": 1
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[The COVID-19 pandemic has threatened our personal safety, disrupted our daily routines, uprooted our lives and shaken our world. For anyone that needs to find hope and support through the power of shared experiences, Sussex Cricket has developed its new Mental Health & Wellbeing Hub, a free, online resource designed to help.]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[2021-01-26T00:00:00]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>