<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde" Alias="My account (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MyAccount1</Path>
    <Trashed Parent="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">true</Trashed>
    <ContentType>myAccount</ContentType>
    <CreateDate>2021-12-22T16:49:07</CreateDate>
    <NodeName Default="My account (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f1f9344a-e8b4-46d3-8234-a58036379504">MyAccount</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a675b2c4a5844166ae8ba318001961d8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/a675b2c4a5844166ae8ba318001961d8",
      "text": "<h2><a href=\"/{localLink:umb://document/0358ae9961684dac83c4b6a13888d539}\" title=\"Personal details\">Personal details</a></h2>\n<p>Change the name we use when we email you.</p>\n<h2><a href=\"/{localLink:umb://document/f7c756d5314c41e4af93b2b18d3f3c28}\" title=\"Edit email address\">Email address</a></h2>\n<p>Set the email address you sign in with.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gravatar>
      <Value><![CDATA[<p>You can change your account picture on the <a rel="noopener" href="https://gravatar.com" target="_blank">Gravatar</a> website.</p>]]></Value>
    </gravatar>
    <headerPhoto>
      <Value><![CDATA[umb://media/fb9ab61402db423287f1fa3602d7284c]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[account]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>