<?xml version="1.0" encoding="utf-8"?>
<Content Key="620f2f17-c7d2-43b0-8abb-d67248835c1b" Alias="News" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2020-12-08T18:20:10</CreateDate>
    <NodeName Default="News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="207b1110-bbe7-4e93-bd83-c3761b338ee3">News</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[umb://media/e8920e2e4c3c4bbf94cd12ba651b1c52]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>