<?xml version="1.0" encoding="utf-8"?>
<Content Key="0358ae99-6168-4dac-83c4-b6a13888d539" Alias="Personal details" Level="102">
  <Info>
    <Parent Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">My account (1)</Parent>
    <Path>/[-20]/MyAccount1/PersonalDetails</Path>
    <Trashed Parent="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">true</Trashed>
    <ContentType>personalDetails</ContentType>
    <CreateDate>2021-12-22T16:55:58</CreateDate>
    <NodeName Default="Personal details" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2085112c-f5d9-4713-89ea-030a78464a13">PersonalDetails</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <saveButton>
      <Value><![CDATA[Save changes]]></Value>
    </saveButton>
    <saved>
      <Value><![CDATA[<p>Your changes were saved.</p>
<p>Back to <a href="/{localLink:umb://document/b0d6cf0fca874ecdaed4ef4c8cc6abde}" title="My account">My account</a>.</p>]]></Value>
    </saved>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[personal-details]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>