<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a18ca45-7bd6-4eb7-b7e2-7e98af8d2bb6" Alias="Queen Elizabeth II 1926 - 2022" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/QueenElizabethII19262022</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2022-09-12T18:42:42</CreateDate>
    <NodeName Default="Queen Elizabeth II 1926 - 2022" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d3ce077da5be4e54935e65e1d0917f2a",
        "settingsUdi": "umb://element/1a97c2e18b634e2eb0301712f2ed4a84"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d3ce077da5be4e54935e65e1d0917f2a",
      "text": "<p><span class=\"gvxzyvdx aeinzg81 t7p7dqev gh25dzvf exr7barw b6ax4al1 gem102v4 ncib64c9 mrvwc6qr sx8pxkcf f597kf1v cpcgwwas m2nijcs8 hxfwr5lz k1z55t6l oog5qr5w tes86rjd pbevjfx6 ztn2w49o\">Following the sad passing of our Queen, Elizabeth II, please be advised in line with Sport England guidance, it is each sports individual choice whether to continue playing their sport during the official mourning period. Stoolball England now leave it at the discretion of each club during this time.</span></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/1a97c2e18b634e2eb0301712f2ed4a84",
      "includeInSummary": 1
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>