<?xml version="1.0" encoding="utf-8"?>
<Content Key="b02bfaab-17b3-4c60-98c8-ff34e6ebb8c6" Alias="Reset password" Level="2">
  <Info>
    <Parent Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">My account</Parent>
    <Path>/[-20]/MyAccount/ResetPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>resetPassword</ContentType>
    <CreateDate>2021-12-22T16:58:03</CreateDate>
    <NodeName Default="Reset password" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4072232a-f3ee-4ffc-9d22-04bd3f9dcb11">ResetPasswordRequest</Template>
  </Info>
  <Properties>
    <approveMemberBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>You tried to reset your password, but you haven't activated your account yet.</p>
<p>To activate your account please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/activate?token={{TOKEN}}">https://{{DOMAIN}}/account/activate?token={{TOKEN}}</a></p>
<p>This link will expire in 24 hours, and replaces the one we sent before.</p>]]></Value>
    </approveMemberBody>
    <approveMemberSubject>
      <Value><![CDATA[Activate your Stoolball England account]]></Value>
    </approveMemberSubject>
    <createMemberBody>
      <Value><![CDATA[<p>You tried to reset the password for {{EMAIL}} on the Stoolball England website, but we couldn't find an account.</p>
<p>To create an account please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/create">https://{{DOMAIN}}/account/create</a></p>]]></Value>
    </createMemberBody>
    <createMemberSubject>
      <Value><![CDATA[Do you want to create a Stoolball England account?]]></Value>
    </createMemberSubject>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[umb://media/365223ad221e48278de869b0e125507e]]></Value>
    </headerPhoto>
    <homeButton>
      <Value><![CDATA[Go back to the home page]]></Value>
    </homeButton>
    <loggedIn>
      <Value><![CDATA[<p>You're signed in as <strong>{{NAME}}</strong>. To reset your password, please sign out.</p>]]></Value>
    </loggedIn>
    <passwordHelp>
      <Value><![CDATA[At least 10 characters]]></Value>
    </passwordHelp>
    <passwordResetFailed>
      <Value><![CDATA[<p>Sorry, we can't reset your password. The link in your email may have expired.</p>
<p><a href="/{localLink:umb://document/b02bfaab17b34c6098c8ff34e6ebb8c6}" title="Reset password">Reset your password</a> again to request a new link.</p>]]></Value>
    </passwordResetFailed>
    <passwordResetRequested>
      <Value><![CDATA[<p>Nearly there! We've sent you a link to reset your password.</p>
<p>Please check your email at <strong>{{EMAIL}}</strong> and click on the link.</p>
<p>The link will expire in 24 hours.</p>]]></Value>
    </passwordResetRequested>
    <passwordResetSuccessful>
      <Value><![CDATA[<p>Your new password has been saved and we've logged you in.</p>]]></Value>
    </passwordResetSuccessful>
    <passwordResetTokenInvalid>
      <Value><![CDATA[<p>Sorry, we can't reset your password. The link in your email may have expired.</p>
<p><a href="/{localLink:umb://document/b02bfaab17b34c6098c8ff34e6ebb8c6}" title="Reset password">Reset your password</a> again to request a new link.</p>]]></Value>
    </passwordResetTokenInvalid>
    <resetPasswordBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>To reset your password please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/reset-password?token={{TOKEN}}">https://{{DOMAIN}}/account/reset-password?token={{TOKEN}}</a></p>
<p>This link will expire in 24 hours.</p>]]></Value>
    </resetPasswordBody>
    <resetPasswordButton>
      <Value><![CDATA[Reset password]]></Value>
    </resetPasswordButton>
    <resetPasswordSubject>
      <Value><![CDATA[Reset your Stoolball England password]]></Value>
    </resetPasswordSubject>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[reset-password]]></Value>
    </umbracoUrlName>
    <updatePasswordButton>
      <Value><![CDATA[Save new password]]></Value>
    </updatePasswordButton>
  </Properties>
</Content>