<?xml version="1.0" encoding="utf-8"?>
<Content Key="2813c29b-aef9-41db-ae53-215dc2178fcb" Alias="Shop" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>productList</ContentType>
    <CreateDate>2020-10-11T19:13:01</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="520b9d19-7f63-4809-b7e6-cf313decde0a">ProductList</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[You can buy approved stoolball bats, balls, wickets, scorebooks, boundary markers, spray paint for pitch marking and ice packs for your first-aid kit from Stoolball England.]]></Value>
    </description>
    <enquiryForm>
      <Value><![CDATA[9d2fa411-77b0-4833-8e2b-fd836a103e47]]></Value>
    </enquiryForm>
    <furtherDetails>
      <Value><![CDATA[<h2>How to buy</h2>
<p>Please complete this form with your details and what you want to buy, and we will contact you to complete your purchase.</p>]]></Value>
    </furtherDetails>
    <headerPhoto>
      <Value><![CDATA[umb://media/eae893a1cea545fbb58b7a236d4aea96]]></Value>
    </headerPhoto>
    <introduction>
      <Value><![CDATA[<p>You can <a href="https://shop.spreadshirt.co.uk/stoolball">buy hoodies, t-shirts, bags, face-masks and other items online</a> from our gift shop.</p>
<p>Stoolball equipment can be ordered direct from Stoolball England using the form below.</p>
<p>We'll advise you of delivery costs for equipment orders when you contact us, or sometimes you can collect it in person.</p>
<p>Photos are for illustration only and may not reflect exactly the product you receive.</p>]]></Value>
    </introduction>
    <products>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/95cf202c29184254bba2a2f169ea4ca6"
      },
      {
        "contentUdi": "umb://element/2fe21227a76c4dd6a9a66af7c644fa55"
      },
      {
        "contentUdi": "umb://element/1c868e451d7d4868b6c10918e31c3274"
      },
      {
        "contentUdi": "umb://element/6b8f2f7362af4d918d49c48b299cba00"
      },
      {
        "contentUdi": "umb://element/07ae907010d14ca3b1cff0013a058f96"
      },
      {
        "contentUdi": "umb://element/663a4eb210ab472281e687b1cd00cdfb"
      },
      {
        "contentUdi": "umb://element/8bdbec4d2d6b41d0b9b36509b728bbde"
      },
      {
        "contentUdi": "umb://element/cfb80acb59454c33a1e8683aaec69009"
      },
      {
        "contentUdi": "umb://element/6a968018b61d4451aad8a7a66ac9418f"
      },
      {
        "contentUdi": "umb://element/36a9db5510e04186ab02302abfe2e19c"
      },
      {
        "contentUdi": "umb://element/bdc1bd1f10334a8987e28eb798ff5d2b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/95cf202c29184254bba2a2f169ea4ca6",
      "productName": "Gray-Nicolls stoolball bat",
      "description": "Choice of weights from 397g (14oz) to 680g (24oz).",
      "photo": "umb://media/8a7bbc13774e421f82a404d488e77e64",
      "price": "50",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/2fe21227a76c4dd6a9a66af7c644fa55",
      "productName": "Aresson junior bat",
      "description": "This should only be used with soft balls such as the plastic air ball or Softy indoor ball.",
      "photo": "umb://media/dc761ba90b6d44f5a1f07353785bb8b4",
      "price": "15",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/1c868e451d7d4868b6c10918e31c3274",
      "productName": "Bat cover",
      "description": "Padded interior to protect your bat. Made by Gray-Nicolls.",
      "photo": "umb://media/b745f36d098d430e8eb4c43a4d5e6a8d",
      "price": "5",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/6b8f2f7362af4d918d49c48b299cba00",
      "productName": "Stoolball",
      "description": "Orange/pink/yellow hard balls are also available for £6",
      "photo": "umb://media/c7f1cd43e79141d7ac3b02cfa087569b",
      "price": "7",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/07ae907010d14ca3b1cff0013a058f96",
      "productName": "Plastic Air Balls",
      "description": "Available in orange and pink",
      "photo": "umb://media/2858eb89c8914a4389b43516168b9aa5",
      "price": "3",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/663a4eb210ab472281e687b1cd00cdfb",
      "productName": "Softy junior/indoor balls",
      "description": "Perfect for indoor or children’s stoolball",
      "photo": "umb://media/ec6cea92b6b84abfa5f648167c583745",
      "price": "5",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/8bdbec4d2d6b41d0b9b36509b728bbde",
      "productName": "Wooden stoolball wickets",
      "description": "A pair of wickets with metal bases and six fixing pins",
      "photo": "umb://media/08fa539d058c4188910f586b0523d646",
      "price": "150",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/cfb80acb59454c33a1e8683aaec69009",
      "productName": "Metal stoolball wickets",
      "description": "<p>You can <a href=\"https://www.bishopsport.co.uk/stoolball-wickets/stoolball-wickets.html\">buy metal stoolball wickets direct from Bishop Sports</a> rather than Stoolball England.</p>",
      "photo": "umb://media/eb82840da17d46379a049ea97002dbfd",
      "price": "167",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/6a968018b61d4451aad8a7a66ac9418f",
      "productName": "Rule book",
      "description": "A handy reference for players and umpires",
      "photo": "umb://media/833c9c3e238d450aaa671bc4b60f0e5f",
      "price": "2",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/36a9db5510e04186ab02302abfe2e19c",
      "productName": "Large scorebook",
      "description": "For all your league, cup and friendly matches",
      "photo": "umb://media/25eff78e0ac74c4594da61dc52cab805",
      "price": "5",
      "delivery": "",
      "productPage": ""
    },
    {
      "contentTypeKey": "94d3ec07-639e-433d-ac15-bc037fa2f6c4",
      "udi": "umb://element/bdc1bd1f10334a8987e28eb798ff5d2b",
      "productName": "Small scorebook",
      "description": "A smaller format for tournaments",
      "photo": "umb://media/62c9d28b0e8d482eb3c88fc6baa4b9a4",
      "price": "3",
      "delivery": "",
      "productPage": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </products>
    <stylesheet>
      <Value><![CDATA[shop.page]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>