<?xml version="1.0" encoding="utf-8"?>
<Content Key="87bfce88-25a0-407c-b075-5e9c1a92050a" Alias="Sign in" Level="102">
  <Info>
    <Parent Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">My account</Parent>
    <Path>/[-20]/MyAccount/SignIn</Path>
    <Trashed>true</Trashed>
    <ContentType>loginMember</ContentType>
    <CreateDate>2021-12-22T16:56:49</CreateDate>
    <NodeName Default="Sign in" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="efab32b5-7666-43a4-b4fd-55e0d2b00e27">LoginMember</Template>
  </Info>
  <Properties>
    <approveMemberBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>You tried to sign in but you haven't activated your account yet. Please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/activate?token={{TOKEN}}">https://{{DOMAIN}}/account/activate?token={{TOKEN}}</a></p>
<p>This link will expire in 24 hours, and replaces the one we sent before. If you left it too late, <a href="https://{{DOMAIN}}/account/reset-password">reset your password</a>.</p>]]></Value>
    </approveMemberBody>
    <approveMemberSubject>
      <Value><![CDATA[Activate your Stoolball England account]]></Value>
    </approveMemberSubject>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[umb://media/365223ad221e48278de869b0e125507e]]></Value>
    </headerPhoto>
    <loggedIn>
      <Value><![CDATA[<p>You're already signed in as <strong>{{NAME}}</strong>. To use a different account, please sign out.</p>]]></Value>
    </loggedIn>
    <loginButton>
      <Value><![CDATA[Sign in]]></Value>
    </loginButton>
    <loginRequired>
      <Value><![CDATA[<p>Please sign in to use this page. If you don't have an account, <a href="/{localLink:umb://document/b2d2239a55494d1b8f546cf8bc49c13e}" title="Create an account">create an account</a>.</p>]]></Value>
    </loginRequired>
    <migratedMemberAccounts>
      <Value><![CDATA[<p>If you had an account on our old website, your old password will not work. Please <a href="/{localLink:umb://document/0c3a3ccc32114c32b4b5e83952afd124}" title="Reset password">reset your password</a>.</p>]]></Value>
    </migratedMemberAccounts>
    <permissionRequired>
      <Value><![CDATA[<p>You're signed in as <strong>{{NAME}}</strong> but you don't have permission to use this page. If you have another account please sign in.</p>]]></Value>
    </permissionRequired>
    <resetPassword>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/b02bfaab17b34c6098c8ff34e6ebb8c6}" title="Reset password">Reset your password</a></p>]]></Value>
    </resetPassword>
    <resetPasswordBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>Your account is locked because you used the wrong password. To reset your password please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/reset-password?token={{TOKEN}}">https://{{DOMAIN}}/account/reset-password?token={{TOKEN}}</a></p>
<p>This link will expire in 24 hours.</p>]]></Value>
    </resetPasswordBody>
    <resetPasswordSubject>
      <Value><![CDATA[Reset password]]></Value>
    </resetPasswordSubject>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[sign-in]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>