<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8fa47d9-7056-4c72-a65a-309b9c69cd52" Alias="Sign out" Level="2">
  <Info>
    <Parent Key="b0d6cf0f-ca87-4ecd-aed4-ef4c8cc6abde">My account</Parent>
    <Path>/[-20]/MyAccount/SignOut</Path>
    <Trashed>false</Trashed>
    <ContentType>logoutMember</ContentType>
    <CreateDate>2021-12-22T16:54:30</CreateDate>
    <NodeName Default="Sign out" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a91a6a71-f4b2-4298-932d-850354b762fb">LogoutMember</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[umb://media/365223ad221e48278de869b0e125507e]]></Value>
    </headerPhoto>
    <homeButton>
      <Value><![CDATA[Go back to the home page]]></Value>
    </homeButton>
    <loggedIn>
      <Value><![CDATA[<p>You're signed in as <strong>{{NAME}}</strong>.</p>]]></Value>
    </loggedIn>
    <loggedOut>
      <Value><![CDATA[<p>You have signed out successfully.</p>]]></Value>
    </loggedOut>
    <logoutButton>
      <Value><![CDATA[Sign out]]></Value>
    </logoutButton>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[sign-out]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>