<?xml version="1.0" encoding="utf-8"?>
<Content Key="fde3fc51-8728-4d34-8278-a084adbc60c6" Alias="Sign in" Level="3">
  <Info>
    <Parent Key="cf48e9db-577b-4334-96d7-cf0d12b3dfcd">My account</Parent>
    <Path>/Home/MyAccount/SignIn</Path>
    <Trashed>false</Trashed>
    <ContentType>loginMember</ContentType>
    <CreateDate>2020-03-09T21:28:16</CreateDate>
    <NodeName Default="Sign in" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="efab32b5-7666-43a4-b4fd-55e0d2b00e27">LoginMember</Template>
  </Info>
  <Properties>
    <approveMemberBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>You tried to sign in but you haven't activated your account yet. Please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/activate?token={{TOKEN}}">https://{{DOMAIN}}/account/activate?token={{TOKEN}}</a></p>
<p>This link will expire in 48 hours, and replaces the one we sent before. If you left it too late, <a href="https://{{DOMAIN}}/account/reset-password">reset your password</a>.</p>]]></Value>
    </approveMemberBody>
    <approveMemberSubject>
      <Value><![CDATA[Activate your Stoolball England account]]></Value>
    </approveMemberSubject>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <loggedIn>
      <Value><![CDATA[<p>You're already signed in as <strong>{{NAME}}</strong>. To use a different account, please sign out.</p>]]></Value>
    </loggedIn>
    <loginButton>
      <Value><![CDATA[Sign in]]></Value>
    </loginButton>
    <loginRequired>
      <Value><![CDATA[<p>Please sign in to use this page. If you don't have an account, <a href="/{localLink:umb://document/dc78f00319da409cbc50fdb2d60d45fe}" title="Create an account">create an account</a>.</p>]]></Value>
    </loginRequired>
    <migratedMemberAccounts>
      <Value><![CDATA[<p>If you had an account on our old website, your old password will not work. Please <a href="/{localLink:umb://document/0c3a3ccc32114c32b4b5e83952afd124}" title="Reset password">reset your password</a>.</p>]]></Value>
    </migratedMemberAccounts>
    <permissionRequired>
      <Value><![CDATA[<p>You're signed in as <strong>{{NAME}}</strong> but you don't have permission to use this page. If you have another account please sign in.</p>]]></Value>
    </permissionRequired>
    <resetPassword>
      <Value><![CDATA[<p><a href="/{localLink:umb://document/0c3a3ccc32114c32b4b5e83952afd124}" title="Reset password">Reset your password</a></p>]]></Value>
    </resetPassword>
    <resetPasswordBody>
      <Value><![CDATA[<p>Hi {{NAME}}</p>
<p>Your account is locked because you used the wrong password. To reset your password please click this link or paste it into your browser.</p>
<p><a href="https://{{DOMAIN}}/account/reset-password?token={{TOKEN}}">https://{{DOMAIN}}/account/reset-password?token={{TOKEN}}</a></p>
<p>This link will expire in 48 hours.</p>]]></Value>
    </resetPasswordBody>
    <resetPasswordSubject>
      <Value><![CDATA[Reset password]]></Value>
    </resetPasswordSubject>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[sign-in]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>