<?xml version="1.0" encoding="utf-8"?>
<Content Key="4982d09e-c427-4e74-9515-2b5273463ea2" Alias="We're backing UKCoaching's Great Coaching Pledge" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/WereBackingUKCoachingsGreatCoachingPledge</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2020-12-09T22:59:08</CreateDate>
    <NodeName Default="We're backing UKCoaching's Great Coaching Pledge" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f4707bb697e84c83a0b5f0ab9330b5b0",
        "settingsUdi": "umb://element/dbc253704056492bbe0a35f8362f3e1a"
      },
      {
        "contentUdi": "umb://element/f4553cc5357348fc824e4057cb6403cc",
        "settingsUdi": "umb://element/e3b94367b144471cadb323e24e001557"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/f4707bb697e84c83a0b5f0ab9330b5b0",
      "text": "<p>We’re doing this by working with our coaches to help plan their sessions to follow our NGB COVID guidance.</p>\n<p>Coaching is about people – and a great coach can change a life.</p>\n<p>Make your pledge #UKCoachingWeek2020</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/f4553cc5357348fc824e4057cb6403cc",
      "image": "umb://media/38f251db259346f8aa0748ca153714ac",
      "showCaption": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/dbc253704056492bbe0a35f8362f3e1a",
      "includeInSummary": "1"
    },
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/e3b94367b144471cadb323e24e001557",
      "includeInSummary": "1"
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[2020-10-02T00:00:00]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>