<?xml version="1.0" encoding="utf-8"?>
<Content Key="4065a922-8dd9-430d-b98c-b83fad8982b5" Alias="Who are Stoolball England?" Level="3">
  <Info>
    <Parent Key="2274bf43-a8dc-4904-9eb7-0cc4a4279004">About Stoolball England</Parent>
    <Path>/Home/AboutStoolballEngland/WhoAreStoolballEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2021-01-27T12:45:50</CreateDate>
    <NodeName Default="Who are Stoolball England?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0a0ffdfb695141058c2eab8613b586d9"
      },
      {
        "contentUdi": "umb://element/d9f82c5a16a14d96bbc3ec7402f3c893"
      },
      {
        "contentUdi": "umb://element/a32527f3f2744e41ac7237769821f130"
      },
      {
        "contentUdi": "umb://element/e71abd3e99c049edb004ca7a907f55d8"
      },
      {
        "contentUdi": "umb://element/03fd0a4b871b4c2b89c5966f81793d92"
      },
      {
        "contentUdi": "umb://element/616acd15a491411cbff3af55cdcaf71b"
      },
      {
        "contentUdi": "umb://element/a34793d7724c4fff8a78c9bf9992b0b1"
      },
      {
        "contentUdi": "umb://element/f6d7d8ed01e74cf5abbb41e04531d3b2"
      },
      {
        "contentUdi": "umb://element/08c29e45a2564e14bbe7c0d84a0d42b8"
      },
      {
        "contentUdi": "umb://element/cd3b234cb1f5415ba0314901ffbcc3af"
      },
      {
        "contentUdi": "umb://element/3077c59f3b7c47dea049d3864ec5dedc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/0a0ffdfb695141058c2eab8613b586d9",
      "text": "<p>We run Stoolball England for the love of the game. Most of us are volunteers, and all of us are or were sports professionals, stoolball players or umpires.</p>"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/d9f82c5a16a14d96bbc3ec7402f3c893",
      "text": "<h2>Kay Price, President</h2>\n<p>53 Kings Road, Horsham, West Sussex, RH13 5PP<br />Phone: 01403 252419<br />Email: <a href=\"mailto:kay@stoolball.org.uk\">kay@stoolball.org.uk</a></p>",
      "image": "umb://media/fd2be1df92cd45d3b3a6fc94aa5e37c4",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/a32527f3f2744e41ac7237769821f130",
      "text": "<h2>Kelvin Speirs, Chairman</h2>\n<p>Also: Umpiring and Rules Officer<br />Phone: 01273 890785<br />Email: <a href=\"mailto:kelvin@stoolball.org.uk\">kelvin@stoolball.org.uk</a></p>",
      "image": "umb://media/b0f0c141f5d74c99b307940d7f363161",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/e71abd3e99c049edb004ca7a907f55d8",
      "text": "<h2>Anita Broad, Vice-Chairman, and Education and Research Officer</h2>\n<p>Email: <a href=\"mailto:anita@stoolball.org.uk\">anita@stoolball.org.uk</a><br />Twitter: <a href=\"http://twitter.com/anitabroad\">@AnitaBroad</a></p>",
      "image": "umb://media/03b25ff75ea3479183b44f52638552b8",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/03fd0a4b871b4c2b89c5966f81793d92",
      "text": "<h2>Georgie Harrison, Honorary Treasurer and Social Media Exec. </h2>\n<p>Email: <span class=\"qu\"><span class=\"go\"><a href=\"mailto:georgieh_11@hotmail.com\">georgieh_11@hotmail.com</a><br /></span></span><span style=\"font-size: 1rem;\">Email: </span><a href=\"mailto:stoolballengland@hotmail.com\">stoolballengland@hotmail.com</a><br /><span class=\"qu\"><span class=\"go\">Phone: 07734477215<br /></span></span><span class=\"qu\"><span class=\"go\">Twitter: <a href=\"https://twitter.com/MissHarrisonPE1\">@MissHarrisonPE1</a></span></span></p>",
      "image": "umb://media/95fa57ef2eac4232a91a487dd932aa22",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/616acd15a491411cbff3af55cdcaf71b",
      "text": "<h2>Lynda Buttifant, Welfare Officer</h2>\n<p>Email: <a href=\"mailto:lynda@stoolball.org.uk\">lynda@stoolball.org.uk</a></p>",
      "image": "umb://media/d2a92e2c723b45d78f1f86f0a34af04b",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/a34793d7724c4fff8a78c9bf9992b0b1",
      "text": "<h2>Richard Emsley, Membership Secretary</h2>\n<p>Mobile: 07708 197740<br />Email: <a href=\"mailto:richard@stoolball.org.uk\">richard@stoolball.org.uk</a></p>",
      "image": "umb://media/f199997099504abd9a1c146ee39911e0",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/f6d7d8ed01e74cf5abbb41e04531d3b2",
      "text": "<h2>Genevieve Gordon, Legal Executive Officer</h2>\n<p>Email: <a href=\"mailto:genevieve@stoolball.org.uk\">genevieve@stoolball.org.uk</a></p>",
      "image": "umb://media/8283d08f1a5c4a78806977299d5511e1",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/08c29e45a2564e14bbe7c0d84a0d42b8",
      "text": "<h2>Sophie Dunn, Young Ambassador, Sussex</h2>\n<p>Email: <a href=\"mailto:sophie@stoolball.org.uk\">sophie@stoolball.org.uk</a></p>",
      "image": "umb://media/eb34cc8ebbc34de9bda76019e35762ef",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/cd3b234cb1f5415ba0314901ffbcc3af",
      "text": "<h2>Megan James, Young Ambassador, Kent</h2>\n<p>Email: <a href=\"mailto:meg@stoolball.org.uk\">meg@stoolball.org.uk</a></p>",
      "image": "umb://media/25f1892126c34910ae77f9f259b69e28",
      "imagePosition": "Left",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/3077c59f3b7c47dea049d3864ec5dedc",
      "text": "<h2>You?</h2>\n<p>If you’d like to help stoolball flourish, we’d love to hear from you. There are lots of ways to get involved, large and small, so <a href=\"/{localLink:umb://document/243a06162f214eb6b26c9d77631cd731}\" title=\"Contact us about stoolball\">contact us</a> for a chat.</p>",
      "image": "umb://media/dad2f4f4baa34813a433bc9e9ca2f6e5",
      "imagePosition": "Left",
      "showCaption": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[We run Stoolball England for the love of the game. Most of us are volunteers, and all of us are or were sports professionals, stoolball players or umpires.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[who-are-stoolball-england.page]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[who]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>