<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bc244cc-6971-4a83-a628-3c1718eeb405" Alias="Your fixtures please!" Level="3">
  <Info>
    <Parent Key="620f2f17-c7d2-43b0-8abb-d67248835c1b">News</Parent>
    <Path>/Home/News/YourFixturesPlease</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStory</ContentType>
    <CreateDate>2022-04-10T12:04:43</CreateDate>
    <NodeName Default="Your fixtures please!" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86c81ee4-670c-452c-acd0-cfe3d39420c6">NewsStory</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3dcbaddc6f69428e9d8af9b859efe367",
        "settingsUdi": "umb://element/dd1eefbf453147c4ba837788d90cc89b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/3dcbaddc6f69428e9d8af9b859efe367",
      "text": "<p>Stoolball England are keen to know all the fixtures that are taking place in all leagues and associations this year, the first full season after Covid-19.</p>\n<p>Please send your fixtures to: info@stoolball.org.uk.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3b2b6ed4-da92-4aca-9262-fbfec272be72",
      "udi": "umb://element/dd1eefbf453147c4ba837788d90cc89b",
      "includeInSummary": "1"
    }
  ]
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayDate>
      <Value><![CDATA[]]></Value>
    </displayDate>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>