/* Reset button styles for the button that surrounds the edit view of a block in the Block List Editor */
.block-list-editor__button {
    background: none;
    border: none;
    margin: 0;
    text-align: left;
    width: calc(100%-110px);
    display: block;
    padding: 10px 100px 10px 10px;
    min-height: 50px;
}

.block-list-editor__button:hover {
    background: #eee;
}