@import "_theme.scss";
@import "_mixins.scss";
@import "../Content/bootstrap/_breadcrumb.scss";

/* De-emphasise the breadcrumb relative to normal links, while still keeping it accessible */
.breadcrumb {
    padding: 0; 
    background: none;
}
.breadcrumb a[href] {
    @include remove-link-underline;
    color: #767676; // WCAG AA lightest grey
}

.breadcrumb a[href]:hover {
    @include link-underline;
    border-bottom-color: $black;
}