@import "_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

.consent { 
    background: $black;
    color: $white;
    padding: $spacer;
    margin: 0;
    position: relative;
    z-index: $zindex-popover;
}
.consent p { 
    display: inline-block;
    margin: 0 $spacer 0 0;
}
.consent__choices p {
    display: block;
    margin-bottom: $spacer/2;
}
.consent .custom-control-input[disabled] ~ .custom-control-label {
    color: $white;
}
.consent__buttons {
    white-space: nowrap;
}
.consent__choices .consent__buttons { 
    display: block;
    margin-top: $spacer;
}
.consent button {
    display: inline-block;
    margin: 0 $spacer/2 0 0;
}

/* Change the background of disabled checkboxes back to grey, but not the standard disabled grey because here the tick is white, not black */
.consent .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #666;
    border-color: #444;
}
