@import "_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

/* Skew the footer to match the header, and create space around the top to prevent the skewed border overlapping. */
footer {
    margin-top: 60px;
    padding-top: 40px;
    transform: skewY($skew);
    border-top: theme-color("primary") solid 5px;
}
footer > div {
    transform: skewY($deskew);
}