@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";
@import "../Content/bootstrap/_forms.scss";
@import "../Content/bootstrap/_buttons.scss";
@import "../Content/bootstrap/_custom-forms.scss";

/* Bootstrap and .NET JQuery validation are applying different rules in some cases, 
   so re-use the Bootstrap styles but on different selectors, and in a way that invalid wins 
   if both are matched.
*/
.input-validation-error, [aria-invalid='true'], .was-validated .input-validation-error:valid {
    @extend .form-control.is-invalid;
}

[aria-invalid='false'] {
    @extend .form-control.is-valid;
}

.field-validation-error, .validation-summary-errors {
    color: $red;
}

/* When a custom error message is set by Html.ValidationMessageFor() in the view, prevent it showing when the field is still valid */
.field-validation-valid { display: none;}

/* Bootstrap expects .form-text after the element but it's better before, where the user will see it in time */
.form-text {
    margin-top: $spacer*-.5;
    margin-bottom: $spacer/4;
    color: #777;
}

/* Forms should have space before any following element */
form { margin-bottom: $spacer; }

/* A simple search form with an input field and button. Apply as <form class="form-inline form-search">. */
.form-search input[type=search] {
    flex-grow: 1;
    margin: 0 0 $spacer/2;

    @include media-breakpoint-up(sm) {
        margin: 0 $spacer/2 0 0;
    }
}

.form-search button[type=submit] {
    flex-shrink: 0;
}


/* Make click events on inline SVG images bubble up to parent elements */
svg {
    pointer-events: none;
}