@import "_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

/*******************
  Sitewide header 
*******************/

$zindex-header: 900;
$header_menu_selected_background: #444;

.header {
    margin-bottom: $spacer*2;
}

.header__bar {
    background: $black;
    color: $white;
    position: relative;
    z-index: $zindex-header + 1;
    min-height: 44px; /* Minimum clickable target height */
}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__logo {
    min-width: 150px;
    width: 150px;
    background: $white;
    margin: 0 $spacer -15px 0;
    border-radius: 0 0 10px 10px;
}

@include media-breakpoint-up(sm) {
    .header__logo {
        width: 200px;
        margin-bottom: -30px;
    }
}

@include media-breakpoint-up(md) {
    .header__logo {
        width: 250px;
        margin-bottom: -36px;
    }
}

.header__logo-inner {
    display: block;
    padding: 10px 15px;
}

.header__menu-large {
    flex-grow: 1;
}

.header__menu-large [role=menubar] {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu-large [role=menuitem] {
    display: inline-block;
    color: $white;
    padding: $spacer/2 $spacer;
    margin-right: 2px;
}

.header__menu-large [role=menuitem][aria-selected],
.header__menu-large a:hover, .header__menu-large a:active {
    background: $header_menu_selected_background;
    text-decoration: none;
    font-style: normal;
    border-radius: 5px;
}

.header__menu-small.navbar {
    align-items: center;
}

.btn.header__menu-small__button, .btn.header__menu-small__button:hover {
    color: $white;
}

.btn.header__menu-small__button::after {
    color: $white;
    font-size: 14px;
}

.header__account.navbar {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: -($grid-gutter-width/2);
}

.btn.header__account__button {
    padding: 5px 10px 4px;
}

.btn.header__account__button::after {
    color: $white;
    font-size: 14px;
}

.header__account__account-image {
    margin-right: -10px;
}

.header__photo {
    position: relative;
    z-index: $zindex-header;
    display: block;
    transform: skewY($skew);
    border-top: 30px solid $black;
    margin-top: -30px;
    border-bottom: theme-color("primary") solid 5px;
    box-shadow: $black 0 1px 2px;
}

.header .dropdown-menu {
    background: $black;
    color: $white;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

.header .dropdown-item {
    padding-left: 0;
    padding-right: 0;
}

.header .dropdown-item:hover, .header .dropdown-item:focus {
    background: $header_menu_selected_background;
    color: $white;
}

.header .dropdown-item:last-child {
    padding-bottom: $spacer/2;
    border-radius: 0 0 5px 5px;
}

/* Make links clickable across the whole width of a menu */
.header .dropdown-item > a, .header .dropdown-item > em {
    color: $white;
    display: block;
    padding-left: $spacer*1.5;
    padding-right: $spacer*1.5;
}

.header .dropdown-item > a:hover, .header .dropdown-item > a:focus {
    text-decoration: none;
}