@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

/*******************
  Sitewide header 
*******************/

/* Combine flex-grow and flex-shrink to place the logo on the left and the dropdown menus as a group on the right */
.navbar {
    display: flex;
    padding: $spacer/2 $spacer/2 $spacer/2 0;
}

.navbar-brand {
    flex-grow: 1;
}

.navbar__menu, .navbar__account {
    flex-shrink: 0;
}

/* Set a maximum width on the logo which allows the group on the right not to wrap */
.navbar-brand > a {
    display: inline-block;
}

.navbar-brand img {
    max-width: 150px;
}

@media (min-width: 400px) {
    .navbar-brand img {
        max-width: 200px;
    }
}

/* Offset the padding on the container, so that the account button is in the top-right corner */
.navbar__account {
    margin-right: -15px;
}

/* Rounded edges on the account image */
.navbar__account__account-image {
    border-radius: 50%;
}

/* Reduce the default space around the account button, and hide the dropdown arrow */
.navbar .navbar__account-button {
    padding: $spacer/4;
}

.navbar .navbar__account-button::after {
    display: none;
}

/* Make links clickable across the whole width of a menu */
.dropdown-item > a, .dropdown-item > em {
    display: block;
}

/* Links get the primary colour as a background when :active, so the foreground needs to contrast with it */
.dropdown-item:active > a {
    color: #fff;
}
