@import "_theme.scss";
@import "_mixins.scss";
@import "../Content/bootstrap/_variables.scss";
@import "../Content/bootstrap/_mixins.scss";

/* Required for tabbed navigaton */
@import "../Content/bootstrap/_nav.scss";

$selected_background: #555;

// Reset list styles
.nav-item {
    padding: 0;
}

// Add some space below tabbed navigation, and establish a positioning context
.nav-tabs {
    margin: 0 0 $spacer;
    position: relative;
    border-bottom-color: theme-color("alt-secondary");
}

.nav-tabs-has-add, .nav-tabs-has-edit {
    padding-right: $minimum-clickable-size;
}

.nav-tabs-has-add.nav-tabs-has-edit {
    padding-right: 90px; // ($minimum-clickable-size * 2) + 2px
}

// Colour the normal tabs
.nav-tabs .nav-link.active {
    background: theme-color("primary");
    border-color: theme-color("primary");
    color: $white;
    font-style: normal;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:active {
    @include remove-link-focus;
    border-color: theme-color("alt-secondary");
}

.nav-tabs .nav-link:focus {
    outline-offset: 0;
}

// Absolutely position up to two admin items at the right (2px between), so that admin links don't wrap,
// but instead tabs can wrap when they hit the padding on .nav-tabs.
.nav-item-admin {
    position: absolute;
    right: 46px;
}

// Align to the .container-xl margin 
// .nav-item-admin-sm-last is used on the last visible child when a following sibling is hidden at the sm breakpoint
.nav-item-admin:last-child, .nav-item-admin-sm-last {
    right: 0;
}

// Hide the text of admin items (and ensure it doesn't wrap when hidden), leaving a minimum-clickable-size button with a background icon.
// Remove the hidden left/right border of ordinary tabs, so that it lines up closer to a dropdown menu when there is one. Keep the bottom
// border because it keeps spacing consistent with tabs, but ensure it remains transparent.

// Invert the colours on hover/focus/active/menu open, because that makes sense visually to connect it to a menu that opens out in white space.
.nav-tabs > .nav-item-admin .nav-link {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: $spacer/2 0 $spacer/2 44px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 13px center;
    border-left: 0;
    border-right: 0;
    vertical-align: baseline;
    border-radius: $border-radius $border-radius 0 0;
    margin-left: 2px;
    color: $white;
    background-color: theme-color("alt-secondary");
    @include remove-link-underline;
}

.nav-item-admin .nav-link:hover, 
.nav-item-admin .nav-link:focus, 
.nav-item-admin .nav-link:active, 
.nav-item-admin > .dropdown.show > .nav-link {
    @include remove-link-underline;
    border-color: transparent;
    box-shadow: none;
    background-color: $black;
}

.nav-item-admin .nav-link-add {
    background-image: url(/images/icons/add-white-24dp.svg);
}

.nav-item-admin .nav-link-edit {
    background-image: url(/images/icons/settings-white-24dp.svg);
}

@include media-breakpoint-up(md) {
    // At md and above, change strategy from absolute positioning to flexbox.
    // The first .nav-item-admin uses flex-grow: 1 to take up all the extra space and
    // push others to the right. Its own content is aligned to the right.
    // However, if the first one is hidden we have to force the second to be regarded as the first using .nav-item-admin-md-first
    .nav-tabs.nav-tabs-has-add, .nav-tabs.nav-tabs-has-edit {
        padding-right: 0;
    }

    .nav-tabs .nav-item-admin {
        position: static;
    }

    .nav-item-admin, .nav-item-admin + .nav-item-admin.nav-item-admin-md-first {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    .nav-item-admin + .nav-item-admin {
        flex-grow: initial;
        text-align: initial;
        display: inherit;
    }
    // Now we show the button text as well as the icon, and reversed is the hover/focus/active style
    .nav-tabs > .nav-item-admin .nav-link {
        width: auto;
        background-position: 10px center;
        padding: $spacer/2 $spacer $spacer/2 35px;
        color: $grey;
        background-color: transparent;
        border-radius: $border-radius;
    }
    // Spill into the .container-xl margin so that the button content rather than its border can align to the right edge
    .nav-item-admin:last-child .nav-link {
        padding-right: $spacer/2;
        margin-right: -($spacer/2);
    }
    // Change the image colours
    .nav-item-admin .nav-link-add {
        background-image: url(/images/icons/add-grey-24dp.svg);
    }

    .nav-item-admin .nav-link-add:hover,
    .nav-item-admin .nav-link-add:focus,
    .nav-item-admin .nav-link-add:active,
    .nav-item-admin > .dropdown.show > .nav-link-add {
        @include remove-link-focus;
        background-image: url(/images/icons/add-white-24dp.svg);
        color: $white;
        background-color: $black;
    }

    .nav-item-admin .nav-link-edit {
        background-image: url(/images/icons/settings-grey-24dp.svg);
    }

    .nav-item-admin .nav-link-edit:hover,
    .nav-item-admin .nav-link-edit:focus,
    .nav-item-admin .nav-link-edit:active,
    .nav-item-admin > .dropdown.show > .nav-link-edit {
        @include remove-link-focus;
        background-image: url(/images/icons/settings-white-24dp.svg);
        color: $white;
        background-color: $black;
    }
}

// When a button opens a menu, remove rounding from the bottom so it connects with the menu
.nav-item-admin > .dropdown.show .nav-link {
    border-radius: $border-radius $border-radius 0 0;
}

// Change the default menu colour
.nav-item-admin .dropdown-menu {
    background: $black;
}

.nav-item-admin .dropdown-item > * {
    background: $black;
    color: $white;
}

.nav-item-admin .dropdown-item > a:hover,
.nav-item-admin .dropdown-item > a:focus,
.nav-item-admin .dropdown-item > a:active {
    @include remove-link-focus;
    background: $selected_background;
}

@media print {
    .nav-tabs {
        display: none;
    }
}