@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";


/* Bootstrap removes all styling from tables because they're used in calendars etc. 
   Bootstrap tables have .table applied but you can't do that in TinyMCE for Umbraco as configured by default.
   Add some spacing, padding and border to tables until it becomes a problem. */
table {
    margin-bottom: $spacer;
}

th, td {
    padding: $spacer/4;
}

caption {
    caption-side: top;
}


.table-as-cards thead {
    display: none
}

.table-as-cards tr {
    display: flex;
    flex-direction: column;
}

.table-as-cards [data-label]::before {
    content: attr(data-label)': ';
}

td.numeric, th.numeric {
    text-align: right;
    white-space: nowrap;
}

tr.totals { background: #ccc; }

@include media-breakpoint-up(md) {
    .table-as-cards thead {
        display: table-header-group;
    }

    .table-as-cards tr {
        display: table-row;
    }

    .table-as-cards [data-label]::before {
        content: none;
    }
}

/* Scorecards */
.batting-scorecard .runs, .batting-scorecard .balls {
    width: 3em;
}

.player-name {
    width: 20%;
    white-space: nowrap;
}

.balls-faced-header {
    width: 1em;
}

.balls-faced:before {
    content: '(';
}

.balls-faced {
    font-size: .8em;
}

.balls-faced:after {
    content: ')';
}

.batting-scorecard thead th, .bowling-scorecard thead th {
    white-space: nowrap;
}

.batting-scorecard .extras th {
    text-align: right;
    font-weight: normal;
}
.batting-scorecard .totals th {
    text-align: right;
}