$theme-colors: ( "primary": #008000, "info": #b5d498);

@import "../Content/bootstrap/bootstrap-reboot.scss";
@import "../Content/bootstrap/bootstrap-grid.scss";
@import "../Content/bootstrap/_nav.scss";
@import "../Content/bootstrap/_alert.scss";
@import "../Content/bootstrap/_forms.scss";
@import "../Content/bootstrap/_buttons.scss";
@import "../Content/bootstrap/_dropdown.scss";
@import "../Content/bootstrap/utilities/_screenreaders.scss";

@import "_header.scss";

/* An alert has even padding, so remove any bottom margin on the last child which would make that look extra large. */
.alert > :last-child {
    margin-bottom: 0;
}

/* Display a Gravatar next to its content 

    <div class="form-row">
        <div class="col gravatar"><img /></div>
        <div class="col">content</div>
    </div>
*/
.gravatar { flex: 0 0 50px; }

@import "_tables.scss";

/* Add some space below a tabbed navigation */
.nav-tabs { margin-bottom: $spacer; }

@import "_forms.scss";