@import "_theme.scss";
@import "../Content/bootstrap/bootstrap-reboot.scss";
@import "../Content/bootstrap/bootstrap-grid.scss";

/* Required for header */
@import "../Content/bootstrap/_navbar";
@import "../Content/bootstrap/transitions";
@import "../Content/bootstrap/_dropdown.scss";
@import "../Content/bootstrap/_type.scss"; // for .list-unstyled
@import "_header.scss";

/* Makes .sr-only available */
@import "../Content/bootstrap/utilities/_screenreaders";

/* Images - don't let them overflow their container */
img { max-width: 100%; }

/* Text and table styles */
@import "../Content/bootstrap/utilities/_text.scss";
@import "../Content/bootstrap/_tables.scss";
@import "_tables.scss";

/* Required to use boxed content using alert styles */
@import "../Content/bootstrap/_alert.scss";

/* Required for footer */
@import "_footer.scss";

/* An alert has even padding, so remove any bottom margin on the last child which would make that look extra large. */
.alert > :last-child {
    margin-bottom: 0;
}

/* Display a Gravatar next to its content 

    <div class="form-row">
        <div class="col gravatar"><img /></div>
        <div class="col">content</div>
    </div>
*/
.gravatar { flex: 0 0 60px; }
.gravatar > img { border-radius: 50%; }

/* Required for tabbed navigaton */
@import "../Content/bootstrap/_nav.scss";

/* Add some space below a tabbed navigation */
.nav-tabs { margin-bottom: $spacer; }

/* Required for forms and form buttons */
@import "../Content/bootstrap/_forms.scss";
@import "../Content/bootstrap/_buttons.scss";
@import "_forms.scss";

/* For Umbraco editing */
@import "_blocks.scss";