@import "_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

.home__team-finder {
    position: relative;
    z-index: 2;
    transform: skewY($skew);
    background: #000 url(/images/photos/england-2018.jpg) no-repeat top center;
    padding: $spacer*4 0 $spacer*2;
    border-top: 5px solid theme-color("primary");
    border-bottom: 5px solid theme-color("primary");
    color: $white;
    margin-bottom: $spacer*2;
}

.home__team-finder form {
    transform: skewY($skew*-1);
}

.home__team-finder h2 {
    text-shadow: 2px 2px 2px $black;
}

.home__team-finder label {
    text-shadow: 2px 2px 2px $black;
    background: rgba(0,0,0,.5);
    padding: $spacer*.5;
    border-radius: $border-radius*2 $border-radius*2 0 0;
    margin-bottom: 0;
}

.home__boxes {
    display: flex;
    width: 100%;
    margin-bottom: $spacer;
}

.home__boxes > * {
    width: 25%;
    margin-top: -($spacer*4);
    padding: 0;
    min-height: 400px;
    border: 5px solid transparent;
    flex-grow: 1;
}

.home__boxes > * > div {
    height: 100%;
}

.home__boxes > *:hover, .home__boxes > *:focus, .home__boxes > *:active {
    outline: none;
    border-color: $black;
    position: relative;
    z-index: 1;
}

.home__boxes h2 {
    font-family: 'Assistant';
    font-size: 2.5em;
    background: rgba(0,0,0,.5);
    color: white;
    padding: $spacer*3 $spacer $spacer/2;
}

.home__organise {
    border-radius: 0 0 0 $border-radius*8;
    margin-right: -5px;
}

.home__organise > div {
    background-color: khaki;
    border-radius: 0 0 0 $border-radius*8;
}

.home__coach {
    margin-left: -5px;
    margin-right: -5px;
}

.home__coach > div {
    background-color: powderblue;
}

.home__volunteer {
    margin-left: -5px;
    margin-right: -5px;
}
.home__volunteer > div {
    position: relative;
    background: darkseagreen url(/images/photos/kelvin.jpg) no-repeat;
    background-size: cover;
}

.home__volunteer p {
    position: absolute;
    margin: 0;
    left: 1rem;
    bottom: 1rem;
    box-shadow: 2px 2px 2px $black;
}

.home__player-links {
    margin-left: -5px;
    border-radius: 0 0 $border-radius*8 0;
}

.home__player-links div {
    background-color: #eee;
    border-radius: 0 0 $border-radius*8 0;
}