@import "_theme.scss";
@import "_mixins.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

$button-shadow: 2px 2px 2px $black;

.keep-together {
    white-space: nowrap;
}

.home__what-is-stoolball:link, .home__what-is-stoolball:visited {
    display: block;
    background: content-box top right $black url(/images/photos/what-is-stoolball.jpg) no-repeat;
    margin: $spacer*2 0;
    border-radius: 20px;
    color: $white;
    @include remove-link-underline;
}

.home__what-is-stoolball__content {
    background: rgba(0,0,0,.5);
    padding: 20px 30px;
    border-radius: 20px;
    border: 5px solid transparent;
}

.home__what-is-stoolball:hover .home__what-is-stoolball__content, .home__what-is-stoolball:focus .home__what-is-stoolball__content, .home__what-is-stoolball:active .home__what-is-stoolball__content {
    border-color: $black;
}

.home__what-is-stoolball:hover .btn, .home__what-is-stoolball:focus .btn, .home__what-is-stoolball:active .btn {
    color: $white;
    background-color: #218838;
    border-color: $white;
}

@include media-breakpoint-up(md) {
    .home__what-is-stoolball:link, .home__what-is-stoolball:visited {
        margin: $spacer*3 0;
        background-size: 100%;
    }

    .home__what-is-stoolball:hover, .home__what-is-stoolball:focus, .home__what-is-stoolball:active {
        background-size: 105%;
        transition: all .1s;
    }
}

@include media-breakpoint-up(lg) {
    .home__what-is-stoolball__content {
        max-width: 48%;
    }
    .home__what-is-stoolball:hover .home__what-is-stoolball__content, .home__what-is-stoolball:focus .home__what-is-stoolball__content, .home__what-is-stoolball:active .home__what-is-stoolball__content {
        border-color: transparent;
    }
}

.home__what-is-stoolball h2 {
    font-family: 'Assistant';
    font-size: 2.2rem;
}

.home__what-is-stoolball ul {
    font-size: 1.3rem;
}

.home__what-is-stoolball p {
    margin-bottom: 0;
    border-width: 2px;
}

.home__team-finder {
    position: relative;
    z-index: 2;
    transform: skewY($skew);
    background: #000 url(/images/photos/england-2018.jpg) no-repeat top center;
    padding: $spacer*4 0 $spacer*2;
    border-top: 5px solid theme-color("primary");
    border-bottom: 5px solid theme-color("primary");
    color: $white;
    margin-bottom: $spacer*2;
}

@include media-breakpoint-up(md) {
    .home__team-finder {
        margin-bottom: $spacer*3;
    }
}

.home__team-finder form {
    transform: skewY($skew*-1);
}

.home__team-finder h2 {
    text-shadow: 2px 2px 2px $black;
}

.home__team-finder label {
    text-shadow: 2px 2px 2px $black;
    background: rgba(0,0,0,.5);
    padding: $spacer*.5;
    border-radius: $border-radius*2 $border-radius*2 0 0;
    margin-bottom: 0;
}

.roles .tile {
    width: 50%;
}

.roles .tile__link {
    min-height: 200px;
}

.roles .tile__link > div {
    height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
}

.roles__header {
    font-family: 'Assistant';
    font-size: 1.9rem;
    background: rgba(0,0,0,.5);
}

.roles__footer p {
    box-shadow: $button-shadow;
    $white-space: nowrap;
    margin: 0 auto $spacer;
    display: inline-block;
}

.roles__organise {
    margin-right: -5px;
    margin-bottom: -5px;
}

.roles__organise > a {
    border-radius: $border-radius*8 0 0 0;
    background: content-box khaki;
}

.roles__organise > a > div {
    background: center top / contain url(/images/photos/organise.jpg) no-repeat;
}

.roles__coach {
    margin-left: -5px;
    margin-bottom: -5px;
}

.roles__coach > a {
    border-radius: 0 $border-radius*8 0 0;
    background: content-box powderblue;
}

.roles__coach > a > div {
    background: center top / contain url(/images/photos/coach.jpg) no-repeat;
}

.roles__play {
    margin-top: -5px;
    margin-right: -5px;
}

.roles__play > a {
    background: content-box #ffaefe;
    border-radius: 0 0 0 $border-radius*8;
}

.roles__play > a > div {
    background: center top / contain url(/images/photos/play.jpg) no-repeat;
}

.roles__volunteer {
    margin-top: -5px;
    margin-left: -5px;
}

.roles__volunteer > a {
    background: content-box darkseagreen;
    border-radius: 0 0 $border-radius*8 0;
}
.roles__volunteer > a > div {
    background: center top / contain url(/images/photos/volunteer.jpg) no-repeat;
}

@include media-breakpoint-up(sm) {
    .roles .tile__link {
        min-height: 300px;
    }
}

@include media-breakpoint-up(md) {
    .roles.tiles {
        margin-bottom: $spacer*3;
    }

    .roles .tile {
        width: 25%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .roles__header {
        font-size: 2.2rem; /* Based on 'Volunteer' at the start of md breakpoint. */
        text-align: left;
    }

    .roles .tile__link {
        min-height: 400px;
    }

    .roles__organise {
        margin-right: -5px;
    }

    .roles__organise > a {
        border-radius: 0 0 0 $border-radius*8;
    }

    .roles__organise > a > div {
        background-size: cover;
        background-position-x: center;
    }

    .roles__coach {
        margin-left: -5px;
        margin-right: -5px;
    }

    .roles__coach > a {
        border-radius: unset;
    }

    .roles__coach > a > div {
        background-size: cover;
    }

    .roles__play {
        margin-left: -5px;
        margin-right: -5px;
    }

    .roles__play > a {
        border-radius: unset;
    }

    .roles__play > a > div {
        background-size: cover;
        background-position-x: right;
    }

    .roles__volunteer {
        margin-left: -5px;
    }

    .roles__volunteer > a > div {
        background-size: cover;
        background-position-x: center;
    }

    .roles__footer {
        text-align: left;
        padding: 0 $spacer;
    }
}

@include media-breakpoint-up(lg) {
    // Bootstrap's .btn-lg, but applied only when this media query matches
    .roles .btn {
        padding: $spacer/2 $spacer;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
}

.shop {
    margin-bottom: $spacer*3;
}

// Offset the transparent border
.shop .tiles {
    margin-bottom: $spacer/4;
    width: calc(100% + 10px);
    margin-left: -5px;
}

.shop h2 {
    font-family: 'Assistant';
    font-size: 2rem;
    margin: 0 0 $spacer/4;
    background: 1.5rem center / 35px theme-color("primary") url(/images/icons/iconmonstr-basket-3.svg) no-repeat;
    color: $white;
    padding: $spacer $spacer $spacer $spacer*5;
    border-radius: $border-radius*2;
}


.shop .tile__link {
    margin: 0;
    background: content-box $black;
    justify-content: center;
}

.shop__footer {
    background: rgba(0,0,0,.6);
    color: $white;
    padding: $spacer;
    font-weight: bold;
}

.shop__price {
    position: absolute;
    top: 0;
    right: 0;
    padding: $spacer/2;
    background: theme-color("primary");
    color: $white;
    font-weight: bold;
    font-size: 1rem;
}

.shop__button {
    box-shadow: $button-shadow;
}

@media screen and (min-width: 515px) {
    .shop .tile__link {
        align-items: center;
    }

    .shop img {
        max-width: 50%;
    }

    .shop__footer {
        position: relative;
        font-size: 2rem;
        background-color: transparent;
    }
}

@media screen and (min-width: 630px) {
    .shop__price {
        font-size: 1.5rem;
    }

    .shop__footer {
        padding: $spacer $spacer*2;
    }
}

@include media-breakpoint-up(md) {
    .shop h2 {
        font-size: 2.5rem;
    }

    .shop .tile__link {
        flex-direction: column;
        justify-content: flex-start;
    }

    .shop img {
        max-width: 100%;
    }

    .shop__footer {
        font-size: 1.5rem;
        padding: $spacer;
        flex-grow: 1;
    }

    .shop__footer-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
}


.history h2 {
    font: bold 3em 'Dancing Script';
    color: theme-color("primary");
    text-align: center;
    margin: $spacer*2 0 $spacer;
    padding-top: $spacer* 2;
    border-top: 1px solid #ddd;

    & a:link, a:visited {
        @include remove-link-underline;
    }

    & a:focus, a:hover, a:active {
        @include link-underline;
        border-bottom-width: 2px;
    }

    &::after {
        content: '';
        background: url(/images/icons/wikimedia-dogmoj-de-hilelismo-02.svg) no-repeat center;
        background-size: 150px;
        height: .6em;
        display: block;
        margin: auto;
    }


    @include media-breakpoint-up(sm) {
        margin: $spacer*2 0 $spacer;

        &::before, &::after {
            content: '';
            background: url(/images/icons/wikimedia-three-lines-ornament-black-down-left.svg) no-repeat center;
            background-size: 55px;
            width: 65px;
            height: .6em;
            display: inline-block;
        }

        &::after {
            background-image: url(/images/icons/wikimedia-three-lines-ornament-black-down-right.svg);
        }
    }

    @include media-breakpoint-up(md) {
        font-size: 5em;

        &::before, &::after {
            background-size: 95px;
            width: 115px;
        }
    }
}

.history .tiles {
    flex-direction: column;
}

.history__tile {
    height: 400px;
    margin-bottom: $spacer;
    display: flex;
    justify-content: center;
}

.history__baseball .tile__link {
    background: border-box top center url(/images/photos/baseball.jpg) no-repeat;
}

.history__grantham .tile__link {
    background: border-box top center url(/images/photos/downsmen.jpg) no-repeat;
}

.history .tile__link {
    display: block;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    max-width: 370px;
    color: $white;
    font: 3rem 'Dancing Script';
    text-align: center;
    text-shadow: 2px 2px 3px $black;
}

.history__title {
    padding: 0 $spacer;
}

.history__subtitle {
    display: block;
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 0 $spacer;
}

.history__grantham .history__title {
    font-size: 4rem;
}

.history__glynde .tile__link {
    background: border-box top center url(/images/photos/gertrude.jpg) no-repeat;
}

@include media-breakpoint-up(sm) {
    .history .tiles {
        flex-direction: row;
    }

    .history__tile {
        width: 48%;
    }

    .history__glynde {
        margin-right: $spacer/2;
    }

    .history__baseball {
        margin-left: $spacer/2;
    }

    .history__grantham .history__title {
        font-size: 3.5rem;
    }
}

@include media-breakpoint-up(md) {
    .history__tile {
        width: 33%;
    }
    // Adjust the space between items
    .history__baseball {
        margin-left: 0;
    }

    .history__grantham {
        margin-left: $spacer/2;
    }
}

@include media-breakpoint-up(lg) {
    .history__grantham .history__title {
        font-size: 4rem;
    }
}