@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

/* For Bootstrap tables used to manage lists of related items. Note that .related-item__animate is used because the <tr />
   can't have its height animated - it will not collapse beyond the height of its children. .related-item__animate also
   doesn't work when applied to the <button />.

   <table class="table related-items">
        <tbody>
        <tr class="(|related-item__deleted)">
            <td class="related-item__selected__section">
                <div class="related-item__animate">value</div>
            </td>
            <td class="related-item__delete related-item__selected__section">
                <div class="related-item__animate">
                    <input type="hidden" class="related-item__data related-item__id" data-item="{{item-id}}" />
                    <button type="button" class="text-danger><svg /></button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="search" class="related-item__search" data-url="/path/to/autocomplete" data-template="template-id" /></td>
        </tr>
        </tbody>
    </table>
    <script id="template-id" type="text/x-template">
        <table>
        <tr>... any HTML, with {{value}} and {{data}} replaced with the selected item from autocomplete</tr>
        </table>
    </script>

    Also for a single-item version where the display is similar but there's only ever one row so it's not a table.
    
    <div class="form-group related-item">
        <label for="search">Search</label>
        <input type="search" class="related-item__search" data-url="/path/to/autocomplete" data-template="template-id" id="search" />
    </div>
    <script type="text/x-template" id="location-template">
        <div class="related-item__selected">
            <div class="related-item__selected__section">
                <input type="text" readonly="readonly" value="{{value}}" class="form-control" id="search" />
            </div>
            <div class="related-item__delete related-item__selected__section">
                <input name="xxx" type="hidden" class="related-item__data related-item__id" value="{{data}}" />
                <button type="button" class="text-danger><svg /></button>
            </div>
        </div>
    </script>
*/

/* .related-item the single item version, which is not in a table */
.related-item {
    width: 100%;
}

.related-item__selected {
    display: flex;
    align-items: center;
}

.related-item__selected__section:first-child {
    flex-grow: 1;
}

.related-item__selected__section {
    transition: padding .5s;
}

.related-item__deleted > .related-item__selected__section {
    padding: 0;
}

.related-item__animate {
    transition: height .5s;
    overflow: hidden;
}

.related-item__deleted .related-item__animate {
    height: 0;
}

// Used in both versions - box-sizing ensures the width is consistent in both contexts
.related-item__delete {
    width: 35px;
    text-align: right;
    box-sizing: content-box;
}

.related-item__delete button {
    border: none;
    background: none;
}

.related-item__search:disabled {
    display: none;
}

.autocomplete-group {
    font-weight: bold;
    color: $table-dark-color;
    background-color: $table-dark-bg;
    border-color: $table-dark-border-color;
}



/* For reduced motion, instead of animating the row strike out the text and remove the delete button */
@media (prefers-reduced-motion: reduce) {
    .related-items .related-item__selected__section, .related-item__animate {
        transition: none;
    }

    .related-item__deleted > .related-item__selected__section {
        padding: ($spacer/4)*3;
    }

    .related-item__deleted .related-item__animate {
        height: auto;
        text-decoration: line-through;
    }

    .related-item__deleted > .related-item__delete > * {
        visibility: hidden;
    }
}
