/* View scorecards */
.batting-scorecard .runs,
.batting-scorecard .balls {
  width: 3em;
}

.player-name {
  width: 20%;
  white-space: nowrap;
}

.balls-faced-header {
  width: 1em;
}

.balls-faced:before {
  content: "(";
}

.balls-faced {
  font-size: 0.8em;
}

.balls-faced:after {
  content: ")";
}

.batting-scorecard thead th,
.bowling-scorecard thead th {
  white-space: nowrap;
}

.batting-scorecard .extras th {
  text-align: right;
  font-weight: normal;
}

.batting-scorecard .totals {
  background: #ccc;
}

.batting-scorecard .totals th {
  text-align: right;
}
