@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";

/* View scorecards */
.batting-scorecard .runs,
.batting-scorecard .balls {
  width: 3em;
}

.player-name {
  width: 20%;
  white-space: nowrap;
}

.balls-faced-header {
  width: 1em;
}

.balls-faced:before {
  content: "(";
}

.balls-faced {
  font-size: 0.8em;
}

.balls-faced:after {
  content: ")";
}

.batting-scorecard thead th,
.bowling-scorecard thead th {
  white-space: nowrap;
}

.scorecard__extras th {
  text-align: right;
  font-weight: normal;
}

.scorecard__totals {
  background: #ccc;
}

.scorecard__totals th {
  text-align: right;
}


/* Edit scorecards */

/* .alert-info > svg is a lightbulb suggestion */
.alert-info > svg {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.edit-batting-scorecard__add-batter {
    height: 0;
    overflow: visible;
}
.edit-batting-scorecard__add-batter > td {
    padding: 0;
    border: 0;
}
.edit-batting-scorecard__add-batter button {
    position: absolute;
    margin-left: $spacer/4*3;
    margin-top: $spacer/2;
}