@import "_theme.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_variables.scss";

.tiles.product-list {
    flex-wrap: wrap;
    margin-bottom: $spacer/2;
}

.product-preview {
    position: relative;
    width: 100%;
    background: lighten(theme-color("secondary"), 20%);
    overflow: visible;
    margin-bottom: $spacer;
    color: $black;
}

.product-preview__linked > a:link, .product-preview > a:visited {
    color: $black;
    display: block;
    border: none;
    height: 100%;
}

.product-preview__linked > a:hover, .product-preview > a:focus, .product-preview a:active {
    outline: 5px solid $black;
}

.product-preview__linked .product-preview__detail:after {
    content: 'Product details ❯';
    display: inline-block;
    text-align: right;
    padding: $spacer/2 $spacer;
    background: theme-color("primary");
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}

.product-preview .tile__link {
    border: none;
    transform: none;
    margin: 0;
}

.product-preview img {
    border-top: 2px solid theme-color("secondary");
    border-left: 2px solid theme-color("secondary");
    border-bottom: 2px solid theme-color("secondary");
}

.product-preview__detail {
    width: 100%;
}

.product-preview__title {
    background: $black;
    color: $white;
    padding: $spacer $spacer*4 $spacer $spacer;
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.product-preview__description {
    padding: $spacer;
    margin: 0;
}

.product-preview__linked .product-preview__description {
    padding-bottom: 3rem;
}

.product-preview__price {
    position: absolute;
    top: 0;
    right: 0;
    background: theme-color("primary");
    color: $white;
    padding: $spacer/2;
    font-weight: bold;
    z-index: 1;
}

@include media-breakpoint-up(md) {
    .product-preview {
        width: 45%;
    }

    .product-preview:nth-child(odd) {
        margin-right: 5px;
    }

    .product-preview:nth-child(even) {
        margin-left: 5px;
    }
}

// .shop_spreadshirt is a large responsive advert for the Spreadshirt shop
// The whole advert is a link around an header, image and text that appears like a button
.shop__spreadshirt {
    display: block;
    background: url(/images/promo/halftone-starburst.jpg);
    background-size: 100%;
    padding: $spacer;
    text-align: center;
    border-radius: 40px;
    border: 0;
    margin-bottom: $spacer*4;
}

.shop__spreadshirt:hover, .shop__spreadshirt:focus, .shop__spreadshirt:active {
    box-shadow: 0 0 0 5px $black;
    outline: none;
}

.shop__spreadshirt h2 {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px $grey;
    padding: 0 $spacer $spacer;
}

.shop__spreadshirt img {
    display: inline-block;
    margin-bottom: 1em;
}

.shop__spreadshirt:hover img, .shop__spreadshirt:focus img, .shop__spreadshirt:active img {
    transform: scale(1.05);
    transition: all .1s;
}

.shop__spreadshirt p {
    box-shadow: 2px 2px 2px $black;
}