@import "_theme.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_variables.scss";

$button-shadow: 2px 2px 2px $black;

.shop .tile__link {
    background: content-box $black;
    justify-content: center;
}

.shop__footer {
    background: rgba(0,0,0,.6);
    color: $white;
    padding: $spacer;
    font-weight: bold;
}

.shop__price {
    position: absolute;
    top: 0;
    right: 0;
    padding: $spacer/2;
    background: theme-color("primary");
    color: $white;
    font-weight: bold;
    font-size: 1rem;
}

.shop__button {
    box-shadow: $button-shadow;
}

@media screen and (min-width: 515px) {
    .shop .tile__link {
        align-items: center;
    }

    .shop img {
        max-width: 50%;
    }

    .shop__footer {
        position: relative;
        font-size: 2rem;
        background-color: transparent;
    }
}

@media screen and (min-width: 630px) {
    .shop__price {
        font-size: 1.5rem;
    }
    .shop__footer {
        padding: $spacer $spacer*2;
    }
}

@include media-breakpoint-up(md) {
    .shop .tile__link {
        flex-direction: column;
        justify-content: flex-start;
    }

    .shop img {
        max-width: 100%;
    }

    .shop__footer {
        font-size: 1.5rem;
        padding: $spacer;
        flex-grow: 1;
    }

    .shop__footer-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
}

// .shop_spreadshirt is a large responsive advert for the Spreadshirt shop
// The whole advert is a link around an header, image and text that appears like a button
.shop__spreadshirt {
    display: block;
    background: url(/images/promo/halftone-starburst.jpg);
    background-size: 100%;
    padding: $spacer;
    text-align: center;
    border-radius: 40px;
    border: 0;
    margin-bottom: $spacer*4;
}

.shop__spreadshirt:hover, .shop__spreadshirt:focus, .shop__spreadshirt:active {
    box-shadow: 0 0 0 5px $black;
    outline: none;
}

.shop__spreadshirt h2 {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px $grey;
    padding: 0 $spacer $spacer;
}

.shop__spreadshirt img {
    display: inline-block;
    margin-bottom: 1em;
}

.shop__spreadshirt:hover img, .shop__spreadshirt:focus img, .shop__spreadshirt:active img {
    transform: scale(1.05);
    transition: all .1s;
}

.shop__spreadshirt p {
    box-shadow: $button-shadow;
}