<?xml version="1.0" encoding="utf-8"?>
<Media Key="2858eb89-c891-4a43-89b4-3516168b9aa5" Alias="Air Ball" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/AirBall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:39</CreateDate>
    <NodeName Default="Air Ball" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/r5vfqker/air-ball.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>