<?xml version="1.0" encoding="utf-8"?>
<Media Key="69365944-40a2-4178-a798-38613288dcaf" Alias="Appendix 6: Abuse" Level="2">
  <Info>
    <Parent Key="f0740b10-8d57-4896-aa13-3bcc25408abb">Policies</Parent>
    <Path>/Policies/Appendix6Abuse</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T17:42:02</CreateDate>
    <NodeName Default="Appendix 6: Abuse" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lrmdm0nc/abuse-2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>