<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf733b3d-f3f2-42cd-81a1-143c7e3825e2" Alias="Appendix 1: The role and responsibilities of the Stoolball England Welfare Officer" Level="2">
  <Info>
    <Parent Key="f0740b10-8d57-4896-aa13-3bcc25408abb">Policies</Parent>
    <Path>/Policies/Appendix1TheRoleAndResponsibilitiesOfTheStoolballEnglandWelfareOfficer</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T17:42:03</CreateDate>
    <NodeName Default="Appendix 1: The role and responsibilities of the Stoolball England Welfare Officer" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eu3hht5s/cp-appendix-1-se-welfare-officer-role-2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>