<?xml version="1.0" encoding="utf-8"?>
<Media Key="f15b249e-269b-48b5-a69a-a884eb923d2a" Alias="Bat &amp; ball (1)" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/BatBall1</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2023-01-13T21:44:11</CreateDate>
    <NodeName Default="Bat &amp; ball (1)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4s4elotg/bat.jpg","crops":[{"alias":"Extra-small","coordinates":{"x1":0,"y1":0.3854651197933838,"x2":0,"y2":0.38305339872513466}}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>