<?xml version="1.0" encoding="utf-8"?>
<Media Key="435b4035-520f-41b1-8913-3299751d4555" Alias="Bat &amp; ball" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/BatBall</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2020-07-19T12:24:35</CreateDate>
    <NodeName Default="Bat &amp; ball" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l5mekchs/imgp0421.jpg","focalPoint":{"left":0.83,"top":0.37333333333333335},"crops":[{"alias":"Extra-small","width":576,"height":100,"coordinates":{"x1":0,"y1":0.27555555555555555,"x2":0,"y2":0.49296296296296294}},{"alias":"Small","width":768,"height":150,"coordinates":{"x1":0,"y1":0.26666666666666666,"x2":0,"y2":0.47291666666666665}},{"alias":"Medium","width":992,"height":180,"coordinates":null},{"alias":"Large","width":1200,"height":200,"coordinates":null},{"alias":"Extra-large","width":2000,"height":300,"coordinates":null}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>