<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a08ce39-fa81-4dba-aa66-463452015110" Alias="Coaching" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/Coaching</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2022-05-14T13:15:28</CreateDate>
    <NodeName Default="Coaching" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/knlbmql2/66178221_2324073704336357_4425831766938353664_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"Extra-small","width":576,"height":100,"coordinates":{"x1":0.04375,"y1":0.28906249999999994,"x2":0.0006944444444443771,"y2":0.4620949074074074}},{"alias":"Small","width":768,"height":150,"coordinates":null},{"alias":"Medium","width":992,"height":180,"coordinates":null},{"alias":"Large","width":1200,"height":200,"coordinates":null},{"alias":"Extra-large","width":2000,"height":300,"coordinates":null}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>