<?xml version="1.0" encoding="utf-8"?>
<Media Key="d48bd88c-410c-4d91-9ae6-3084f21a01b4" Alias="Coaching Manual Cover" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/CoachingManualCover</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T22:36:09</CreateDate>
    <NodeName Default="Coaching Manual Cover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rlmixvam/coaching-manual.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>