<?xml version="1.0" encoding="utf-8"?>
<Media Key="037fddd7-677f-43c2-9bf9-d2ab6a398831" Alias="Committee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Committee</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-01-27T12:44:40</CreateDate>
    <NodeName Default="Committee" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>