<?xml version="1.0" encoding="utf-8"?>
<Media Key="34bf89cb-22ea-4b6f-a3e7-baaf0afe996f" Alias="Cover of Sussex County Magazine, July 1928" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/CoverOfSussexCountyMagazineJuly1928</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-05T19:34:37</CreateDate>
    <NodeName Default="Cover of Sussex County Magazine, July 1928" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zwel4nhk/sussexcountycover.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>