<?xml version="1.0" encoding="utf-8"?>
<Media Key="09e45815-6951-462e-b272-f28c8f832ee3" Alias="Disciplinary policy" Level="2">
  <Info>
    <Parent Key="f0740b10-8d57-4896-aa13-3bcc25408abb">Policies</Parent>
    <Path>/Policies/DisciplinaryPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T17:42:03</CreateDate>
    <NodeName Default="Disciplinary policy" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bvmoickr/se-disciplinary-policy-and-procedures.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>