<?xml version="1.0" encoding="utf-8"?>
<Media Key="c194f3ea-db42-4b2d-81de-ccb327277f94" Alias="England Team - 2018" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/EnglandTeam2018</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2022-05-14T13:15:28</CreateDate>
    <NodeName Default="England Team - 2018" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qbvjvcv5/ex1gzpxxeaqk1zc.jfif","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"Extra-small","width":576,"height":100,"coordinates":null},{"alias":"Small","width":768,"height":150,"coordinates":null},{"alias":"Medium","width":992,"height":180,"coordinates":null},{"alias":"Large","width":1200,"height":200,"coordinates":null},{"alias":"Extra-large","width":2000,"height":300,"coordinates":null}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>