<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8920e2e-4c3c-4bbf-94cd-12ba651b1c52" Alias="England Team 2018 (full size)" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/EnglandTeam2018FullSize</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="England Team 2018 (full size)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/islizi4b/42814497_10157944009438569_8860404745806807040_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"Extra-small","width":576,"height":100,"coordinates":null},{"alias":"Small","width":768,"height":150,"coordinates":null},{"alias":"Medium","width":992,"height":180,"coordinates":null},{"alias":"Large","width":1200,"height":200,"coordinates":null},{"alias":"Extra-large","width":2000,"height":300,"coordinates":{"x1":0.040171489197530864,"y1":0.30734436823361827,"x2":0.004272955246913614,"y2":0.4776041787749287}}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>