<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cf4943a-bfce-4272-9c20-f8865cbf93b9" Alias="England bowling" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/EnglandBowling</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="England bowling" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kagouzzt/42902786_10157944053923569_4565133933057933312_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":[{"alias":"Extra-small","width":576,"height":100,"coordinates":null},{"alias":"Small","width":768,"height":150,"coordinates":null},{"alias":"Medium","width":992,"height":180,"coordinates":null},{"alias":"Large","width":1200,"height":200,"coordinates":null},{"alias":"Extra-large","width":2000,"height":300,"coordinates":{"x1":0.044444444444444474,"y1":0.3742492647198481,"x2":0,"y2":0.4106992822886989}}]}]]></Value>
    </umbracoFile>
  </Properties>
</Media>