<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3df1441-49c4-4d11-a66e-09baa6cb2b1c" Alias="Georgie Harrison" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/GeorgieHarrison</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-27T12:45:10</CreateDate>
    <NodeName Default="Georgie Harrison" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/i2kn5y4e/georgie.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>