<?xml version="1.0" encoding="utf-8"?>
<Media Key="25f18921-26c3-4910-ae77-f9f259b69e28" Alias="Georgie Harrison and Meg James" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/GeorgieHarrisonAndMegJames</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Georgie Harrison and Meg James" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e4epcjod/89227959_2814481221962267_8926265969051959296_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>