<?xml version="1.0" encoding="utf-8"?>
<Media Key="95fa57ef-2eac-4232-a91a-487dd932aa22" Alias="Georgie Harrison (collage)" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/GeorgieHarrisonCollage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Georgie Harrison (collage)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3flpvfnm/61063470_2249977558412639_6888621810384896000_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>