<?xml version="1.0" encoding="utf-8"?>
<Media Key="8265b7b3-2dd7-4557-b3d1-cf997f79b265" Alias="Indoor At Tonbridge" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/IndoorAtTonbridge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T22:56:04</CreateDate>
    <NodeName Default="Indoor At Tonbridge" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ww1hlawx/indoor-at-tonbridge.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>