<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2e2551c-a68f-4f8b-b3f2-2af4cfb4e745" Alias="Indoor" Level="2">
  <Info>
    <Parent Key="20267099-8355-4234-a4e0-4c08d2908441">Header photos</Parent>
    <Path>/HeaderPhotos/Indoor</Path>
    <Trashed>false</Trashed>
    <ContentType>headerPhoto</ContentType>
    <CreateDate>2023-01-13T21:44:11</CreateDate>
    <NodeName Default="Indoor" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":[{"alias":"Extra-small","coordinates":{"x1":0,"y1":0.4209877577044751,"x2":0,"y2":0.3475307608140434}},{"alias":"Small","coordinates":{"x1":0,"y1":0.41827817307620563,"x2":0,"y2":0.3213051602571277}},{"alias":"Medium","coordinates":{"x1":0,"y1":0.409776158401594,"x2":0,"y2":0.3482883577274383}},{"alias":"Large","coordinates":{"x1":0,"y1":0.4226571675081805,"x2":0,"y2":0.35512061026959724}},{"alias":"Extra-large","coordinates":{"x1":0,"y1":0.41580806844924834,"x2":0,"y2":0.3841919315507517}}],"src":"/media/o1gpzgls/indoor.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>