<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c846b82-93cd-40b1-8e4c-633cb460731a" Alias="Lesson Four: Fielding Skills - Throwing And Catching" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/LessonFourFieldingSkillsThrowingAndCatching</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-09T21:32:28</CreateDate>
    <NodeName Default="Lesson Four: Fielding Skills - Throwing And Catching" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tjvji5gn/4-lesson-four-fielding-skills-rev-a.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>