<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce74e960-936c-4ddf-b73a-37e46e04c5c3" Alias="Lesson Three: Batting" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/LessonThreeBatting</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-09T21:32:28</CreateDate>
    <NodeName Default="Lesson Three: Batting" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pduhjttm/3-lesson-three-batting-rev-a.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>