<?xml version="1.0" encoding="utf-8"?>
<Media Key="06247531-a03d-4367-943d-f5711f1bddb0" Alias="Lets Play Stoolball" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LetsPlayStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Lets Play Stoolball" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g30dibr3/lets-play-stoolball.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>