<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fa6d164-39c1-4257-8d30-886565267764" Alias="Linked player showing multiple names and multiple teams" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/LinkedPlayerShowingMultipleNamesAndMultipleTeams</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-21T21:56:23</CreateDate>
    <NodeName Default="Linked player showing multiple names and multiple teams" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mlilmd4b/bubbles.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>