<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2a92e2c-723b-45d7-8f1f-86f0a34af04b" Alias="Lynda Buttifant" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/LyndaButtifant</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Lynda Buttifant" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fixktur1/60690917_2249978248412570_7954925799000244224_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>