<?xml version="1.0" encoding="utf-8"?>
<Media Key="6880cee2-947b-418c-bd7a-8a1e5f6baeab" Alias="Maud Brand dressed for stoolball c1868 (detail) by Gertrude Brand" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/MaudBrandDressedForStoolballC1868DetailByGertrudeBrand</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T14:49:13</CreateDate>
    <NodeName Default="Maud Brand dressed for stoolball c1868 (detail) by Gertrude Brand" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2thia0d1/brand.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>