<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb82840d-a17d-4637-9a04-9ea97002dbfd" Alias="Metal Wickets" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/MetalWickets</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:41</CreateDate>
    <NodeName Default="Metal Wickets" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bocif013/metal-wickets.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>