<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d862340-c3b6-4ee4-a0ec-26401a7e4a3b" Alias="Mr W W Grantham KC, and Mr K Yonezawa of the Japanese Embassy" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/MrWWGranthamKCAndMrKYonezawaOfTheJapaneseEmbassy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T14:34:19</CreateDate>
    <NodeName Default="Mr W W Grantham KC, and Mr K Yonezawa of the Japanese Embassy" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iyrjmhnw/tokyo.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>