<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfde8f1a-38a3-47f8-abd2-70a806828483" Alias="Multiple players can be treated as the same person for statistics" Level="2">
  <Info>
    <Parent Key="147934f7-e869-41b4-a36f-1fea31053654">Organise</Parent>
    <Path>/Organise/MultiplePlayersCanBeTreatedAsTheSamePersonForStatistics</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-13T22:29:52</CreateDate>
    <NodeName Default="Multiple players can be treated as the same person for statistics" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dshn3t3d/linked-players.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>