<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-09T22:09:31</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>