<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0740b10-8d57-4896-aa13-3bcc25408abb" Alias="Policies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Policies</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-10T17:39:09</CreateDate>
    <NodeName Default="Policies" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>