<?xml version="1.0" encoding="utf-8"?>
<Media Key="826fee77-9df5-4412-a20f-931a4bc97a63" Alias="Position of the bowler" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/PositionOfTheBowler</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T19:51:41</CreateDate>
    <NodeName Default="Position of the bowler" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ohxg5axv/position-of-bowler.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>