<?xml version="1.0" encoding="utf-8"?>
<Media Key="95acacdc-6445-47dd-b7b4-8905fa55e426" Alias="Practice 1: Catching using the ‘Katch It’ board" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/Practice1CatchingUsingTheKatchItBoard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T22:32:46</CreateDate>
    <NodeName Default="Practice 1: Catching using the ‘Katch It’ board" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1kwkzfkf/coachingpractice.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>