<?xml version="1.0" encoding="utf-8"?>
<Media Key="b04dbba1-e622-463d-a659-717cd1532f8d" Alias="Profit Loss 30.09.20" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/ProfitLoss300920</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-09T22:49:10</CreateDate>
    <NodeName Default="Profit Loss 30.09.20" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xg3f1mbc/profit-loss-30-09-20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>