<?xml version="1.0" encoding="utf-8"?>
<Media Key="6422c191-4d13-4405-94d6-a45082074cf3" Alias="Recruitment and selection policy" Level="2">
  <Info>
    <Parent Key="f0740b10-8d57-4896-aa13-3bcc25408abb">Policies</Parent>
    <Path>/Policies/RecruitmentAndSelectionPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T17:42:04</CreateDate>
    <NodeName Default="Recruitment and selection policy" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhadezat/se-recruitment-and-selection-policy-and-procedure.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>