<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1999970-9950-4abd-9a1c-146ee39911e0" Alias="Richard Emsley (collage)" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/RichardEmsleyCollage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Richard Emsley (collage)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/o0mjt2kq/60884441_2249977215079340_5296109428074872832_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>