<?xml version="1.0" encoding="utf-8"?>
<Media Key="a00a973c-6fff-4684-a56e-9d86fb5c377c" Alias="Rules" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rules</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-07T19:47:27</CreateDate>
    <NodeName Default="Rules" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>