<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d4968e2-6861-463f-87bf-b88727a0f5cf" Alias="Schools" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Schools</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-09T21:32:16</CreateDate>
    <NodeName Default="Schools" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>