<?xml version="1.0" encoding="utf-8"?>
<Media Key="f127e9e7-7e9f-454e-af25-eeb119a7181b" Alias="Screenshot 2021 04 05 161438" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/Screenshot20210405161438</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Screenshot 2021 04 05 161438" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2hudp2m5/screenshot-2021-04-05-161438.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>