<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb34cc8e-bbc3-4de9-bda7-6019e35762ef" Alias="Sophie Dunn (collage)" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/SophieDunnCollage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Sophie Dunn (collage)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rdgdj04d/61047359_2249983838412011_5035707175826096128_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>