<?xml version="1.0" encoding="utf-8"?>
<Media Key="775eda12-dbf4-4a0b-a823-a79a77e0b280" Alias="Stoolball England Website and Social Media Links White (EPS)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWebsiteAndSocialMediaLinksWhiteEPS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:33:31</CreateDate>
    <NodeName Default="Stoolball England Website and Social Media Links White (EPS)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ctnf235u/url-social-white.eps","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>