<?xml version="1.0" encoding="utf-8"?>
<Media Key="02302628-66e1-48d6-8904-8bea3e2ed635" Alias="Stoolball England Colour Logo with Website (web)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandColourLogoWithWebsiteWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:12:02</CreateDate>
    <NodeName Default="Stoolball England Colour Logo with Website (web)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fytdaaxb/logo-colour-web-url.png","focalPoint":{"left":0.5,"top":0.5048543689320388},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>