<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5d3e6e5-8660-42f3-8d24-07bc1134e2aa" Alias="Stoolball England U16 Consent Form" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/StoolballEnglandU16ConsentForm</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Stoolball England U16 Consent Form" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5xtnhnla/stoolball-england-u16-consent-form.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>