<?xml version="1.0" encoding="utf-8"?>
<Media Key="cde2633c-af7e-4801-8606-6d405f7d7c10" Alias="Stoolball England Website and Social Media Links Black (EPS)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWebsiteAndSocialMediaLinksBlackEPS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:33:31</CreateDate>
    <NodeName Default="Stoolball England Website and Social Media Links Black (EPS)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hjrpftl4/url-with-social-media.eps","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>