<?xml version="1.0" encoding="utf-8"?>
<Media Key="d23441d4-185a-49c8-89e1-03fb22fb0893" Alias="Stoolball England Black Logo with Website (PNG)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandBlackLogoWithWebsitePNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:22:28</CreateDate>
    <NodeName Default="Stoolball England Black Logo with Website (PNG)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0jadjus0/stoolball-england-logo-url-black.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>