<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c731b73-9e41-4421-b17a-db9d7fc4feb0" Alias="Stoolball England Website Address (web)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWebsiteAddressWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:28:26</CreateDate>
    <NodeName Default="Stoolball England Website Address (web)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ounhghcb/url-web.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>