<?xml version="1.0" encoding="utf-8"?>
<Media Key="5592fce7-f31d-4ad2-8fea-1ae378356a4f" Alias="Stoolball England Tutor Training" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/StoolballEnglandTutorTraining</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-09T22:09:15</CreateDate>
    <NodeName Default="Stoolball England Tutor Training" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/554jevi3/stoolball-england-tutor-training.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>