<?xml version="1.0" encoding="utf-8"?>
<Media Key="9918f9e9-8c80-454f-af10-768be7333031" Alias="Stoolball Illustrated And How To Play It by W W Grantham" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/StoolballIllustratedAndHowToPlayItByWWGrantham</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-03T14:44:46</CreateDate>
    <NodeName Default="Stoolball Illustrated And How To Play It by W W Grantham" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4h2brgma/stoolball-illustrated-and-how-to-play-it.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>