<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d91fea2-7156-426f-b258-05d7f00c7da6" Alias="Stoolball Complete Resource Pack" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/StoolballCompleteResourcePack</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-14T13:14:07</CreateDate>
    <NodeName Default="Stoolball Complete Resource Pack" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xl5jctkw/stoolball-complete-resource-pack.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>