<?xml version="1.0" encoding="utf-8"?>
<Media Key="db57c194-f906-4eb0-abd9-8827b60a0392" Alias="Straight drive technique - from the coaching DVD" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/StraightDriveTechniqueFromTheCoachingDVD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-22T18:17:12</CreateDate>
    <NodeName Default="Straight drive technique - from the coaching DVD" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/slafpwyg/coaching-batting.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>