<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b7083d0-8b68-4632-a236-758e72f044a1" Alias="Wendy Heal (collage)" Level="2">
  <Info>
    <Parent Key="037fddd7-677f-43c2-9bf9-d2ab6a398831">Committee</Parent>
    <Path>/Committee/WendyHealCollage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-14T13:15:28</CreateDate>
    <NodeName Default="Wendy Heal (collage)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/00bhac1i/61232005_2249977935079268_5702561948734849024_n.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>