<?xml version="1.0" encoding="utf-8"?>
<Media Key="a58b263a-0242-4fc5-b3d3-14bb577e5103" Alias="When a player is listed in statistics, up to three teams can be shown" Level="2">
  <Info>
    <Parent Key="147934f7-e869-41b4-a36f-1fea31053654">Organise</Parent>
    <Path>/Organise/WhenAPlayerIsListedInStatisticsUpToThreeTeamsCanBeShown</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-13T22:42:02</CreateDate>
    <NodeName Default="When a player is listed in statistics, up to three teams can be shown" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hqtixjkc/multiple-teams.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>