@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks;
@{
    var content = (Consent)Model.Content;
}
@if (!string.IsNullOrWhiteSpace(content.ConsentLevel) && !string.IsNullOrWhiteSpace(content.Label))
{
<form>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="@content.ConsentLevel">
        <label for="@content.ConsentLevel" class="custom-control-label">@content.Label</label>
    </div>
</form>
}