@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@inject Ganss.XSS.IHtmlSanitizer htmlSanitiser
@{
    var content = (Tip)Model.Content;
    htmlSanitiser.KeepChildNodes = true;
    htmlSanitiser.AllowedTags.Clear();
    htmlSanitiser.AllowedTags.Add("strong");
    htmlSanitiser.AllowedTags.Add("em");
    htmlSanitiser.AllowedTags.Add("a");
    htmlSanitiser.AllowedAttributes.Clear();
    htmlSanitiser.AllowedAttributes.Add("href");
    htmlSanitiser.AllowedCssProperties.Clear();
    htmlSanitiser.AllowedAtRules.Clear();
}
@if (content.Text != null && !string.IsNullOrWhiteSpace(content.Text.ToHtmlString()))
{
    var html = new HtmlString(htmlSanitiser.Sanitize(content.Text.ToHtmlString()));
    <p class="alert alert-info alert-tip" role="alert">@html</p>
}