@inherits UmbracoViewPage<StatisticsSummaryViewModel<Club>>
@using Stoolball.Clubs
@using Stoolball.Web.Statistics.Models
@{
    SmidgeHelper.RequiresCss(new CssFile("/css/statistics.min.css") { Order = 100 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("/js/filter.js") { Order = 100 });
    SmidgeHelper.RequiresCss(new CssFile("/css/filter.min.css") { Order = 100 });
}
<div class="container-xl">
    <h1>@Model.Context?.ClubName</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context?.ClubRoute">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context?.ClubRoute/matches">Matches</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Statistics</em>
        </li>
        <li class="nav-item nav-item-admin">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
    </ul>
    @await Html.PartialAsync("_StatisticsSummary")
</div>