@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Clubs.ClubViewModel>

<h1>@Model.Club.ClubName</h1>

@Html.Partial("_TeamList", Model.Club.Teams)
@*
    if (count($this->matches))
    {
        echo new XhtmlElement('h2', 'Matches this season');
        echo new MatchListControl($this->matches);
    }

    <p><a href="Model.Club.GetMatchesRssUrl(); ?>" rel="alternate" type="application/rss+xml" class="rss">Subscribe to new or updated matches</a></p>
*@

@if (Model.Club.ClubMark)
{
    @Html.Partial("_ClubMark")
}
