@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Competitions.CompetitionViewModel>
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>Edit @Model.Competition.CompetitionNameAndPlayerType()</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.Competition.CompetitionRoute">Summary</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Edit</em>
    </li>
</ul>

@if (Model.IsAuthorized)
{
    @Html.Partial("_CompetitionActions", Model)
}
else
{
    @Html.Partial("_Login")
}