@inherits Umbraco.Web.Mvc.UmbracoViewPage<MatchLocationViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.MatchLocations
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    Html.RequiresJs("https://maps.google.co.uk/maps/api/js?key=" + Model.GoogleMapsApiKey, 50);
    Html.RequiresJs("/js/maps.js", 90);
    Html.RequiresJs("/matchlocations/edit-match-location.js");

    Html.RequiresJs("/umbraco/lib/tinymce/tinymce.min.js", 90);
    Html.RequiresJs("/js/tinymce.js");
}

<h1>Add a ground or sports centre</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/locations">Search</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Add</em>
    </li>
</ul>

@if (Model.IsAuthorized)
{
    using (Html.BeginUmbracoForm<CreateMatchLocationSurfaceController>
        ("CreateMatchLocation"))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrEditMatchLocation")
    }
}
else
{
    @Html.Partial("_Login")
}