@inherits UmbracoViewPage<ClubViewModel>
@using Stoolball.Web.Clubs
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@await Html.PartialAsync("_JQueryValidate")
@await Html.PartialAsync("_JQueryAutocomplete")
@await Html.PartialAsync("_RelatedItems")
<div class="container-xl">
    <h1>Add a club</h1>

    @if (Model.IsAuthorized[AuthorizedAction.CreateClub])
    {
        using (Html.BeginUmbracoForm<CreateClubSurfaceController>
            ("CreateClub"))
        {
            <p class="alert alert-info alert-tip">A club links teams together. Do you need to <a href="/teams/add">add a team</a> instead?</p>
            @await Html.PartialAsync("_CreateOrEditClub")
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>