@inherits UmbracoViewPage<EditKnockoutMatchViewModel>
@using Stoolball.Web.Matches
@using Stoolball.Web.Matches.Models
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@await Html.PartialAsync("_JQueryValidate")
@await Html.PartialAsync("_JQueryAutocomplete")
@await Html.PartialAsync("_RelatedItem")
@await Html.PartialAsync("_TinyMCE")
@await Html.PartialAsync("_Forms")
@{
    var h1 = string.Empty;
    if (Model.Team != null)
    {
        h1 = $"Add a knockout match for {Model.Team.TeamName}";
    }
    else if (Model.Season != null)
    {
        h1 = $"Add a knockout match in the {Model.Season.SeasonFullName()}";
    }
}
<div class="container-xl">
    @await Html.PartialAsync("_ConfirmCreateMatch", Model.CreatedMatch)
    <h1>@h1</h1>

    @if (Model.Authorization.CurrentMemberIsAuthorized[AuthorizedAction.CreateMatch])
    {
        using (Html.BeginUmbracoForm<CreateKnockoutMatchSurfaceController>(nameof(CreateKnockoutMatchSurfaceController.CreateMatch)))
        {
            @await Html.PartialAsync("_CreateOrEditKnockoutMatch")
            <button class="btn btn-primary" type="submit">Save match</button>
            <button class="btn btn-secondary" type="submit" name="AddAnother">Save and add another</button>
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>