@inherits Umbraco.Web.Mvc.UmbracoViewPage<ClubViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Clubs
@using Stoolball.Web.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    Html.RequiresJs("~/js/libs/jquery.autocomplete.min.js", 50);
    Html.RequiresCss("~/css/autocomplete.min.css");

    Html.RequiresCss("~/css/related-items.min.css");
    Html.RequiresJs("~/js/related-items.js");
}

<h1>Add a club</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/teams">Search</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Add club</em>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/teams/add">Add team</a>
    </li>
</ul>

@if (Model.IsAuthorized[AuthorizedAction.CreateClub])
{
    using (Html.BeginUmbracoForm<CreateClubSurfaceController>
        ("CreateClub"))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrEditClub")
    }
}
else
{
    @Html.Partial("_Login")
}