@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.MatchLocations.MatchLocationViewModel>
@using System.Globalization
@using Stoolball.MatchLocations
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>Delete @Model.MatchLocation.NameAndLocalityOrTownIfDifferent()</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.MatchLocation.MatchLocationRoute">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Model.MatchLocation.MatchLocationRoute/matches">Matches</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Edit</em>
    </li>
</ul>

<p>Are you sure?</p>