@inherits UmbracoViewPage<ClubViewModel>
@using Stoolball.Web.Clubs
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@await Html.PartialAsync("_JQueryValidate")
@await Html.PartialAsync("_JQueryAutocomplete")
@await Html.PartialAsync("_RelatedItems")
@await Html.PartialAsync("_Forms")
<div class="container-xl">
    <h1>Edit @Model.Club?.ClubName</h1>

    @if (Model.Authorization.CurrentMemberIsAuthorized[AuthorizedAction.EditClub])
    {
        using (Html.BeginUmbracoForm<EditClubSurfaceController>
            ("UpdateClub"))
        {
            @await Html.PartialAsync("_CreateOrEditClub")
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>