@inherits UmbracoViewPage<EditStatisticsViewModel>
@using Stoolball.Web.Statistics.Admin
@using Stoolball.Security
@{ 
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/progress.js") { Order = 100 });
}
<div class="container-xl">
    <h1>Update statistics</h1>
    @if (Model.IsAuthorized[AuthorizedAction.EditStatistics])
    {
        if (Model.BackgroundTaskId.HasValue)
        {
            <p class="while-progress">Updating all matches…</p>
            <progress max="100" value="0" data-url="/api/statistics/progress?taskid=@Model.BackgroundTaskId">0</progress>
            <p><a href="/" class="btn btn-primary btn-back">Back to the home page</a></p>
        }
        else
        {
            using (Html.BeginUmbracoForm<EditStatisticsSurfaceController>(nameof(EditStatisticsSurfaceController.UpdateStatistics)))
            {
                <button class="btn btn-primary" type="submit">Update statistics for all matches</button>
            }
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>