@inherits UmbracoViewPage<SeasonViewModel>
@using Stoolball.Web.Competitions
@using Stoolball.Web.Competitions.Models
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@await Html.PartialAsync("_JQueryValidate")
@await Html.PartialAsync("_TinyMCE")
<div class="container-xl">
    <h1>Edit @Model.Season!.SeasonFullName()</h1>

    @if (Model.Authorization.CurrentMemberIsAuthorized[AuthorizedAction.EditCompetition])
    {
        using (Html.BeginUmbracoForm<EditSeasonSurfaceController>(nameof(EditSeasonSurfaceController.UpdateSeason)))
        {
            @Html.ValidationSummary(true)
            @await Html.PartialAsync("_CreateOrEditSeason")
        }
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>