@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc
@{
    Html.RequiresCss("~/css/shop.page.min.css");
    Html.RequiresCss("~/css/home.min.css");
}
@section head {
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap" rel="stylesheet" />
}
<div class="container-xl">
    <h1 class="sr-only">@Model.Name</h1>

    <h2>What is stoolball?</h2>
    <ul>
        <li>Family game</li>
        <li>Outdoors</li>
        <li>Indoors</li>
        <li>Walking</li>
    </ul>
</div>

<article class="home__team-finder">
    <form method="get" action="/teams" class="container-xl">
        <h2>Find your team</h2>
        <label for="team-search">Enter your town, village or team name…</label>
        <div class="form-inline form-search">
            <input type="search" class="form-control" id="team-search" name="q" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</article>

<div class="container-xl">

    <div class="home__boxes">
        <a href="/organise" class="home__organise">
            <div>
                <h2>Organise</h2>
                <div class="home__boxes__button">
                    <p class="btn btn-success">Get some tips</p>
                </div>
            </div>
</a>

        <a href="/play/coaching" class="home__coach">
            <div>
                <h2>Coach</h2>
                <div class="home__boxes__button">
                    <p class="btn btn-danger">Share your skills</p>
                </div>
                </div>
</a>

        <a href="/play" class="home__play">
            <div>
                <h2>Play</h2>
                <div class="home__boxes__button">
                    <p class="btn btn-success">Find your team</p>
                </div>
            </div>
        </a>

        <a href="/about/volunteer-in-stoolball/" class="home__volunteer">
            <div>
                <h2>Volunteer</h2>
                <div class="home__boxes__button">
                    <p class="btn btn-danger">Be a part of it</p>
                </div>
            </div>
        </a>

    </div>

    <article>
        <a class="shop__spreadshirt" href="https://shop.spreadshirt.co.uk/stoolball">
            <h2>Stoolball gifts for you…</h2>
            <div>
                <img src="~/images/promo/spreadshirt.png" alt="Products from our gift shop" width="600" />
            </div>
            <p class="btn btn-danger btn-lg">Buy now!</p>
        </a>
    </article>

    <h2>Buy equipment</h2>
    <hr />

    <h2>News</h2>
    <hr />

    <h2>History</h2>
    <p>Stoolball stories</p>
    <p>Baseball</p>
</div>