@inherits Umbraco.Web.Mvc.UmbracoViewPage<IndividualScoresViewModel>
@using Stoolball.Web.Statistics
@using ClientDependency.Core.Mvc
@{
    Html.RequiresCss("/statistics/statistics.min.css");
}
@section head {
    @if (Model.StatisticsFilter.PageNumber == 1)
    {
        <meta name="robots" content="index, nofollow">
    }
    else
    {
        <meta name="robots" content="noindex, nofollow">
    }
}
<div class="container-xl">
    <h1>Highest individual scores 
    @if (Model.StatisticsFilter.PlayerIds.Any()) {
        @:for @(Model.Results.First().Player.PlayerName())
    }</h1>

    @Html.Partial("_StatisticsBasis")
    @Html.Partial("_IndividualScores")
</div>