@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsViewModel<PlayerInnings>>
@using Stoolball.Statistics
@using Stoolball.Web.Statistics
@using Stoolball.Matches
@using ClientDependency.Core.Mvc
@using Umbraco.Core.Composing
@{
    var humanizer = Current.Factory.GetInstance<IStatisticsFilterHumanizer>();
    Html.RequiresCss("/statistics/statistics.min.css");
    if (Model.AppliedFilter.Player != null)
    {
        Model.ShowPlayerColumn = false;
    }
}
@section canonical {@Html.Partial("_CanonicalUrl", new[] { "page" })}
@section head {
    @if (Model.AppliedFilter.Paging.PageNumber == 1)
    {
        <meta name="robots" content="index, nofollow">
    }
    else
    {
        <meta name="robots" content="noindex, nofollow">
    }
}
<div class="container-xl">
    <h1>Highest individual scores@(humanizer.MatchingFixedFilter(Model.AppliedFilter))</h1>

    @Html.Partial("_StatisticsBasis")
    @Html.Partial("_IndividualScores")
</div>