@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsViewModel<PlayerInnings>>
@using Stoolball.Web.Statistics
@using Stoolball.Matches
@using ClientDependency.Core.Mvc
@{
    Html.RequiresCss("/statistics/statistics.min.css");
    if (Model.StatisticsFilter.Player != null)
    {
        Model.ShowPlayerColumn = false;
    }
}
@section canonical {@Html.Partial("_CanonicalUrl", new[] { "page" })}
@section head {
    @if (Model.StatisticsFilter.PageNumber == 1)
    {
        <meta name="robots" content="index, nofollow">
    }
    else
    {
        <meta name="robots" content="noindex, nofollow">
    }
}
<div class="container-xl">
    <h1>Highest individual scores@(Model.StatisticsFilter)</h1>

    @Html.Partial("_StatisticsBasis")
    @Html.Partial("_IndividualScores")
</div>