@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<LoginMember>
@await Html.PartialAsync("_JQueryValidate")
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        @await Html.PartialAsync("_Logout")
    }
    else
    {
        @await Html.PartialAsync("_Login")
    }
</div>