@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LogoutMember>
@using System.Configuration
@using ContentModels = Umbraco.Web.PublishedModels;
@using Stoolball.Web.Email
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Logout")
    }
    else
    {
        if (ConfigurationManager.AppSettings["DisableLogin"] == "true")
        {
            <p><strong>You have been signed out automatically because sign in is temporarily disabled while we're busy upgrading the site. Please try again in a few hours.</strong></p>
        }
        else
        {
            @Html.ProtectEmailAddresses(Model.LoggedOut)
        }
        <p><a href="/" class="btn btn-primary btn-back">@Model.HomeButton</a></p>
    }
</div>