@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc 
@{
	Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/base.min.css" />
    <title>@Model.Name</title>
    @RenderSection("head", false)
</head>
<body>
    <div class="container-xl">
        @RenderBody()
    </div>
    @Html.RenderJsHere()
</body>
</html>