@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Teams.TeamViewModel>
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>Matches for @Model.Team.TeamName</h1>

@if (Model.Team.UntilYear.HasValue)
{
    <div class="alert alert-info">
        <p><strong>This team is no longer active.</strong></p>
    </div>
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.Team.TeamRoute">Summary</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Matches</em>
    </li>
    @if (Model.IsAuthorized)
    {
        <li class="nav-item">
            <a class="nav-link" href="@Model.Team.TeamRoute/edit">Edit</a>
        </li>
    }
</ul>

@if (Model.Matches.Matches.Count > 0)
{
    @Html.Partial("_MatchList", Model.Matches)
}
else
{
    <p>There are no matches for this team this season.</p>
}