@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Teams.TeamViewModel>
@using Stoolball.Web.Matches
@using Stoolball.Matches
@using Stoolball.Security
@{
    var matchMenu = new AddMatchMenuViewModel { BaseRoute = Model.Team.TeamRoute, EnableTournaments = true };

    if (Model.IsInACurrentLeague)
    {
        matchMenu.MatchTypes.Add(MatchType.LeagueMatch);
    }
    if (Model.IsInACurrentKnockoutCompetition)
    {
        matchMenu.MatchTypes.Add(MatchType.KnockoutMatch);
    }
    matchMenu.MatchTypes.Add(MatchType.FriendlyMatch);
}
@section head {
    <meta name="robots" content="noindex,follow" />
}

<h1>@Model.Team.TeamName</h1>

@if (Model.Team.UntilYear.HasValue)
{
    <div class="alert alert-info">
        <p><strong>This team is no longer active.</strong></p>
    </div>
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Model.Team.TeamRoute">Summary</a>
    </li>
    <li class="nav-item">
        <em class="nav-link active">Matches</em>
    </li>
    @Html.Partial("_AddMatchMenu", matchMenu)
</ul>

@if (Model.Matches.Matches.Count > 0)
{
    @Html.Partial("_MatchList", Model.Matches)
}
else
{
    <p>There are no matches for this team this season.</p>
}