@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Teams.TeamViewModel>
@using Stoolball.Teams

<h1>Matches for @Model.Team.TeamName</h1>

@if (Model.Team.TeamType != TeamType.Once && Model.Team.UntilDate.HasValue)
{
    <div class="alert alert-info">
        <p><strong>This team doesn't play any more.</strong></p>
    </div>
}

@if (Model.Matches.Matches.Count > 0)
{
    @Html.Partial("_MatchList", Model.Matches)
}
else
{
    <p>There are no matches for this team this season.</p>
}