@inherits Umbraco.Web.Mvc.UmbracoViewPage<Stoolball.Web.Matches.MatchListingViewModel>
@section canonical {@Html.Partial("_CanonicalUrl", new[] { "page", "q" })}
<div class="container-xl">
    <h1>@Stoolball.Constants.Pages.Matches</h1>

    @if (Model.Matches.Count > 0)
    {
        @Html.Partial("_MatchList", Model)
    }
    else
    {
        <p>There are no matches yet this season.</p>
    }

    @Html.Partial("_Paging", Model.MatchFilter.Paging)

    @{ 
        var query = HttpUtility.ParseQueryString(Request.Url.Query);
        query.Remove("page");
    }
    <p><a type="application/rss+xml" href="/matches.rss@(query.Count > 0 ? "?" : string.Empty)@(query)">New and updated matches – subscribe with RSS</a></p>
</div>