@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsViewModel<BestStatistic>>
@using Stoolball.Web.Filtering
@using Stoolball.Statistics
@using Stoolball.Web.Statistics
@using ClientDependency.Core.Mvc
@using Umbraco.Core.Composing
@{
    var humanizer = Current.Factory.GetInstance<IStatisticsFilterHumanizer>();
    Html.RequiresCss("/statistics/statistics.min.css");
    Html.RequiresJs("/js/filter.js");
    Html.RequiresCss("/css/filter.min.css");
}
@section canonical {@Html.Partial("_CanonicalUrl", new[] { "page" })}
@section head {
    @if (Model.AppliedFilter.Paging.PageNumber == 1)
    {
        <meta name="robots" content="index, nofollow">
 }
    else
    {
        <meta name="robots" content="noindex, nofollow">
}
}
<div class="container-xl">
    <h1>Most run-outs@(humanizer.MatchingFixedFilter(Model.AppliedFilter))</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item nav-item-admin">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
    </ul>
    @Html.Partial("_Filters", new FilterViewModel
    {
        FilteredItemTypeSingular = "Run-out",
        FilteredItemTypePlural = "Run-outs",
        FilterDescription = Model.FilterDescription,
        from = Model.AppliedFilter.FromDate,
        to = Model.AppliedFilter.UntilDate
    })

    @if (Model.Results.Any())
    {
        @Html.Partial("_StatisticsBasis") 
    }
    else
    {
        @Html.Partial("_NoData")
    }
    @Html.Partial("_MostRunOuts")
</div>