@inherits Umbraco.Web.Mvc.UmbracoViewPage<StatisticsViewModel<BestStatistic>>
@using Stoolball.Statistics
@using Stoolball.Web.Statistics
@using ClientDependency.Core.Mvc
@using Umbraco.Core.Composing
@{
    var humanizer = Current.Factory.GetInstance<IStatisticsFilterHumanizer>();
    Html.RequiresCss("/statistics/statistics.min.css");
}
@section canonical {@Html.Partial("_CanonicalUrl", new[] { "page" })}
@section head {
    @if (Model.AppliedFilter.Paging.PageNumber == 1)
    {
        <meta name="robots" content="index, nofollow">
    }
    else
    {
        <meta name="robots" content="noindex, nofollow">
    }
}
<div class="container-xl">
    <h1>Most runs@(humanizer.MatchingFixedFilter(Model.AppliedFilter))</h1>

    @Html.Partial("_StatisticsBasis")
    @Html.Partial("_MostRuns")
</div>