@inherits UmbracoViewPage<ResetPassword>
@inject Stoolball.Email.IEmailProtector emailProtector
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (Model.ShowPasswordResetSuccessful != null && Model.ShowPasswordResetSuccessful.Value)
    {
        @Html.ProtectEmailAddresses(emailProtector, Model.PasswordResetSuccessful)
    }
    else
    {
        @Html.ProtectEmailAddresses(emailProtector, Model.PasswordResetFailed)
    }
    <p><a href="/" class="btn btn-primary btn-back">@Model.HomeButton</a></p>
</div>