@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ResetPassword>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Stoolball.Web.Email
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (Model.ShowPasswordResetSuccessful.Value)
    {
        @Html.ProtectEmailAddresses(Model.PasswordResetSuccessful)
    }
    else
    {
        @Html.ProtectEmailAddresses(Model.PasswordResetFailed)
    }
    <p><a href="/" class="btn btn-primary btn-back">@Model.HomeButton</a></p>
</div>