@inherits UmbracoViewPage<StatisticsSummaryViewModel>
@using Stoolball.Security
@using Stoolball.Matches
@using Stoolball.Statistics
@using Stoolball.Web.Statistics.Models
@using Stoolball.Web.Filtering
@await Html.PartialAsync("_JQueryAutocomplete")
@await Html.PartialAsync("_RelatedItem")
@{
    SmidgeHelper.RequiresCss(new CssFile("/css/statistics.min.css") { Order = 100 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("/js/filter.js") { Order = 100 });
    SmidgeHelper.RequiresCss(new CssFile("/css/filter.min.css") { Order = 100 });
}
@section head {
    <meta name="robots" content="noindex, follow" />
}
<div class="container-xl">
    <h1>Statistics for all teams</h1>

    @await Html.PartialAsync("_StatisticsTip")

    <ul class="nav nav-tabs">
        <li class="nav-item nav-item-admin">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
        @if (Model.Authorization.CurrentMemberIsAuthorized[AuthorizedAction.EditStatistics])
        {
            <li class="nav-item nav-item-admin">
                <a class="nav-link nav-link-edit" href="@Stoolball.Constants.Pages.StatisticsUrl/edit">Edit statistics</a>
            </li>
        }
    </ul>
    @await Html.PartialAsync("_StatisticsSummary")
</div>