@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<StyleGuide>
@using Stoolball.Comments
@using Stoolball.Teams
@using Stoolball.Competitions
@using Stoolball.Matches
@using Stoolball.Web.Matches.Models
@using Stoolball.Web.Competitions.Models
@using Stoolball.Statistics
@inject Umbraco.Cms.Core.Services.IUserService userService
@{
    SmidgeHelper.RequiresJs(new JavaScriptFile("https://maps.google.co.uk/maps/api/js?key=" + Model.GoogleMapsApiKey) { Order = 50 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/maps.js") { Order = 90 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/match-location.js"){ Order = 100 });

    await Html.PartialAsync("_JQueryAutocomplete");
    await Html.PartialAsync("_TinyMCE");

    SmidgeHelper.RequiresCss(new CssFile("~/css/scorecards.min.css"){ Order = 100 });
    SmidgeHelper.RequiresCss(new CssFile("~/css/steps.min.css"){ Order = 100 });

    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/player-autocomplete.js") { Order = 70 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/edit-batting-scorecard.js"){ Order = 100 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("~/js/edit-bowling-scorecard.js"){ Order = 100 });

    SmidgeHelper.RequiresCss(new CssFile("~/css/comments.min.css"){ Order = 100 });
}
<div class="container-xl">
    <h1 data-show-consent="true">@Model.Name</h1>
    <ul class="nav nav-tabs nav-tabs-has-add nav-tabs-has-edit">
        <li class="nav-item">
            <a class="nav-link" href="@Umbraco.AssignedContentItem.Url()">Umbraco content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Umbraco.AssignedContentItem.Url()?alttemplate=styleguideforms">Forms</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Stoolball data</em>
        </li>
    </ul>
    <table class="table">
        <caption>Table with edit options</caption>
        <thead><tr><th scope="col">Example</th><th scope="col" id="date-header">Date</th><th scope="col" id="number-header">Number</th></tr></thead>
        <tbody>
            <tr>
                <th scope="row" id="unvalidated-header">Unvalidated</th>
                <td><input class="related-item__data" data-item="3040d68b-bc9e-4bad-a8fe-354b72f214c1" id="Season_Teams_0__WithdrawnDate" name="Season.Teams[0].WithdrawnDate" aria-labelledby="date-header unvalidated-header" type="date" value=""></td>
                <td>
                    <input data-val="true" data-val-number="The field Points for away team must be a number." data-val-required="The Points for away team field is required." id="Season_PointsRules_0__AwayPoints" name="Season.PointsRules[0].AwayPoints" aria-labelledby="number-header unvalidated-header" type="number" value="2">
                </td>
            </tr>
            <tr>
                <th scope="row" id="valid-header">Valid</th>
                <td>
                    <input class="form-control valid" data-val="true" data-val-required="The Match date field is required." id="valid-date-field-in-table" name="valid-date-field-in-table" required="required" aria-labelledby="date-header valid-header" type="date" value="" aria-invalid="false">
                </td>
                <td>
                    <input data-val="true" data-val-number="The field Points for home team must be a number." data-val-required="The Points for home team field is required." id="Season_PointsRules_0__HomePoints" name="Season.PointsRules[0].HomePoints" aria-labelledby="number-header valid-header" type="number" value="0" class="valid" aria-invalid="false">
                </td>
            </tr>
            <tr>
                <th scope="row" id="invalid-header">Invalid</th>
                <td>Not applicable</td>
                <td>
                    <input data-val="true" data-val-number="The field Points for away team must be a number." data-val-required="The Points for away team field is required." id="Season_PointsRules_1__AwayPoints" name="Season.PointsRules[1].AwayPoints" type="number" value="2" class="input-validation-error" aria-labelledby="number-header invalid-header" aria-describedby="Season_PointsRules_1__AwayPoints-error" aria-invalid="true">
                    <span class="field-validation-error" data-valmsg-for="Season.PointsRules[1].AwayPoints" data-valmsg-replace="true"><span id="Season_PointsRules_1__AwayPoints-error" class="">The Points for away team field is required.</span></span>
                </td>
            </tr>
        </tbody>
    </table>
    <p>A paragraph following a Bootstrap table.</p>
    <table class="table table-as-cards table-as-cards-reset-md">
        <caption>League table caption. Table displays as cards on mobile.</caption>
        <thead>
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Played</th>
                <th scope="col">Won</th>
                <th scope="col">Lost</th>
                <th scope="col">Tied</th>
                <th scope="col">No result</th>
                <th scope="col">Runs scored</th>
                <th scope="col">Runs conceded</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="https://example.org">Team A</a></th>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Played</span>12</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Won</span>9</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Lost</span>3</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Tied</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">No result</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Runs scored</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Runs conceded</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Points</span>18</td>
            </tr>
            <tr>
                <th scope="row"><a href="https://example.org">Team B</a></th>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Played</span>12</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Won</span>8</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Lost</span>3</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Tied</span>1</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">No result</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Runs scored</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Runs conceded</span>0</td>
                <td data-stackable="true"><span class="table-as-cards__label" aria-hidden="true">Points</span>17</td>
            </tr>
            <tr class="text-muted">
                <th scope="row"><a href="https://example.org">Team C</a></th>
                <td colspan="8">Withdrawn from league</td>
            </tr>
        </tbody>
    </table>
    <h2>Steps in a process</h2>
    <ol class="steps">
        <li class="steps__completed"><span class="sr-only">First step</span></li>
        <li aria-current="step"><em class="sr-only">Second step</em></li>
        <li><span class="sr-only">Third step</span></li>
        <li><span class="sr-only">Fourth step</span></li>
        <li><span class="sr-only">Fifth step</span></li>
        <li><span class="sr-only">Sixth step</span></li>
    </ol>
    <div class="alert alert-info">
        <p>A paragraph within an informational alert, including a <a href="https://example.org">link</a>.</p>
    </div>
    <div class="alert alert-info">
        <p>Two alerts together.</p>
    </div>
    <h2>Stoolball listings</h2>
    <p>This is a list of teams.</p>
    @await Html.PartialAsync("_TeamList", new List<Team> {
        new Team { TeamName = "Team A", TeamRoute = "/teams/team-a" },
        new Team { TeamName = "Team B", TeamRoute = "/teams/team-b" }
    })
    <p>This is a list of matches.</p>
    @{
        var matchListing = new MatchListingViewModel(Umbraco.AssignedContentItem, userService);
        matchListing.MatchTypesToLabel.Add(MatchType.FriendlyMatch);
        matchListing.Matches.AddRange(new[] {
    new MatchListing {
        MatchName = "Team A v Team B",
        MatchRoute = "/matches/team-a-v-team-b",
        MatchType = MatchType.LeagueMatch,
        StartTime = DateTime.UtcNow.AddMonths(-1)
        },
    new MatchListing {
        MatchName = "Team A v Team B",
        MatchRoute = "/matches/team-a-v-team-b",
        MatchType = MatchType.FriendlyMatch,
        StartTime = DateTime.UtcNow
        },
    new MatchListing {
        MatchName = "Team A tournament",
        MatchRoute = "/tournaments/team-a-tournament",
        PlayerType = PlayerType.Mixed,
        SpacesInTournament = 5,
        StartTime = DateTime.UtcNow.AddMonths(1)
    }
    });
    }
    @await Html.PartialAsync("_MatchList", matchListing)

    <p>This is a list of seasons.</p>
    @{
        var seasonList = new SeasonListViewModel
        {
            ShowCompetitionHeading = true
        };
        var competition = new Competition { CompetitionName = "Example competition" };
        competition.Seasons.Add(new Season { FromYear = 2020, UntilYear = 2020, SeasonRoute = "/competitions/example/2020" });
        competition.Seasons.Add(new Season { FromYear = 2020, UntilYear = 2021, SeasonRoute = "/competitions/example/2020-21" });

        seasonList.Competitions.Add(competition);
    }
    @await Html.PartialAsync("_SeasonList", seasonList)
    <div id="location-map" data-latitude="50.995715487915" data-longitude="0.088866949081421" data-precision="exact" data-title="Maresfield Recreation Ground, Maresfield">
        <p><a href="https://maps.google.co.uk/?z=16&amp;q=Maresfield+Recreation+Ground%2c+Maresfield@50.995715487915,0.088866949081421&amp;ll=50.995715487915,0.088866949081421">Map of Maresfield Recreation Ground, Maresfield on Google Maps</a></p>
    </div>
    <h2>Scorecards</h2>
    @{
        var innings = new EditScorecardViewModel(Model, userService)
        {
            Match = new Match
            {
                PlayersPerTeam = 2
            },
            CurrentInnings = new MatchInningsViewModel
            {
                MatchInnings = new MatchInnings
                {
                    BattingTeam = new TeamInMatch { Team = new Team { TeamName = "The batting team" } },
                    BowlingTeam = new TeamInMatch { Team = new Team { TeamName = "The bowling team" } },
                    Byes = 2,
                    Wides = 4,
                    NoBalls = 6,
                    BonusOrPenaltyRuns = 8,
                    Runs = 100,
                    Wickets = 1
                }
            }
        };
        innings.CurrentInnings.MatchInnings.PlayerInnings.Add(new PlayerInnings
        {
            Batter = new PlayerIdentity { PlayerIdentityName = "Player One", Player = new Player { PlayerRoute  ="/players/player-one" } },
            DismissalType = DismissalType.Caught,
            DismissedBy = new PlayerIdentity { PlayerIdentityName = "Player Two", Player = new Player { PlayerRoute = "/players/player-two" } },
            Bowler = new PlayerIdentity { PlayerIdentityName = "Player Three", Player = new Player { PlayerRoute = "/players/player-three" } },
            RunsScored = 50,
            BallsFaced = 60
        });
        innings.CurrentInnings.MatchInnings.PlayerInnings.Add(new PlayerInnings
        {
            Batter = new PlayerIdentity { PlayerIdentityName = "Player Four", Player = new Player { PlayerRoute = "/players/player-four" } },
            DismissalType = DismissalType.BodyBeforeWicket,
            Bowler = new PlayerIdentity { PlayerIdentityName = "Player Three", Player = new Player { PlayerRoute = "/players/player-three" } },
            RunsScored = 10,
            BallsFaced = 10
        });
        innings.CurrentInnings.PlayerInningsSearch.Add(new PlayerInningsViewModel
        {
            Batter = "Player One",
            DismissalType = DismissalType.Caught,
            DismissedBy = "Player Two",
            Bowler = "Player Three",
            RunsScored = 50,
            BallsFaced = 60
        });
        innings.CurrentInnings.PlayerInningsSearch.Add(new PlayerInningsViewModel
        {
            Batter = "Player Four",
            DismissalType = DismissalType.BodyBeforeWicket,
            Bowler = "Player Three",
            RunsScored = 10,
            BallsFaced = 10
        });
        innings.CurrentInnings.MatchInnings.OversBowled.Add(new Over
        {
            Bowler = new PlayerIdentity { PlayerIdentityName = "Player Two", Player = new Player { PlayerRoute = "/players/player-two" } },
            BallsBowled = 8,
            Wides = 2,
            NoBalls = 4,
            RunsConceded = 8
        });
        innings.CurrentInnings.OversBowledSearch.Add(new OverViewModel
        {
            BowledBy = "Player Two",
            BallsBowled = 8,
            Wides = 2,
            NoBalls = 4,
            RunsConceded = 8
        });
        var scorecardViewModel = new ScorecardViewModel { MatchInnings = innings.CurrentInnings.MatchInnings };
        }


    @await Html.PartialAsync("_BattingScorecard", scorecardViewModel)
    @await Html.PartialAsync("_BowlingScorecard", scorecardViewModel)
    @await Html.PartialAsync("_EditBattingScorecard", innings)
    @await Html.PartialAsync("_EditBowlingScorecard", innings)
    @{ 
        var comments = new List<HtmlComment> {
            new HtmlComment
            {
                MemberName = "Member One",
                MemberEmail = "member.one@example.org",
                CommentDate = DateTimeOffset.UtcNow,
                Comment = "<p>This is a comment.</p>"
            },
            new HtmlComment
            {
                MemberName = "Member Two",
                MemberEmail = "member.two@example.org",
                CommentDate = DateTimeOffset.UtcNow.AddDays(-5),
                Comment = "<p>This is a comment <i>with formatting</i>.</p>"
            }
            ,
            new HtmlComment
            {
                MemberName = "Member Three",
                MemberEmail = "member.three@example.org",
                CommentDate = DateTimeOffset.UtcNow.AddDays(-10),
                Comment = "<p>This is a comment with paragraphs.</p><p>This is a comment with paragraphs.</p>"
            }
        };
    }
    @await Html.PartialAsync("_Comments", comments)

    <p>This paragraph precedes a horizontal rule.</p>
    <hr />
    <p class="linked">This thing is linked.</p>
</div>