@inherits UmbracoViewPage<StatisticsSummaryViewModel<Team>>
@using Stoolball.Web.Statistics.Models
@using Stoolball.Matches
@using Stoolball.Teams
@using Stoolball.Statistics
@using Stoolball.Web.Filtering
@{
    SmidgeHelper.RequiresCss(new CssFile("/css/statistics.min.css") { Order = 100 });
    SmidgeHelper.RequiresJs(new JavaScriptFile("/js/filter.js") { Order = 100 });
    SmidgeHelper.RequiresCss(new CssFile("/css/filter.min.css") { Order = 100 });
}
<div class="container-xl">
    <h1>@Model.Context!.TeamNameLocationAndPlayerType()</h1>

    @if (Model.Context.UntilYear.HasValue)
    {
        <div class="alert alert-info">
            <p><strong>This team is no longer active.</strong></p>
        </div>
    }

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.TeamRoute">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.TeamRoute/matches">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Model.Context.TeamRoute/players">Players</a>
        </li>
        <li class="nav-item">
            <em class="nav-link active">Statistics</em>
        </li>
        <li class="nav-item nav-item-admin">
            <button type="button" class="nav-link nav-link-filter">Edit filter</button>
        </li>
    </ul>
    @await Html.PartialAsync("_StatisticsSummary")
</div>