<?xml version="1.0" encoding="utf-8"?>
<Media Key="620f5799-4079-4409-9160-645de7bcb734" Alias="A completed over in a scorebook" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/ScorebookOver</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T19:04:49</CreateDate>
    <NodeName Default="A completed over in a scorebook" />
    <SortOrder>2</SortOrder>
    <FileHash>336244195110180312320213896689521550236</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/t3lb4ytz/scorebook-over.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>