<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6258315-e95c-43e9-96cc-32ac40c21466" Alias="A completed batter's innings in a scorebook" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/ScorebookBatter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T19:04:20</CreateDate>
    <NodeName Default="A completed batter's innings in a scorebook" />
    <SortOrder>1</SortOrder>
    <FileHash>24614515227110681152261972345424222205921</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cobdlvs2/scorebook-batter.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>