<?xml version="1.0" encoding="utf-8"?>
<Media Key="389e3dfc-4557-408c-8630-8b4dc55ce125" Alias="A stoolball bat from Reykjavik, Iceland, August 1927" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Reykjavik</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:17:54</CreateDate>
    <NodeName Default="A stoolball bat from Reykjavik, Iceland, August 1927" />
    <SortOrder>12</SortOrder>
    <FileHash>2182331871372362501697418117518123016241244</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5i4j2ocx/reykjavik.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>