<?xml version="1.0" encoding="utf-8"?>
<Media Key="174a766b-3ef1-4d04-ad10-7eded0ef7055" Alias="Appendix 2: Role of Welfare Officer at club level" Level="2">
  <Info>
    <Parent Key="f0740b10-8d57-4896-aa13-3bcc25408abb">Policies</Parent>
    <Path>/Policies/ClubWelfareOfficer2018</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T17:42:03</CreateDate>
    <NodeName Default="Appendix 2: Role of Welfare Officer at club level" />
    <SortOrder>0</SortOrder>
    <FileHash>2313519774227166132944312647968616119199</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/on1euf5r/club-welfare-officer-2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>