<?xml version="1.0" encoding="utf-8"?>
<Media Key="b572a016-ebbe-4f52-991f-7135baa1d40b" Alias="Appendix 7: Bullying" Level="2">
  <Info>
    <Parent Key="f0740b10-8d57-4896-aa13-3bcc25408abb">Policies</Parent>
    <Path>/Policies/Appendix7Bullying</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T17:42:03</CreateDate>
    <NodeName Default="Appendix 7: Bullying" />
    <SortOrder>0</SortOrder>
    <FileHash>1696845801982394421189979107422465217</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0qhfnn4/bullying-2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>