<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc761ba9-0b6d-44f5-a1f0-7353785bb8b4" Alias="Aresson Junior Bat" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/AressonJuniorBat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:39</CreateDate>
    <NodeName Default="Aresson Junior Bat" />
    <SortOrder>3</SortOrder>
    <FileHash>2241424834952311761618018444160223246160</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v2nhnxdn/arreson-bat.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>