<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5194b37-12c9-450a-bd5b-d53358d73611" Alias="Balance Sheet 30.09.20" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/BalanceSheet300920</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-09T22:49:28</CreateDate>
    <NodeName Default="Balance Sheet 30.09.20" />
    <SortOrder>4</SortOrder>
    <FileHash>581941671667710517481622405318920993171117</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f3fbtroj/balance-sheet-30-09-20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>