<?xml version="1.0" encoding="utf-8"?>
<Media Key="2958b9a1-db5b-477b-bb84-97ba8c9674d5" Alias="Bat Grip" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/BatGrip</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:41</CreateDate>
    <NodeName Default="Bat Grip" />
    <SortOrder>8</SortOrder>
    <FileHash>2461364114622591481962001261491762042042374</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u42fqkk1/grip.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>