<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c5dae05-6cac-468c-a2e8-4e308c8274dd" Alias="Book cover - Stoolball Illustrated And How To Play It by W W Grantham" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/StoolballIllustrated</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T14:45:07</CreateDate>
    <NodeName Default="Book cover - Stoolball Illustrated And How To Play It by W W Grantham" />
    <SortOrder>4</SortOrder>
    <FileHash>1011303625012421918020729190108224594812595</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aoxf0dfm/stoolball-illustrated.gif","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>