<?xml version="1.0" encoding="utf-8"?>
<Media Key="93375c21-ab31-4ca8-a38e-612bdb7a9c9e" Alias="Book cover - Girls Just Wanted To Have Fun by Andrew Lusted" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/LustedBook2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T14:25:08</CreateDate>
    <NodeName Default="Book cover - Girls Just Wanted To Have Fun by Andrew Lusted" />
    <SortOrder>0</SortOrder>
    <FileHash>2011112418241115177241130234144431251891733</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e3odpezr/lusted-book-2.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>