<?xml version="1.0" encoding="utf-8"?>
<Media Key="759241c7-5185-46ad-ac9e-62d8adfd7fc6" Alias="Build Your Own Wicket Step 4, Option 1" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/BuildYourOwnWicketStep4Option1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-27T15:10:44</CreateDate>
    <NodeName Default="Build Your Own Wicket Step 4, Option 1" />
    <SortOrder>22</SortOrder>
    <FileHash>13124233188217122117861712031092101072176</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/yfaje3mf/build-your-own-wicket-4.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>