<?xml version="1.0" encoding="utf-8"?>
<Media Key="38f251db-2593-46f8-aa07-48ca153714ac" Alias="Coaching at the first England match" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/CoachingAtTheFirstEnglandMatch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-09T22:58:58</CreateDate>
    <NodeName Default="Coaching at the first England match" />
    <SortOrder>7</SortOrder>
    <FileHash>418317011121612122612253199949148120133250</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1vipeoet/1st-game-1024x513.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>