<?xml version="1.0" encoding="utf-8"?>
<Media Key="65d894d2-4956-4ac9-853f-53c94b57560e" Alias="Demonstrating the hand position for bowling a straight delivery" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/DemonstratingTheHandPositionForBowlingAStraightDelivery</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T22:29:56</CreateDate>
    <NodeName Default="Demonstrating the hand position for bowling a straight delivery" />
    <SortOrder>0</SortOrder>
    <FileHash>23560184137781384691831305813419345110188</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0sknqzkw/coachinghand.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>