<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f162e3a-355b-47c2-8054-54796b3ba205" Alias="Dimensions of a stoolball pitch" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/DimensionsOfAStoolballPitch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T19:47:59</CreateDate>
    <NodeName Default="Dimensions of a stoolball pitch" />
    <SortOrder>0</SortOrder>
    <FileHash>167184150171312401214206207917640992347</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hqxbmt01/dimensions-of-a-stoolball-pitch.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>