<?xml version="1.0" encoding="utf-8"?>
<Media Key="64c94c07-856f-4799-a2aa-0ea9f299414d" Alias="Dimensions of a stoolball pitch (PDF)" Level="2">
  <Info>
    <Parent Key="a00a973c-6fff-4684-a56e-9d86fb5c377c">Rules</Parent>
    <Path>/Rules/DimensionsOfAStoolballPitchPDF</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-07T19:48:24</CreateDate>
    <NodeName Default="Dimensions of a stoolball pitch (PDF)" />
    <SortOrder>0</SortOrder>
    <FileHash>10587138181138981771451928381701412412521</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d3gmszdp/dimensions-of-a-stoolball-pitch.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>