<?xml version="1.0" encoding="utf-8"?>
<Media Key="de3165fb-4cb9-4627-a46c-248ea4aa0bc9" Alias="East Sussex Elementary Schools' Stoolball Challenge Banner. The centre panel is a representation of the game as played 200 years ago." Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Elementaryschoolsbanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-05T19:34:36</CreateDate>
    <NodeName Default="East Sussex Elementary Schools' Stoolball Challenge Banner. The centre panel is a representation of the game as played 200 years ago." />
    <SortOrder>27</SortOrder>
    <FileHash>386315161110342191611671251382342578133219</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5vsddxvz/elementaryschoolsbanner.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>