<?xml version="1.0" encoding="utf-8"?>
<Media Key="930d62f8-6e0d-42cf-92ec-49a42f009a77" Alias="Hailsham Ladies Stoolball team (or possibly Lewes), probably in the early 20s" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Hailsham1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="Hailsham Ladies Stoolball team (or possibly Lewes), probably in the early 20s" />
    <SortOrder>20</SortOrder>
    <FileHash>8640181252226442031393354162139291113183</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5zra1eyn/hailsham1.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>