<?xml version="1.0" encoding="utf-8"?>
<Media Key="48e79fa7-bf87-45ed-bd68-864b46f3a328" Alias="How to build a stoolball wicket" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/HowToBuildAStoolballWicket</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-12T20:57:42</CreateDate>
    <NodeName Default="How to build a stoolball wicket" />
    <SortOrder>17</SortOrder>
    <FileHash>135208105157151593811811512296231242140231</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x4pposeh/diy-wickets.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>