<?xml version="1.0" encoding="utf-8"?>
<Media Key="9878c860-65bf-4545-8b1d-144f54a657c1" Alias="Lesson Six: Gameplay And Umpiring" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/LessonSixGamePlayAndUmpiringRevA</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-09T21:32:28</CreateDate>
    <NodeName Default="Lesson Six: Gameplay And Umpiring" />
    <SortOrder>0</SortOrder>
    <FileHash>1191391192378624413513111325499762303219930</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pdehrgf5/6-lesson-six-game-play-and-umpiring-rev-a.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>