<?xml version="1.0" encoding="utf-8"?>
<Media Key="9255ad2a-820c-4f4b-843e-5d5376143b06" Alias="Lesson One: A Wicket-Running Game" Level="2">
  <Info>
    <Parent Key="8d4968e2-6861-463f-87bf-b88727a0f5cf">Schools</Parent>
    <Path>/Schools/LessonOneAWicketRunningGameRevA</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-09T21:32:28</CreateDate>
    <NodeName Default="Lesson One: A Wicket-Running Game" />
    <SortOrder>0</SortOrder>
    <FileHash>12910412989255160172471931162331320518869192</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gkwfleqm/1-lesson-one-a-wicket-running-game-rev-a.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>