<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8b5305e-f5d4-4290-b340-5f2ddd29496f" Alias="Melissa Mantle coaching a young bowler" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/MelissaMantleCoachingAYoungBowler</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-09T22:30:44</CreateDate>
    <NodeName Default="Melissa Mantle coaching a young bowler" />
    <SortOrder>0</SortOrder>
    <FileHash>21320611619328126281222422512625013124737139</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/layllkgu/coachingbowling.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>