<?xml version="1.0" encoding="utf-8"?>
<Media Key="68ff5da0-d7f6-4810-aa9f-04ceec4bc623" Alias="Nutley School, Class 5, 1928" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Nutleyschool</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="Nutley School, Class 5, 1928" />
    <SortOrder>24</SortOrder>
    <FileHash>16361861765619489212614018112011222794</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uzop40hw/nutleyschool.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>