<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ec56635-c4ac-4576-90c5-01b99899bae9" Alias="Polo Shirt" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/PoloShirt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:41</CreateDate>
    <NodeName Default="Polo Shirt" />
    <SortOrder>10</SortOrder>
    <FileHash>868014013412615013192236173250336380241</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gntmlhvm/polo.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>