<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-09T22:33:41</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>