<?xml version="1.0" encoding="utf-8"?>
<Media Key="25eff78e-0ac7-4c45-94da-61dc52cab805" Alias="Scorebook" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/Scorebook</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:42</CreateDate>
    <NodeName Default="Scorebook" />
    <SortOrder>12</SortOrder>
    <FileHash>1471412937795525203192882002514615836234</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rd1p4joh/scorebook.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>