<?xml version="1.0" encoding="utf-8"?>
<Media Key="21b3ad40-0016-4c1d-b269-eddddce7c130" Alias="Society of Sussex Downsmen v Men of Sussex; Sir William Bull MP batting" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Downsmen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="Society of Sussex Downsmen v Men of Sussex; Sir William Bull MP batting" />
    <SortOrder>18</SortOrder>
    <FileHash>10985165238219241832171817112189104113116224</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i0wlgiiw/downsmen.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>