<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff094518-239d-458f-99aa-3262307fd905" Alias="Sports Leaders Logo" Level="2">
  <Info>
    <Parent Key="558a9916-ab51-49d0-a819-15c3748e937e">Partner Logos</Parent>
    <Path>/PartnerLogos/SportsLeadersLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:04:33</CreateDate>
    <NodeName Default="Sports Leaders Logo" />
    <SortOrder>0</SortOrder>
    <FileHash>2551249717201152142471157622551656831201</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dzcbt523/sports-leaders-logo.gif","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>