<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b46b006-9680-47a8-992c-89d0ddc7ce8b" Alias="Stock At 30.09.20" Level="2">
  <Info>
    <Parent Key="cf1f49e5-0e0f-4cf0-8548-f31c90ddf459">News</Parent>
    <Path>/News/StockAt300920</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-09T22:49:10</CreateDate>
    <NodeName Default="Stock At 30.09.20" />
    <SortOrder>1</SortOrder>
    <FileHash>24014136784325139101128660911188104209</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0yemw2a/stock-at-30-09-20.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>