<?xml version="1.0" encoding="utf-8"?>
<Media Key="7405162e-5ce7-4138-b296-d2fb9a874b0a" Alias="Stoolball England Website and Social Media Links Black (PNG)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWebsiteAndSocialMediaLinksBlackPNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:33:30</CreateDate>
    <NodeName Default="Stoolball England Website and Social Media Links Black (PNG)" />
    <SortOrder>0</SortOrder>
    <FileHash>2439431441952412261216810811345186202147219</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/falak3hh/url-social.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>