<?xml version="1.0" encoding="utf-8"?>
<Media Key="b36da7b1-15b5-414b-850a-9e54b0fbd3f7" Alias="Stoolball England Colour Logo with Website (PNG)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandLogoURL1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:12:43</CreateDate>
    <NodeName Default="Stoolball England Colour Logo with Website (PNG)" />
    <SortOrder>0</SortOrder>
    <FileHash>202250254236130221155455314315521222723618370</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w4th1m3v/stoolball-england-logo-url.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>