<?xml version="1.0" encoding="utf-8"?>
<Media Key="68b0780b-f70b-4425-b7cc-1a8bb47421d4" Alias="Stoolball England Black Logo (EPS)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandLogoBlack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:17:41</CreateDate>
    <NodeName Default="Stoolball England Black Logo (EPS)" />
    <SortOrder>0</SortOrder>
    <FileHash>42131931166214631921281808725499538138</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bv2la0al/stoolball-england-logo-black.eps","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>