<?xml version="1.0" encoding="utf-8"?>
<Media Key="270f5193-4cee-4ed6-9be0-51a91be129f6" Alias="Stoolball England Website and Social Media Links White (PNG)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWebsiteAndSocialMediaLinksWhitePNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:33:31</CreateDate>
    <NodeName Default="Stoolball England Website and Social Media Links White (PNG)" />
    <SortOrder>0</SortOrder>
    <FileHash>114653523956351362052115914922322524114057</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/svib4j5o/url-social-white.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>