<?xml version="1.0" encoding="utf-8"?>
<Media Key="5668ab40-4870-4af9-965a-a5f6128a21b4" Alias="Stoolball England Website Address White (EPS)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/UrlWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:28:26</CreateDate>
    <NodeName Default="Stoolball England Website Address White (EPS)" />
    <SortOrder>0</SortOrder>
    <FileHash>6978188103786819122836582201872321515478</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i0vhqvtq/url-white.eps","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>