<?xml version="1.0" encoding="utf-8"?>
<Media Key="1533015b-ea80-479b-a7d6-dd2a2dd2b969" Alias="Stoolball England White Logo with Website (web)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/LogoWhiteWebUrl</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:22:28</CreateDate>
    <NodeName Default="Stoolball England White Logo with Website (web)" />
    <SortOrder>0</SortOrder>
    <FileHash>69401231842512629971110244254135249881</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/luadgfma/logo-white-web-url.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>