<?xml version="1.0" encoding="utf-8"?>
<Media Key="b27f05a2-29fc-4713-a227-aed1cb4e6850" Alias="Stoolball at Hillwood College, Kandy, Ceylon" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Kandy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-05T19:34:37</CreateDate>
    <NodeName Default="Stoolball at Hillwood College, Kandy, Ceylon" />
    <SortOrder>28</SortOrder>
    <FileHash>211524412417066101969317218425924415432</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uqch5mx2/kandy.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>