<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa036c36-284b-4488-a8ee-f65447fd4164" Alias="Stoolball England White Logo (web)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandWhiteLogoWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:17:41</CreateDate>
    <NodeName Default="Stoolball England White Logo (web)" />
    <SortOrder>0</SortOrder>
    <FileHash>202991939088148691831066218346152703895</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gbwah4sl/logo-white-web.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>