<?xml version="1.0" encoding="utf-8"?>
<Media Key="edbe2261-5f54-4ea9-8c3a-e24dea017ce1" Alias="Stoolball England Colour Logo (PNG)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandLogo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:09:43</CreateDate>
    <NodeName Default="Stoolball England Colour Logo (PNG)" />
    <SortOrder>0</SortOrder>
    <FileHash>25391175421932125311518521745928823724328</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m2rl31ku/stoolball-england-logo.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>