<?xml version="1.0" encoding="utf-8"?>
<Media Key="72b6ec21-a85e-497b-ab22-7dc1b3849914" Alias="Stoolball England Colour Logo (web)" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandColourLogoWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-10T16:11:38</CreateDate>
    <NodeName Default="Stoolball England Colour Logo (web)" />
    <SortOrder>0</SortOrder>
    <FileHash>1883011219276401062051191634312811720625092</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/e5wlm2s4/logo-colour-web.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>