<?xml version="1.0" encoding="utf-8"?>
<Media Key="07f42277-7d41-4d0b-b85a-a8ee6d067312" Alias="Stoolball England Brand Guidelines" Level="2">
  <Info>
    <Parent Key="af055af3-d184-4dc6-8a78-8604618e4845">Brand</Parent>
    <Path>/Brand/StoolballEnglandBrandGuidelines</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-10-10T16:09:56</CreateDate>
    <NodeName Default="Stoolball England Brand Guidelines" />
    <SortOrder>0</SortOrder>
    <FileHash>12397616816525323585194861810895183106174</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n2rpib0b/stoolball-england-brand-guidelines.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>