<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba851caf-4cb4-42cc-83de-3f451c09f173" Alias="The Bishop of London and the Matron of the Girls’ Heritage, Chailey, playing stoolball" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Bishopoflondon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="The Bishop of London and the Matron of the Girls’ Heritage, Chailey, playing stoolball" />
    <SortOrder>17</SortOrder>
    <FileHash>251251782092143392921211071111944921923882</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/veoilovu/bishopoflondon.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>