<?xml version="1.0" encoding="utf-8"?>
<Media Key="36be70e0-f1f9-40cd-a450-8a8feab8a87e" Alias="The stoolball team at Drefach School, West Wales, 1933" Level="2">
  <Info>
    <Parent Key="1ca2e03b-9815-41f8-8ac5-49328cb4c106">History</Parent>
    <Path>/History/Drefach</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-03T21:34:39</CreateDate>
    <NodeName Default="The stoolball team at Drefach School, West Wales, 1933" />
    <SortOrder>19</SortOrder>
    <FileHash>599321012854501005417715525025211781246146</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2zyl2nxz/drefach.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>