<?xml version="1.0" encoding="utf-8"?>
<Media Key="62c9d28b-0e8d-482e-b3c8-8fc6baa4b9a4" Alias="Tournament Scorebook" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/TournamentScorebook</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:43</CreateDate>
    <NodeName Default="Tournament Scorebook" />
    <SortOrder>14</SortOrder>
    <FileHash>732221103221171711673369112211479722174</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rxjmsyun/tournament.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>