<?xml version="1.0" encoding="utf-8"?>
<Media Key="08fa539d-058c-4188-910f-586b0523d646" Alias="Wooden Wickets" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/WoodenWickets</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:43</CreateDate>
    <NodeName Default="Wooden Wickets" />
    <SortOrder>15</SortOrder>
    <FileHash>186120539222510165569114515914555228125140</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/tnjpucem/wicket.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>