<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ec3e89f-bbe6-4f77-8684-347efdfea751" Alias="Zip-Up Top" Level="2">
  <Info>
    <Parent Key="f0cf6bce-dfc7-4926-abc9-3c33119036fc">Products</Parent>
    <Path>/Products/ZipUpTop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-12T20:45:43</CreateDate>
    <NodeName Default="Zip-Up Top" />
    <SortOrder>16</SortOrder>
    <FileHash>228205129245151982381542281341541095421134</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/thumgpxg/zip-up.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>