<?xml version="1.0" encoding="utf-8"?>
<Content Key="16c4beed-a18f-4d52-b8c0-818431b50896" Alias="Activate your account" Level="3">
  <Info>
    <Parent Key="cf48e9db-577b-4334-96d7-cf0d12b3dfcd">My account</Parent>
    <Path>/Home/MyAccount/ActivateYourAccount</Path>
    <Trashed>false</Trashed>
    <ContentType>approveMember</ContentType>
    <CreateDate>2020-03-08T19:09:45</CreateDate>
    <NodeName Default="Activate your account" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d0a05fa-b295-4537-b655-c91e25f51a62">ApproveMember</Template>
  </Info>
  <Properties>
    <approvalFailed>
      <Value><![CDATA[<p>Sorry, we weren't able to activate your account.</p>
<p>This may be because it's already active. You can try to <a href="/{localLink:umb://document/0c3a3ccc32114c32b4b5e83952afd124}" title="Reset password">reset your password</a>.</p>]]></Value>
    </approvalFailed>
    <approvalSuccessful>
      <Value><![CDATA[<p>Welcome to Stoolball England {{NAME}}!</p>
<p>Your account is now active and you can <a href="/{localLink:umb://document/fde3fc5187284d348278a084adbc60c6}" title="Sign in">sign in</a>.</p>]]></Value>
    </approvalSuccessful>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[activate]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>