<?xml version="1.0" encoding="utf-8"?>
<Content Key="48424495-a370-42c3-8270-a05348c63b2b" Alias="British Pathe stoolball archive" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/BritishPatheStoolballArchive</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-03T14:59:10</CreateDate>
    <NodeName Default="British Pathe stoolball archive" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e60efbfe7284402c8cce7cb1b3ceb25a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/e60efbfe7284402c8cce7cb1b3ceb25a",
      "text": "<p>British Pathe has a collection of archive material which shows, among others, stoolball photos and film clips dated 1940 and 1951, which make very interesting viewing. We want to know who is in the clips.</p>\n<p>We need your help and it may involve asking your mum, gran or aunt to go back a bit in time too.</p>\n<p>We're trying to find out which teams are involved, put names to faces and also establish where the games were played. The quality is very good for such old material, so we are hoping there may be people out there who can help us.</p>\n<p>You can see the <a href=\"http://www.britishpathe.com/results.php?search=stoolball\">stoolball clips on the British Pathe website</a>, and there are more stoolball clips on the <a href=\"http://www.itnsource.com/\">ITN Source website</a>.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[We need your help. British Pathe has a collection of archive material which shows, among others, stoolball photos and film clips dated 1940 and 1951, which make very interesting viewing. We want to know who is in the clips.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[british-pathe]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>