<?xml version="1.0" encoding="utf-8"?>
<Content Key="140ccd37-55c4-484b-aae5-e1cfdf8b9a94" Alias="Buy stoolball equipment from Stoolball England" Level="4">
  <Info>
    <Parent Key="f2389cac-c554-48b7-ae0c-31998db0f830">Stoolball equipment and gifts</Parent>
    <Path>/Home/PlayStoolball/StoolballEquipmentAndGifts/BuyStoolballEquipmentFromStoolballEngland</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T22:21:15</CreateDate>
    <NodeName Default="Buy stoolball equipment from Stoolball England" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[You can buy approved stoolball bats, balls, wickets, scorebooks, boundary markers, spray paint for pitch marking and ice packs for your first-aid kit from Stoolball England.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[buy]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>