<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd37ee9f-6dec-4b29-a1eb-bc82e99c1853" Alias="Coaching in schools" Level="3">
  <Info>
    <Parent Key="cc65bfac-ba67-455c-9077-896c76ea4f25">Schools</Parent>
    <Path>/Home/Schools/CoachingInSchools</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T21:40:03</CreateDate>
    <NodeName Default="Coaching in schools" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b1ef528516f54984ad6ead35aadd785d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/b1ef528516f54984ad6ead35aadd785d",
      "text": "<p>Stoolball England is now applying for funding to develop a new, comprehensive coaching programme</p>\n<p>Please <a href=\"/{localLink:umb://document/243a06162f214eb6b26c9d77631cd731}\" title=\"Contact us about stoolball\">contact us</a><a class=\"moz-txt-link-abbreviated\"></a> for more details and to register interest</p>\n<ul>\n<li>‘'Stoolball Maker'. An introductory level workshop for stoolball clubs and community groups focusing on making your sessions fun and engaging</li>\n<li>‘Young Stoolball Makers’ workshop for secondary school students</li>\n<li>'Introduction to Stoolball’ CPD for primary/secondary school teachers, Universities and Colleges</li>\n<li>‘Introduction to Stoolball’ a stoolball specific add-on course for coaches qualified to L2 in other sports.</li>\n</ul>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Stoolball England offers coaching in schools. We are always looking for volunteers or companies to help us coach more schools.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>