<?xml version="1.0" encoding="utf-8"?>
<Content Key="667ef74e-d628-426b-9b69-d3fbe057b6f6" Alias="Coaching manual for stoolball" Level="4">
  <Info>
    <Parent Key="fac037fe-db36-4379-82ae-26ac0e79b55c">Coaching stoolball</Parent>
    <Path>/Home/Players/CoachingStoolball/CoachingManualForStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T22:39:19</CreateDate>
    <NodeName Default="Coaching manual for stoolball" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bacad90ea7b648e785ae4f1754623d9c"
      },
      {
        "contentUdi": "umb://element/6ee336664da041598521869f41c7f716"
      },
      {
        "contentUdi": "umb://element/f5d93663da23499c9c7eb204aabe0db2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/bacad90ea7b648e785ae4f1754623d9c",
      "text": "<p>Do you want to get better at stoolball? Are you teaching the sport at school, or coaching players in a club? The Stoolball England coaching manual teaches you the key skills of batting, bowling and fielding: everything from cut and drive shots to spin bowling and overarm throwing.</p>\n<p>The coaching manual also features activities you can try with your team or your class to practice specific stoolball skills. It's written by Melissa Mantle, Stoolball England's Coaching Development Officer, who plays for Angmering and teaches stoolball to PE teachers at University College, Chichester.</p>"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/6ee336664da041598521869f41c7f716",
      "text": "<h2>Take a look at what's included</h2>\n<ol>\n<li>Introduction</li>\n<li>Striking\n<ol>\n<li>Striking to the onside</li>\n<li>Onside drive shot</li>\n<li>Onside pull shot</li>\n<li>Straight drive</li>\n<li>Striking to the offside</li>\n<li>Offside fine cut</li>\n<li>Offside square cut</li>\n<li>Offside drive</li>\n<li>Game activities</li>\n</ol>\n</li>\n<li>Bowling\n<ol>\n<li>Choice of delivery</li>\n<li>Bowling to the offside</li>\n<li>Bowling to the onside</li>\n<li>Bowling for catches</li>\n<li>Game activities</li>\n</ol>\n</li>\n<li>Fielding\n<ol>\n<li>Receiving</li>\n<li>Long barrier</li>\n<li>Short barrier</li>\n<li>Retrieving</li>\n<li>Catching</li>\n<li>Throwing overarm</li>\n<li>Game activities</li>\n</ol>\n</li>\n<li>Warm-up game activities</li>\n<li>Basic principles of play and tactical decision making in stoolball</li>\n</ol>",
      "image": "umb://media/d48bd88c410c4d919ae63084f21a01b4",
      "imagePosition": "Right",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/f5d93663da23499c9c7eb204aabe0db2",
      "text": "<h2>How to buy it</h2>\n<p>The Stoolball England coaching manual costs £8.50. You can buy your copy from any of Stoolball England’s agents – contact details are on our <a href=\"/{localLink:umb://document/2813c29baef941dbae53215dc2178fcb}\" title=\"Buy stoolball equipment from Stoolball England\">Buy stoolball equipment from Stoolball England</a> page.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Do you want to get better at stoolball? Are you teaching the sport at school, or coaching players in a club? The Stoolball England coaching manual teaches you the key skills of batting, bowling and fielding: everything from cut and drive shots to spin bowling and overarm throwing.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>