<?xml version="1.0" encoding="utf-8"?>
<Content Key="7579ddba-6b1d-42dc-94f6-33cba51e670e" Alias="Confirm email address" Level="3">
  <Info>
    <Parent Key="cf48e9db-577b-4334-96d7-cf0d12b3dfcd">My account</Parent>
    <Path>/Home/MyAccount/ConfirmEmailAddress</Path>
    <Trashed>false</Trashed>
    <ContentType>confirmEmailAddress</ContentType>
    <CreateDate>2021-12-12T19:52:27</CreateDate>
    <NodeName Default="Confirm email address" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3d736c75-83b6-41e6-abb6-a534efcd456d">ConfirmEmailAddress</Template>
  </Info>
  <Properties>
    <confirmationFailed>
      <Value><![CDATA[<p>Sorry, your request to change your email address could not be confirmed.</p>
<p>Please check that you used the exact link in the email we sent you, and that it is still valid. The link is valid for 24 hours.</p>
<p>Back to <a href="/{localLink:umb://document/cf48e9db577b433496d7cf0d12b3dfcd}" title="My account">My account</a>.</p>]]></Value>
    </confirmationFailed>
    <confirmationSuccessful>
      <Value><![CDATA[<p>Thank you for confirming your email address <strong>{{EMAIL}}</strong>. Your account has been updated.</p>
<p>When you next sign in to Stoolball England you'll need to use your new email address along with your password.</p>
<p>Back to <a href="/{localLink:umb://document/cf48e9db577b433496d7cf0d12b3dfcd}" title="My account">My account</a>.</p>]]></Value>
    </confirmationSuccessful>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[confirm-email]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>