<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1f45f3f-709e-4450-b495-39590c120ac9" Alias="Consent form for players under 16" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/ConsentFormForPlayersUnder16</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-10T17:54:41</CreateDate>
    <NodeName Default="Consent form for players under 16" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4023ea9f710c421ebf8fea5b8b1c84f6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/4023ea9f710c421ebf8fea5b8b1c84f6",
      "text": "<div id=\"post-3237\" class=\"post\">\n<p>All players under the age of 16 at midnight on 31 August in the year preceding the current season must have a consent form completed and signed by a parent or guardian and submitted to their club prior to participation in stoolball at any age group. Forms should be submitted before the beginning of each season wherever possible.</p>\n<p><a href=\"/{localLink:umb://media/19a6733c75b64819a2ed9623801537de}\" title=\"Under 16 Consent Form 1\">Under 16 consent form</a></p>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[All players under the age of 16 at midnight on 31 August in the year preceding the current season must have a consent form.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[under16]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>