<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa129a9d-f99d-4554-a0c9-26d209536a06" Alias="Contact us about this website" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/ContactUsAboutThisWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-02T15:51:00</CreateDate>
    <NodeName Default="Contact us about this website" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9d5a862c0dc34cfab8dc2dd1ea55e811"
      },
      {
        "contentUdi": "umb://element/bf86b5517dd5455b8510902e72996030"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/9d5a862c0dc34cfab8dc2dd1ea55e811",
      "text": "<p>Use this form for problems, questions and suggestions about how this website works. For other questions about stoolball or Stoolball England, please <a href=\"/{localLink:umb://document/243a06162f214eb6b26c9d77631cd731}\" title=\"Contact us about stoolball\">contact us about stoolball</a>.</p>"
    },
    {
      "contentTypeKey": "9a571f61-1f6b-46bd-ba67-0bf12e1a62e6",
      "udi": "umb://element/bf86b5517dd5455b8510902e72996030",
      "form": "4844bb39-81e8-46ae-8cb6-812a2420044e"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>