<?xml version="1.0" encoding="utf-8"?>
<Content Key="8df2b528-c20d-4817-9ae5-5f8904ba2c4c" Alias="Contact us about stoolball" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/ContactUsAboutStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2020-09-20T17:03:37</CreateDate>
    <NodeName Default="Contact us about stoolball" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a21263d5-acb3-4214-9181-3f3777e5e581">Form</Template>
  </Info>
  <Properties>
    <formPicker>
      <Value><![CDATA[c1a228c8-12a6-4bcc-ae82-bb5924b6ba5e]]></Value>
    </formPicker>
    <headerPhoto>
      <Value><![CDATA[umb://media/3a0d4a6251fd4cb2a34638f658098d88]]></Value>
    </headerPhoto>
    <introduction>
      <Value><![CDATA[<p>Use this form to ask us about stoolball or about the work of Stoolball England. For problems, questions and suggestions about how this website works, please <a href="/{localLink:umb://document/3bd8e64625314374b451fb0dc05c85f4}" title="Contact us about this website">contact us about this website</a>.</p>]]></Value>
    </introduction>
    <umbracoUrlName>
      <Value><![CDATA[contact]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>