<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad87b4d1-dab8-4188-a5b4-e09e6267919d" Alias="DVD: Let's Play Stoolball" Level="4">
  <Info>
    <Parent Key="fac037fe-db36-4379-82ae-26ac0e79b55c">Coaching stoolball</Parent>
    <Path>/Home/PlayStoolball/Coaching/DVDLetSPlayStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T22:24:59</CreateDate>
    <NodeName Default="DVD: Let's Play Stoolball" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ffd534acab2d46e3a242a251b1752784"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/ffd534acab2d46e3a242a251b1752784",
      "text": "<p>Aimed at beginners, this DVD and booklet explains the rules of stoolball and promotes the atmosphere and friendliness which runs through the sport.</p>\n<p>It shows a league match, a children’s match, a tournament with ladies-only and mixed teams, a school match, indoor stoolball in a sports hall and how to set up.</p>\n<p>The accompanying booklet contains rules, helpful hints and useful addresses. The DVD runs for 40 minutes.</p>\n<p>The DVD costs £8, plus £1.50 postage and packing. Cheques should be made payable to Stoolball England.</p>\n<p>You can buy your copy from any of Stoolball England’s agents – contact details are on our <a href=\"/{localLink:umb://document/140ccd3755c4484baae5e1cfdf8b9a94}\" title=\"Buy stoolball equipment from Stoolball England\" data-anchor=\"#\">Buy stoolball equipment from Stoolball England</a> page.</p>",
      "image": "umb://media/ae79bbe983c440b9bd49960f4d9364ad",
      "imagePosition": "Right",
      "showCaption": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Aimed at beginners, this DVD and booklet explains the rules of stoolball and promotes the atmosphere and friendliness which runs through the sport.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[lets-play-stoolball]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>