<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5a8c6ee-414d-42bd-89ea-3bb57f4d810a" Alias="Free equipment from Sainsbury’s Active Kids" Level="3">
  <Info>
    <Parent Key="cc65bfac-ba67-455c-9077-896c76ea4f25">Schools</Parent>
    <Path>/Home/Schools/FreeEquipmentFromSainsburySActiveKids</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T21:43:17</CreateDate>
    <NodeName Default="Free equipment from Sainsbury’s Active Kids" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7099e69527fb406ba5dec65f268dc5f5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/7099e69527fb406ba5dec65f268dc5f5",
      "text": "<p>Sainsbury’s Active Kids is a scheme where supermarket shoppers collect vouchers which schools can use to buy sports equipment. Starting in 2010, this includes stoolball bats, balls and wickets. If you shop at Sainsbury’s, collect the vouchers and ask your local school to invest them in stoolball.</p>\n<p>Schools near a branch of Sainsbury’s typically receive tens of thousands of vouchers in a season, more than enough to buy all the equipment they need to play stoolball.</p>\n<p><a href=\"https://activekids.sainsburys.co.uk/\">Sainsbury’s Active Kids</a></p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Collect Active Kids vouchers from Sainsbury's and ask your local school to invest in stoolball.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[free-stoolball-equipment]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>