<?xml version="1.0" encoding="utf-8"?>
<Content Key="8de90b0e-e2ed-4bd9-aa72-229e7e2acd36" Alias="Getty photographs from the 1930s" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/GettyPhotographsFromThe1930s</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-05T20:33:17</CreateDate>
    <NodeName Default="Getty photographs from the 1930s" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/306ef3d452ae4a5baef943d990ebc9bd"
      },
      {
        "contentUdi": "umb://element/348b1d0d74414744a5a568b4b5881f90"
      },
      {
        "contentUdi": "umb://element/3bc1da3d1bfd451cbb28d6eeecadf0d1"
      },
      {
        "contentUdi": "umb://element/6dafe03cb87d49669d3ee5c3d38cea86"
      },
      {
        "contentUdi": "umb://element/a53b5e2bcb0e4d4ba5622f2a471b430d"
      },
      {
        "contentUdi": "umb://element/59a697353254407a807d9dc64fe3c625"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/306ef3d452ae4a5baef943d990ebc9bd",
      "text": "<p>Getty Images have <a href=\"http://www.gettyimages.no/galleries/search?phrase=stool-ball&amp;family=Editorial&amp;sort=mostpopular\">these photos in the Getty archive</a> from the heyday of stoolball in the 1930s, when there were four times as many clubs in right across England as there are today.</p>\n<p>The man largely responsible for this success was <a href=\"/{localLink:umb://document/44bad0a9ff6540b2be2b91b3406895ea}\" title=\"Major W W Grantham\">Major W W Grantham</a>, founder of the forerunner to Stoolball England, the Stoolball Association for Great Britain. Grantham’s other passion was the traditional Sussex smock which he’s wearing the first photo.</p>"
    },
    {
      "contentTypeKey": "420bf4c7-ff49-49ae-9e07-a62f6d9c5879",
      "udi": "umb://element/348b1d0d74414744a5a568b4b5881f90",
      "gettyImageURL": "https://embed.gettyimages.com/embed/3374340?et=03Zq1azoR6NAX9onWRe7IQ&viewMoreLink=off&sig=xsVDJ3f6XAr93pzcfeofao4xA67aVRXaliOyPOX9bTU=&caption=false",
      "caption": "21st September 1938: Stoolball captain for a Kent team Miss B Field with her pet dog. She is chatting to umpire W W Grantham KC and Mrs A Kemp, captain of Sussex."
    },
    {
      "contentTypeKey": "420bf4c7-ff49-49ae-9e07-a62f6d9c5879",
      "udi": "umb://element/3bc1da3d1bfd451cbb28d6eeecadf0d1",
      "gettyImageURL": "https://embed.gettyimages.com/embed/3347346?et=ONDc0lK-RldAkGDno9_KXg&viewMoreLink=off&sig=Am5vdx461Zzi8j-NS2po7kF6qiycY7bdZMon27tlS7U=&caption=false",
      "caption": "21st September 1938: Members of Kent and Sussex teams admiring stoolball bats which have been collected from allover the world by umpire, W W Grantham KC. (Photo by A. Hudson/Topical Press Agency/Getty Images)"
    },
    {
      "contentTypeKey": "420bf4c7-ff49-49ae-9e07-a62f6d9c5879",
      "udi": "umb://element/6dafe03cb87d49669d3ee5c3d38cea86",
      "gettyImageURL": "https://embed.gettyimages.com/embed/3249462?et=1sROaG7DS0t-GDc1azGWsQ&viewMoreLink=off&sig=JcsZZ-7pV2rKYLKxFXQ59R4RWqp54Ds1DR0rn85RxNo=&caption=false",
      "caption": "21st August 1935: Girls playing stool-ball in the playground at Star Road School in Fulham, London."
    },
    {
      "contentTypeKey": "420bf4c7-ff49-49ae-9e07-a62f6d9c5879",
      "udi": "umb://element/a53b5e2bcb0e4d4ba5622f2a471b430d",
      "gettyImageURL": "https://embed.gettyimages.com/embed/3376547?et=UyyaALHQRNlBm70D62Zzvw&viewMoreLink=off&sig=3o266xaleEyle5eI9IvP64GhFlLOaxTSuOh7dBuSerY=&caption=false",
      "caption": "31st May 1930: Miss Field Marsham and Mrs Mitchell opening batsmen for the Red Armlet team, going out to bat."
    },
    {
      "contentTypeKey": "420bf4c7-ff49-49ae-9e07-a62f6d9c5879",
      "udi": "umb://element/59a697353254407a807d9dc64fe3c625",
      "gettyImageURL": "https://embed.gettyimages.com/embed/3428962?et=D22ALjcUTk91skB2B_aqdg&viewMoreLink=off&sig=rM9ZeokGFD9N6F-PRAMFM1-EtGJrfqo3IW3R_ch6-Ew=&caption=false",
      "caption": "16th May 1930: A group of spectators appear less than enthused by the spectacle of the Duke of Norfolk playing stoolball at Arundel Castle, West Sussex. "
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Getty Images have photos in the Getty archive from the heyday of stoolball in the 1930s, when there were four times as many clubs in right across England as there are today. ]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>