<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1729e72-2c25-41f0-a11b-d26b790389ca" Alias="'Girls Just Wanted To Have Fun' by Andrew Lusted" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/GirlsJustWantedToHaveFun</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-03T14:24:59</CreateDate>
    <NodeName Default="'Girls Just Wanted To Have Fun' by Andrew Lusted" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/134a8b7689d943ca8966760fb26d973b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/134a8b7689d943ca8966760fb26d973b",
      "text": "<h2>Stoolball reports in local newspapers 1747 to 1866</h2>\n<p>Andrew Lusted’s second book about stoolball brings together all reports of stoolball from the hundreds of local newspapers held at the British Library. Together the reports paint a picture of a game played by women, children, or both, as an alternative to cricket. With one exception, the game was only played in Sussex at this time.</p>\n<p>It also includes the first formal rules of stoolball, which were agreed at Glynde in 1867.</p>\n<p>The book is just 44 pages with a colour cover and costs £4 (plus £1 postage). Only 100 copies have been printed and they are available from Andrew Lusted at Welsted, Glynde, Lewes BN8 6SU. Cheques should be payable to A Lusted who can be contacted on <a href=\"mailto:lusted.challen@btinternet.com\">lusted.challen@btinternet.com</a>.</p>",
      "image": "umb://media/93375c21ab314ca8a38e612bdb7a9c9e",
      "imagePosition": "Right"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Andrew Lusted's second book about stoolball brings together all reports of stoolball from the hundreds of local newspapers held at the British Library.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[umb://media/3a0d4a6251fd4cb2a34638f658098d88]]></Value>
    </headerPhoto>
    <umbracoUrlName>
      <Value><![CDATA[girls-just-wanted-to-have-fun]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>