<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccb293b8-449e-43b6-a714-b5d4ce2e8d32" Alias="Historic photographs of stoolball" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/HistoricPhotographsOfStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-03T21:39:02</CreateDate>
    <NodeName Default="Historic photographs of stoolball" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c1f03872e82b4f00a945dcbdeee9f077"
      },
      {
        "contentUdi": "umb://element/4b06d8ef0c674b8a9510d22006591799"
      },
      {
        "contentUdi": "umb://element/f5cdfd64be7b46218b30bc8324360469"
      },
      {
        "contentUdi": "umb://element/3a9108b1a1244be6a70503024d9496b4"
      },
      {
        "contentUdi": "umb://element/a3df1aeb5e9c4c2bb13d164a1905db23"
      },
      {
        "contentUdi": "umb://element/fd12174d9f6f4a9d98c2a63c1868d6c7"
      },
      {
        "contentUdi": "umb://element/17b17b29897d49b3b35ab261376c9522"
      },
      {
        "contentUdi": "umb://element/cfd01952f75146788ed3ec51f156664d"
      },
      {
        "contentUdi": "umb://element/d6731849bc2c45e1b0125994d737359f"
      },
      {
        "contentUdi": "umb://element/e210413f0b3845699c40c4f1c61912b1"
      },
      {
        "contentUdi": "umb://element/04933f74a7c74e0fa65895cd80be9150"
      },
      {
        "contentUdi": "umb://element/cec1e6bd36a141be91f1c52366089288"
      },
      {
        "contentUdi": "umb://element/9d3d9081a2854b95b7ec8e83aa79022f"
      },
      {
        "contentUdi": "umb://element/5ba043883a734678ae1ed8e1a89217d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/c1f03872e82b4f00a945dcbdeee9f077",
      "text": "<p>If you have any photos to add to this page please <a href=\"/{localLink:umb://document/aa129a9df99d4554a0c926d209536a06}\" title=\"Contact us about this website\">contact us</a>, or upload them to our <a href=\"http://facebook.com/stoolball\">Facebook page</a>. Please make sure you have the permission of the copyright holder.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/3a9108b1a1244be6a70503024d9496b4",
      "image": "umb://media/19080ee398fe49538d8e1a182a0ac0b1",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/a3df1aeb5e9c4c2bb13d164a1905db23",
      "image": "umb://media/930d62f86e0d42cf92ec49a42f009a77",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/fd12174d9f6f4a9d98c2a63c1868d6c7",
      "image": "umb://media/68ff5da0d7f64810aa9f04ceec4bc623",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/17b17b29897d49b3b35ab261376c9522",
      "text": "<p>Nutley School back row, left to right: Mabel Stevens, Alice Penfold (13 years old), Winnie Bishop, Miss Payne (class teacher), Vera Stevenson, Winnie Wickham, Betty Sad</p>\n<p>Middle row, left to right: Edie Sayers, Ethel Kirby, Olive Ridley (captain), Maudy Ridley, Elsie Stevenson</p>\n<p>Seated at front: Dolly Sayers (scorer)</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/cfd01952f75146788ed3ec51f156664d",
      "image": "umb://media/bda98c67447945a8ba3ea59e4dda27f5",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d6731849bc2c45e1b0125994d737359f",
      "text": "<p>This photograph from Stockton-on-Tees is reproduced with the permission of <a href=\"http://www.picturestockton.co.uk\">Stockton Library Service</a>. Please contact them if you would like to use it for any other purpose.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/e210413f0b3845699c40c4f1c61912b1",
      "image": "umb://media/36be70e0f1f940cda4508a8feab8a87e",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/04933f74a7c74e0fa65895cd80be9150",
      "image": "umb://media/50e9f40c3be542cbb00a73966df4dd74",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/5ba043883a734678ae1ed8e1a89217d0",
      "image": "umb://media/159e535a3c9044089a2042ebb49304e0",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/4b06d8ef0c674b8a9510d22006591799",
      "image": "umb://media/198974d8f7d64b5a977ba15bcef525e8",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/f5cdfd64be7b46218b30bc8324360469",
      "text": "<p>The photograph above was shared with us by Andrew Lusted. It is from the mid-1870s and shows three daughters of Revd William de St Croix in the garden of Glynde Vicarage with a stoolball bat at their feet. They are, left to right:</p>\n<ul>\n<li>Ethel Augusta de St Croix, born 1864</li>\n<li>Caroline Agnes de St Croix, born 1850</li>\n<li>Emma Martha de St Croix, born 1853</li>\n</ul>\n<p>Revd William de St Croix compiled the first rules of stoolball in 1867. You can read the story of his family and stoolball in <a href=\"/{localLink:umb://document/4b03fa464f904893a1fae8dbf44ac323}\" title=\"'The Glynde Butterflies 1866-1887' by Andrew Lusted\">'The Glynde Butterflies 1866-1887' by Andrew Lusted</a>.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/cec1e6bd36a141be91f1c52366089288",
      "image": "umb://media/dc10f039df5d422d89618b7a70af3089",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/9d3d9081a2854b95b7ec8e83aa79022f",
      "text": "<p>The photo above shows N Cochrane, a cricket bat maker in Lewes, East Sussex, making stoolball bats. The Lewes, Newhaven, Seaford and District Directory 1951-1952, a Silver Eagle Publication, lists N Cochrane, cricket bat maker, 66 South Street, tel 947.</p>\n<p>The photo was kindly sent to us by Andrew Lusted, author of <a href=\"/{localLink:umb://document/4b03fa464f904893a1fae8dbf44ac323}\" title=\"The Glynde Butterflies 1866-1887\">The Glynde Butterflies 1866-1887</a>.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Historic photographs of stoolball from the 19th century onwards. If you have any photos to add to this page please send them to us, or upload them to our Facebook page.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[stoolball-through-the-ages]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>