<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-03-08T16:08:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="efeee16e-a1be-47c8-91a7-501c7f598ade">Home</Template>
  </Info>
  <Properties>
    <headerPhoto>
      <Value><![CDATA[umb://media/3a0d4a6251fd4cb2a34638f658098d88]]></Value>
    </headerPhoto>
  </Properties>
</Content>