<?xml version="1.0" encoding="utf-8"?>
<Content Key="34501dff-335a-4b24-8dc8-f8d0d69b6148" Alias="Making stoolball bats in Lewes" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/MakingStoolballBatsInLewes</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-03T15:02:00</CreateDate>
    <NodeName Default="Making stoolball bats in Lewes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cacc5b80a12b4c02b8cfad5f322cd5a4"
      },
      {
        "contentUdi": "umb://element/4ca9ac9d8aa44e7686348e4cf9c8812e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/cacc5b80a12b4c02b8cfad5f322cd5a4",
      "text": "<p>This photo shows N Cochrane, a cricket bat maker in Lewes, East Sussex, making stoolball bats. The Lewes, Newhaven, Seaford and District Directory 1951-1952, a Silver Eagle Publication, lists N Cochrane, cricket bat maker, 66 South Street, tel 947.</p>\n<p>The photo was kindly sent to us by Andrew Lusted, author of <a href=\"/{localLink:umb://document/4b03fa464f904893a1fae8dbf44ac323}\" title=\"The Glynde Butterflies 1866-1887\">The Glynde Butterflies 1866-1887</a>.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/4ca9ac9d8aa44e7686348e4cf9c8812e",
      "image": "umb://media/dc10f039df5d422d89618b7a70af3089"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[This photo, kindly sent to us by Andrew Lusted, shows N Cochrane, a cricket bat maker in Lewes, East Sussex, making stoolball bats.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[umb://media/3a0d4a6251fd4cb2a34638f658098d88]]></Value>
    </headerPhoto>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>