<?xml version="1.0" encoding="utf-8"?>
<Content Key="22740bbe-6342-4781-a63f-12570b80b95b" Alias="My account" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/MyAccount</Path>
    <Trashed>false</Trashed>
    <ContentType>myAccount</ContentType>
    <CreateDate>2020-03-08T19:09:07</CreateDate>
    <NodeName Default="My account" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2085112c-f5d9-4713-89ea-030a78464a13">MyAccount</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gravatar>
      <Value><![CDATA[<p>You can change your account picture on the <a rel="noopener" href="https://gravatar.com" target="_blank">Gravatar</a> website.</p>]]></Value>
    </gravatar>
    <headerPhoto>
      <Value><![CDATA[umb://media/fb9ab61402db423287f1fa3602d7284c]]></Value>
    </headerPhoto>
    <saveButton>
      <Value><![CDATA[Save changes]]></Value>
    </saveButton>
    <saved>
      <Value><![CDATA[<p>Your changes were saved.</p>
<p><a href="/{localLink:umb://document/22740bbe63424781a63f12570b80b95b}" title="My account">Back to My account</a>.</p>]]></Value>
    </saved>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[account]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>