<?xml version="1.0" encoding="utf-8"?>
<Content Key="22740bbe-6342-4781-a63f-12570b80b95b" Alias="Personal details" Level="3">
  <Info>
    <Parent Key="cf48e9db-577b-4334-96d7-cf0d12b3dfcd">My account</Parent>
    <Path>/Home/MyAccount/PersonalDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>personalDetails</ContentType>
    <CreateDate>2020-03-08T19:09:07</CreateDate>
    <NodeName Default="Personal details" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2085112c-f5d9-4713-89ea-030a78464a13">PersonalDetails</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <saveButton>
      <Value><![CDATA[Save changes]]></Value>
    </saveButton>
    <saved>
      <Value><![CDATA[<p>Your changes were saved.</p>
<p><a href="/{localLink:umb://document/cf48e9db577b433496d7cf0d12b3dfcd}" title="My account" data-anchor="#">Back to My account</a>.</p>]]></Value>
    </saved>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[personal-details]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>