<?xml version="1.0" encoding="utf-8"?>
<Content Key="41551365-2b33-42e8-a115-2c9e344fb954" Alias="Photos" Level="3">
  <Info>
    <Parent Key="90a3c9d1-c0cf-4a84-b034-8690022fa4c4">Play</Parent>
    <Path>/Home/Play/Photos</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T21:56:19</CreateDate>
    <NodeName Default="Photos" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5735bcf15d92467f963425951a99dd7c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/5735bcf15d92467f963425951a99dd7c",
      "text": "<h2><a href=\"https://www.facebook.com/stoolball/photos/?tab=album\" data-anchor=\"?tab=album\">Photos on Facebook</a></h2>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[statistics-and-photos]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>