<?xml version="1.0" encoding="utf-8"?>
<Content Key="90a3c9d1-c0cf-4a84-b034-8690022fa4c4" Alias="Play stoolball" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/PlayStoolball</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T21:52:49</CreateDate>
    <NodeName Default="Play stoolball" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6edcb0eded0346ddbd27470f9f840866"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/6edcb0eded0346ddbd27470f9f840866",
      "text": "<div>\n<p>Find out where you can play stoolball, track results and statistics, and get advice about running your own team.</p>\n<h2><a href=\"/competitions\">Leagues and competitions</a></h2>\n</div>\n<div>\n<h2><a href=\"/teams\">Teams</a></h2>\n<h2><a href=\"/locations\">Grounds and sports centres</a></h2>\n</div>\n<div>\n<h2><a href=\"/{localLink:umb://document/415513652b3342e8a1152c9e344fb954}\" title=\"Statistics and photos\">Photos</a></h2>\n</div>\n<div>\n<h2><a href=\"/{localLink:umb://document/fac037fedb36437982ae26ac0e79b55c}\" title=\"Coaching stoolball\">Coaching</a></h2>\n</div>\n<div>\n<h2><a href=\"/{localLink:umb://document/f2389cacc55448b7ae0c31998db0f830}\" title=\"Stoolball equipment and gifts\">Equipment and gifts</a></h2>\n</div>\n<div>\n<h2><a href=\"/{localLink:umb://document/95c7b773f70b4e60bc370f5bd5e007a9}\" title=\"Manage your team\">Manage your team</a></h2>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[play]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>