<?xml version="1.0" encoding="utf-8"?>
<Content Key="310b1f4d-3d41-452b-8b81-a7ef68e458d7" Alias="Sign out" Level="3">
  <Info>
    <Parent Key="22740bbe-6342-4781-a63f-12570b80b95b">My account</Parent>
    <Path>/Home/MyAccount/SignOut</Path>
    <Trashed>false</Trashed>
    <ContentType>logoutMember</ContentType>
    <CreateDate>2020-03-09T23:02:47</CreateDate>
    <NodeName Default="Sign out" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a91a6a71-f4b2-4298-932d-850354b762fb">LogoutMember</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <loggedIn>
      <Value><![CDATA[<p>You're signed in as <strong>{{NAME}}</strong>.</p>]]></Value>
    </loggedIn>
    <loggedOut>
      <Value><![CDATA[<p>You have signed out successfully.</p>]]></Value>
    </loggedOut>
    <logoutButton>
      <Value><![CDATA[Sign out]]></Value>
    </logoutButton>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[sign-out]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>