<?xml version="1.0" encoding="utf-8"?>
<Content Key="2be3f0b3-7b2d-47cd-851f-0ac0a68a46bf" Alias="Stoolball router" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StoolballRouter</Path>
    <Trashed>false</Trashed>
    <ContentType>stoolballRouter</ContentType>
    <CreateDate>2020-03-29T14:31:08</CreateDate>
    <NodeName Default="Stoolball router" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f2724e57-d127-459a-81b0-cc293e1304b3">club</Template>
  </Info>
  <Properties>
    <headerPhoto>
      <Value><![CDATA[umb://media/435b4035520f41b189133299751d4555]]></Value>
    </headerPhoto>
  </Properties>
</Content>