<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccb293b8-449e-43b6-a714-b5d4ce2e8d32" Alias="Stoolball through the ages – photographs and drawings" Level="4">
  <Info>
    <Parent Key="ae4b9660-4eea-48cc-b20c-987673357d73">Documents, photos and videos</Parent>
    <Path>/Home/History/DocumentsPhotosAndVideos/StoolballThroughTheAgesPhotographsAndDrawings</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-03T21:39:02</CreateDate>
    <NodeName Default="Stoolball through the ages – photographs and drawings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c1f03872e82b4f00a945dcbdeee9f077"
      },
      {
        "contentUdi": "umb://element/82207b27a6494515b85bdb2ed73343ff"
      },
      {
        "contentUdi": "umb://element/50498802e85f405c846fa901b5c8c71e"
      },
      {
        "contentUdi": "umb://element/d745da2269a445a0bfaeb3abc55b51b2"
      },
      {
        "contentUdi": "umb://element/033f84620c5b4db59d64a674029357e6"
      },
      {
        "contentUdi": "umb://element/7905ab62d5ab4b95adaf5d470879a6e4"
      },
      {
        "contentUdi": "umb://element/3a9108b1a1244be6a70503024d9496b4"
      },
      {
        "contentUdi": "umb://element/a3df1aeb5e9c4c2bb13d164a1905db23"
      },
      {
        "contentUdi": "umb://element/d57bbd36c66c4ed2ab1878f85fd615ee"
      },
      {
        "contentUdi": "umb://element/fd12174d9f6f4a9d98c2a63c1868d6c7"
      },
      {
        "contentUdi": "umb://element/17b17b29897d49b3b35ab261376c9522"
      },
      {
        "contentUdi": "umb://element/cfd01952f75146788ed3ec51f156664d"
      },
      {
        "contentUdi": "umb://element/d6731849bc2c45e1b0125994d737359f"
      },
      {
        "contentUdi": "umb://element/e210413f0b3845699c40c4f1c61912b1"
      },
      {
        "contentUdi": "umb://element/04933f74a7c74e0fa65895cd80be9150"
      },
      {
        "contentUdi": "umb://element/5ba043883a734678ae1ed8e1a89217d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/c1f03872e82b4f00a945dcbdeee9f077",
      "text": "<p>Here’s a selection of photographs and drawings of stoolball being played from 1861 right through to today in our local schools. If you have any photos to add to this page please send them to us, or upload them to our <a href=\"http://facebook.com/stoolball\">Facebook page</a>.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/82207b27a6494515b85bdb2ed73343ff",
      "image": "umb://media/23a4a349655a47a3a49c986e2170274c",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/50498802e85f405c846fa901b5c8c71e",
      "image": "umb://media/7f90fa01131940629acd2516e1b12914",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d745da2269a445a0bfaeb3abc55b51b2",
      "text": "<p>This line drawing appeared in The Graphic on 12 October 1878.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/033f84620c5b4db59d64a674029357e6",
      "image": "umb://media/21b3ad4000164c1db269eddddce7c130",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/7905ab62d5ab4b95adaf5d470879a6e4",
      "image": "umb://media/ba851caf4cb442cc83de3f451c09f173",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/3a9108b1a1244be6a70503024d9496b4",
      "image": "umb://media/19080ee398fe49538d8e1a182a0ac0b1",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/a3df1aeb5e9c4c2bb13d164a1905db23",
      "image": "umb://media/930d62f86e0d42cf92ec49a42f009a77",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/d57bbd36c66c4ed2ab1878f85fd615ee",
      "image": "umb://media/ff709f3103cf455c9b1b2c87281c1c65",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/fd12174d9f6f4a9d98c2a63c1868d6c7",
      "image": "umb://media/68ff5da0d7f64810aa9f04ceec4bc623",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/17b17b29897d49b3b35ab261376c9522",
      "text": "<p>Back row, left to right: Mabel Stevens, Alice Penfold (13 years old), Winnie Bishop, Miss Payne (class teacher), Vera Stevenson, Winnie Wickham, Betty Sad</p>\n<p>Middle row, left to right: Edie Sayers, Ethel Kirby, Olive Ridley (captain), Maudy Ridley, Elsie Stevenson</p>\n<p>Seated at front: Dolly Sayers (scorer)</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/cfd01952f75146788ed3ec51f156664d",
      "image": "umb://media/bda98c67447945a8ba3ea59e4dda27f5",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d6731849bc2c45e1b0125994d737359f",
      "text": "<p>This photograph is reproduced with the permission of <a href=\"http://www.picturestockton.co.uk\">Stockton Library Service</a>. Please contact them if you would like to use it for any other purpose.</p>"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/e210413f0b3845699c40c4f1c61912b1",
      "image": "umb://media/36be70e0f1f940cda4508a8feab8a87e",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/04933f74a7c74e0fa65895cd80be9150",
      "image": "umb://media/50e9f40c3be542cbb00a73966df4dd74",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/5ba043883a734678ae1ed8e1a89217d0",
      "image": "umb://media/159e535a3c9044089a2042ebb49304e0",
      "showCaption": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Photographs and images of stoolball being played from 1861 right through to the 21st century in our local schools. If you have any photos to add to this page please send them to us, or upload them to our Facebook page.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[stoolball-through-the-ages]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>