<?xml version="1.0" encoding="utf-8"?>
<Content Key="542a4ea5-dc0e-4e1f-af52-6c511afdffea" Alias="Style guide" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/StyleGuide</Path>
    <Trashed>false</Trashed>
    <ContentType>styleGuide</ContentType>
    <CreateDate>2020-04-01T18:35:48</CreateDate>
    <NodeName Default="Style guide" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="edb47a3c-34b0-473b-8473-a2ebcbf05a00">StyleGuide</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/077e3e127d14423592b0c074b770528f"
      },
      {
        "contentUdi": "umb://element/db1727069d4949e29a7425d76ac7e45c"
      },
      {
        "contentUdi": "umb://element/3e51ebd3ba1e40e694e3886c266b37fe"
      },
      {
        "contentUdi": "umb://element/7b50110bb8da4295969603b9ce8f2ad4"
      },
      {
        "contentUdi": "umb://element/f02e2f545af74057bf9dde64c7508510"
      },
      {
        "contentUdi": "umb://element/4518b85bc1954352a1d757a95a2e9771"
      },
      {
        "contentUdi": "umb://element/5c199ed61b5947e587d089a4d47a1dde"
      },
      {
        "contentUdi": "umb://element/d7a9f398f0ae48c985c20450d6371069"
      },
      {
        "contentUdi": "umb://element/8e9e3dec251d47a8b7653fd8a557140f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/077e3e127d14423592b0c074b770528f",
      "text": "<h2>Umbraco content in a Block List Editor</h2>\n<p>This is some text.</p>\n<blockquote>This is a quote.</blockquote>\n<blockquote>Followed by more text.</blockquote>"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/db1727069d4949e29a7425d76ac7e45c",
      "text": "<p>Followed by text with an image on the right, without a caption.</p>\n<h3>Heading 3</h3>\n<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>\n<p>This text needs to go beyond the image to show how it is spaced with more text in the following block.</p>",
      "image": "umb://media/6880cee2947b418cbd7a8a1e5f6baeab",
      "imagePosition": "Right",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/3e51ebd3ba1e40e694e3886c266b37fe",
      "text": "<p>And an image on the left, this time with a caption.</p>\n<p>After that, a different image both with and without a caption.</p>",
      "image": "umb://media/6880cee2947b418cbd7a8a1e5f6baeab",
      "imagePosition": "Left",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/7b50110bb8da4295969603b9ce8f2ad4",
      "image": "umb://media/aaf3dcbffec2434a8631c7fb93c603fb",
      "showCaption": "0"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/f02e2f545af74057bf9dde64c7508510",
      "image": "umb://media/aaf3dcbffec2434a8631c7fb93c603fb",
      "showCaption": "1"
    },
    {
      "contentTypeKey": "420bf4c7-ff49-49ae-9e07-a62f6d9c5879",
      "udi": "umb://element/4518b85bc1954352a1d757a95a2e9771",
      "gettyImageURL": "https://embed.gettyimages.com/embed/3249462?et=1sROaG7DS0t-GDc1azGWsQ&viewMoreLink=off&sig=JcsZZ-7pV2rKYLKxFXQ59R4RWqp54Ds1DR0rn85RxNo=&caption=false",
      "caption": "An image from Getty Images"
    },
    {
      "contentTypeKey": "9a571f61-1f6b-46bd-ba67-0bf12e1a62e6",
      "udi": "umb://element/8e9e3dec251d47a8b7653fd8a557140f",
      "form": "c1a228c8-12a6-4bcc-ae82-bb5924b6ba5e"
    },
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d7a9f398f0ae48c985c20450d6371069",
      "text": "<h2>A form using Umbraco Forms</h2>"
    },
    {
      "contentTypeKey": "9f0490d7-f097-4789-a32f-31e6b73a237d",
      "udi": "umb://element/5c199ed61b5947e587d089a4d47a1dde",
      "videoURL": "https://www.youtube.com/embed/ITqskvM7HAw"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <headerPhoto>
      <Value><![CDATA[umb://media/fb9ab61402db423287f1fa3602d7284c]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>