<?xml version="1.0" encoding="utf-8"?>
<Content Key="55ec41e8-43f7-46e0-86e1-7365b97ad6d6" Alias="Test page" Level="2">
  <Info>
    <Parent Key="7ea74fe5-4982-4bcf-bb8a-8e213c32f91c">Home</Parent>
    <Path>/Home/TestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-09-24T19:13:19</CreateDate>
    <NodeName Default="Test page" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a267d6ead66241c18b386f4e5c142dc2"
      },
      {
        "contentUdi": "umb://element/323bada0909c4071bcdf95234d4d3c3d"
      },
      {
        "contentUdi": "umb://element/d2e9307039284919b010da2594c7e88b"
      },
      {
        "contentUdi": "umb://element/2434f7b43c834a52844a2748f1af16ba"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/a267d6ead66241c18b386f4e5c142dc2",
      "text": "<p>Not stated at all</p>",
      "image": "umb://media/fb9ab61402db423287f1fa3602d7284c",
      "imagePosition": ""
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/323bada0909c4071bcdf95234d4d3c3d",
      "text": "<p>On the left</p>",
      "image": "umb://media/3a0d4a6251fd4cb2a34638f658098d88",
      "imagePosition": "Right"
    },
    {
      "contentTypeKey": "1e842305-259d-4448-b804-168859f39623",
      "udi": "umb://element/d2e9307039284919b010da2594c7e88b",
      "text": "<p>On the right</p>",
      "image": "umb://media/435b4035520f41b189133299751d4555",
      "imagePosition": "Right"
    },
    {
      "contentTypeKey": "b87922c7-a6a3-460b-affb-306139789583",
      "udi": "umb://element/2434f7b43c834a52844a2748f1af16ba",
      "image": "umb://media/3a0d4a6251fd4cb2a34638f658098d88"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <headerPhoto>
      <Value><![CDATA[umb://media/3a0d4a6251fd4cb2a34638f658098d88]]></Value>
    </headerPhoto>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>