<?xml version="1.0" encoding="utf-8"?>
<Content Key="56af2d14-fc54-44f1-9f08-fdcb916da8e6" Alias="Umpiring and scoring courses" Level="4">
  <Info>
    <Parent Key="fac037fe-db36-4379-82ae-26ac0e79b55c">Coaching stoolball</Parent>
    <Path>/Home/Players/CoachingStoolball/UmpiringAndScoringCourses</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-09T22:19:05</CreateDate>
    <NodeName Default="Umpiring and scoring courses" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d2b9eac765c14a12ba692af36fd828e7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/d2b9eac765c14a12ba692af36fd828e7",
      "text": "<p>Our courses for stoolball umpires and scorers are typically held together. The two groups learn their subjects in separate indoor sessions, then come together outside to umpire and score a practice match. These courses take place once or twice per year according to demand and the availability of tutors. If you would like to attend any of these courses, please <a href=\"/{localLink:umb://document/243a06162f214eb6b26c9d77631cd731}\" title=\"Contact us about stoolball\">contact us</a>.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[Our courses for stoolball umpires and scorers are typically held together. The two groups learn their subjects in separate indoor sessions, then come together outside to umpire and score a practice match. ]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[courses]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>