<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1118b69-d7dc-4951-8353-93096bc5596e" Alias="Use our data" Level="3">
  <Info>
    <Parent Key="2274bf43-a8dc-4904-9eb7-0cc4a4279004">About Stoolball England</Parent>
    <Path>/Home/AboutStoolballEngland/UseOurData</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2020-10-10T17:10:35</CreateDate>
    <NodeName Default="Use our data" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="14a24e1e-79ac-4d57-9b36-32fc5460446e">Content</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6f4efc6aff7645be9fb74ca891cd1641"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41914047-aec3-497f-a8bd-fd6b8fabb894",
      "udi": "umb://element/6f4efc6aff7645be9fb74ca891cd1641",
      "text": "<p>We’re happy for you to use data we publish on this website to promote and develop stoolball. That’s why we make it available under a <a rel=\"license\" href=\"http://creativecommons.org/licenses/by/3.0/\">Creative Commons Attribution 3.0 Unported License</a>. This only applies to the information you let us make public. We’ll never share the information you give us privately.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <description>
      <Value><![CDATA[We're happy for you to use data we publish on this website to promote and develop stoolball. That's why we make it available under a Creative Commons Attribution 3.0 Unported License.]]></Value>
    </description>
    <headerPhoto>
      <Value><![CDATA[]]></Value>
    </headerPhoto>
    <stylesheet>
      <Value><![CDATA[]]></Value>
    </stylesheet>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[data]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>