<?xml version="1.0"?>
<!--
  This transform is applied to UmbracoForms.config when the project is built. This is configured in Directory.Build.targets.
  
  UmbracoForms.config can always safely be replaced with the default version since the desired settings will always be reapplied by this
  transform when the project is built locally. Since Umbraco Forms settings should be the same for all environments, the transformed UmbracoForms.config
  can safely be copied all the way to production.
  -->
<umbracoforms xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <settings>
    <setting key="StoreUmbracoFormsInDb" value="True" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
    <setting key="StoreUmbracoFormsInDb" value="True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </settings>
</umbracoforms>