<div
  class="data-migration-dashboard"
  ng-controller="Stoolball.DataMigration.DashboardController as vm"
>
  <div class="umb-panel-group__details-group">
    <div class="umb-panel-group__details-group-title">
      <div class="umb-panel-group__details-group-name">
        <div>Members</div>
      </div>
    </div>
    <div class="umb-panel-group__details-checks">
      <div class="umb-panel-group__details-check">
        <div class="umb-box">
          <div class="umb-box-content">
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all members - are you sure?', 'DeleteMembers')"
            >
              <i class="icon-trash"></i>
              Delete all members
            </button>
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all member groups - are you sure?', 'DeleteMemberGroups')"
            >
              <i class="icon-trash"></i>
              Delete all member groups
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import Member Groups and Members', 'ImportGroupsAndMembers')"
            >
              <i class="icon-arrow-right"></i>
              Import groups and members
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="umb-panel-group__details-group">
    <div class="umb-panel-group__details-group-title">
      <div class="umb-panel-group__details-group-name">
        <div>Stoolball data</div>
      </div>
    </div>
    <div class="umb-panel-group__details-checks">
      <div class="umb-panel-group__details-check">
        <div class="umb-box">
          <div class="umb-box-content">
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all clubs - are you sure?', 'DeleteClubs')"
            >
              <i class="icon-trash"></i>
              Delete all clubs
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import clubs', 'ImportClubs')"
            >
              <i class="icon-arrow-right"></i>
              Import clubs
            </button>
          </div>
        </div>
        <div class="umb-box">
          <div class="umb-box-content">
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all schools - are you sure?', 'DeleteSchools')"
            >
              <i class="icon-trash"></i>
              Delete all schools
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import schools', 'ImportSchools')"
            >
              <i class="icon-arrow-right"></i>
              Import schools
            </button>
          </div>
        </div>
        <div class="umb-box">
          <div class="umb-box-content">
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all match locations - are you sure?', 'DeleteMatchLocations')"
            >
              <i class="icon-trash"></i>
              Delete all match locations
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import match locations', 'ImportMatchLocations')"
            >
              <i class="icon-arrow-right"></i>
              Import match locations
            </button>
          </div>
        </div>
        <div class="umb-box">
          <div class="umb-box-content">
            <p>
              Clubs, schools and match locations must already be imported before
              importing teams.
            </p>
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all teams - are you sure?', 'DeleteTeams')"
            >
              <i class="icon-trash"></i>
              Delete all teams
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import teams', 'ImportTeams')"
            >
              <i class="icon-arrow-right"></i>
              Import teams
            </button>
          </div>
        </div>
        <div class="umb-box">
          <div class="umb-box-content">
            <p>
              Competitions and teams must already be imported before importing
              seasons. Deleting competitions also deletes seasons.
            </p>
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all competitions - are you sure?', 'DeleteCompetitions')"
            >
              <i class="icon-trash"></i>
              Delete all competitions
            </button>
            <button
              class="btn btn-danger"
              ng-click="vm.openDialog('Delete all seasons - are you sure?', 'DeleteSeasons')"
            >
              <i class="icon-trash"></i>
              Delete all seasons
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import competitions', 'ImportCompetitions')"
            >
              <i class="icon-arrow-right"></i>
              Import competitions
            </button>
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Import seasons', 'ImportSeasons')"
            >
              <i class="icon-arrow-right"></i>
              Import seasons
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="umb-panel-group__details-group">
    <div class="umb-panel-group__details-group-title">
      <div class="umb-panel-group__details-group-name">
        <div>Redirects</div>
      </div>
    </div>
    <div class="umb-panel-group__details-checks">
      <div class="umb-panel-group__details-check">
        <div class="umb-box">
          <div class="umb-box-content">
            <button
              class="btn btn-primary"
              ng-click="vm.openDialog('Ensure redirects from the old website', 'EnsureRedirects')"
            >
              <i class="icon-arrow-right"></i>
              Ensure redirects from the old website
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
