<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- On local builds this is used by Directory.Build.targets to transform web.config AFTER running web.release.config. -->
	<system.webServer>
		<!-- Turn off custom error pages -->
		<httpErrors errorMode="Detailed" xdt:Transform="Replace" />
	</system.webServer>
</configuration>