<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is deployed to the live environment in Umbraco Cloud.
    
  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Always use HTTPS everywhere. -->
    <add key="Umbraco.Core.UseHttps" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <add key="Umbraco.Core.DefaultUILanguage" value="en-GB" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Set ModelsBuilder to LiveAppData mode to be compatible with Visual Studio. 
         The default PureLive is designed for development exclusively within the Umbraco back office. -->
    <add key="Umbraco.ModelsBuilder.ModelsMode" value="LiveAppData" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  
  <system.web>
    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <globalization culture="en-GB" uiCulture="en-GB" xdt:Transform="InsertIfMissing" />
  </system.web>

  <!-- Apply a Content Security Policy header -->
  <system.webServer xdt:Transform="InsertIfMissing" />
  <system.webServer>
    <httpProtocol xdt:Transform="InsertIfMissing" />
    <httpProtocol>
      <customHeaders xdt:Transform="InsertIfMissing" />
      <customHeaders>
        <add name="Content-Security-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Content-Security-Policy" value="default-src 'none'; style-src 'self'; script-src 'self'; img-src 'self' data: https://www.gravatar.com/avatar/" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
    <modules xdt:Transform="InsertIfMissing" />
    <modules>
      <remove name="RedirectsModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="RedirectsModule" type="Skybrud.Umbraco.Redirects.Routing.RedirectsModule, Skybrud.Umbraco.Redirects" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
    </modules>
  </system.webServer>
  
  <!-- Remove from the back office any custom security headers that would break the back office. -->
  <location path="umbraco" xdt:Locator="Match(path)">
    <system.webServer>
      <httpProtocol xdt:Transform="InsertIfMissing">
        <customHeaders>
          <remove name="Content-Security-Policy"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>