<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is deployed to the development environment in Umbraco Cloud.
    
  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Always use HTTPS everywhere. -->
    <add key="Umbraco.Core.UseHttps" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <add key="Umbraco.Core.DefaultUILanguage" value="en-GB" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Set ModelsBuilder to LiveAppData mode to be compatible with Visual Studio. 
         The default PureLive is designed for development exclusively within the Umbraco back office. -->
    <add key="Umbraco.ModelsBuilder.ModelsMode" value="LiveAppData" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Enable regex for the System.ComponentModel.DataAnnotations namespace -->
    <add key="dataAnnotations:dataTypeAttribute:disableRegEx" value="false" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />

    <!-- Temporarily disable login to prevent database updates during migration -->
	<add key="DisableLogin" value="false" xdt:Locator="Match(key)" xdt:Transform="InsertIfMissing" />
  </appSettings>

  <!-- Update assembly bindings to the versions which are in use -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.ComponentModel.Annotations')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Text.Encoding.CodePages')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
      </dependentAssembly>
      <!-- RazorGenerator.Mvc expects System.Web.WebPages 1.0.0.0, but 3.0.0.0 is present -->
      <dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Web.WebPages')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Diagnostics.DiagnosticSource')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Runtime.CompilerServices.Unsafe')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
		<dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='Microsoft.Extensions.DependencyInjection.Abstractions')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
		<dependentAssembly xdt:Transform="Insert">
			<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
			<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
		</dependentAssembly>
		<dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Buffers')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
		<dependentAssembly xdt:Transform="Insert">
			<assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
		</dependentAssembly>
		<dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Collections.Immutable')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
		<dependentAssembly xdt:Transform="Insert">
			<assemblyIdentity name="System.Collections.Immutable" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
			<bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
		</dependentAssembly>
		<dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Memory')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
		<dependentAssembly xdt:Transform="Insert">
			<assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
		</dependentAssembly>
		<dependentAssembly xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Threading.Tasks.Extensions')" xdt:Transform="Remove" xdt:SupressWarnings="true" />
		<dependentAssembly xdt:Transform="Insert">
			<assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <globalization culture="en-GB" uiCulture="en-GB" xdt:Transform="InsertIfMissing" />

    <!-- Setting allowManuallyChangingPassword to true allows password reset to work -->
    <membership>
      <providers>
        <add name="UmbracoMembershipProvider" allowManuallyChangingPassword="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(allowManuallyChangingPassword)" />
      </providers>
    </membership>
  </system.web>

  <system.webServer xdt:Transform="InsertIfMissing" />
  <system.webServer>
    <!-- Configure custom error pages -->
    <httpErrors xdt:Transform="InsertIfMissing" />
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="SetAttributes(errorMode,existingResponse)">
      <remove statusCode="400" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <remove statusCode="400" subStatusCode="-1" xdt:Transform="Insert"/>
      <error statusCode="400" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <error statusCode="400" subStatusCode="-1" path="/status/400.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
      <remove statusCode="404" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <remove statusCode="404" subStatusCode="-1" xdt:Transform="Insert"/>
      <error statusCode="404" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <error statusCode="404" subStatusCode="-1" path="/status/404.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
      <remove statusCode="410" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <remove statusCode="410" subStatusCode="-1" xdt:Transform="Insert"/>
      <error statusCode="410" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <error statusCode="410" subStatusCode="-1" path="/status/410.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
      <remove statusCode="500" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <remove statusCode="500" subStatusCode="-1" xdt:Transform="Insert"/>
      <error statusCode="500" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
      <error statusCode="500" subStatusCode="-1" path="/status/500.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
    </httpErrors>

    <!-- Apply a Content Security Policy header -->
    <httpProtocol xdt:Transform="InsertIfMissing" />
    <httpProtocol>
      <customHeaders xdt:Transform="InsertIfMissing" />
      <customHeaders>
        <remove name="Permissions-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <remove name="Permissions-Policy" xdt:Transform="Insert" />
        <add name="Permissions-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Permissions-Policy" value="__PERMISSIONS_POLICY__" xdt:Transform="Insert" />
        <remove name="Referrer-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <remove name="Referrer-Policy" xdt:Transform="Insert" />
        <add name="Referrer-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" xdt:Transform="Insert" />
        <remove name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <remove name="X-Content-Type-Options" xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
        <remove name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <remove name="X-Frame-Options" xdt:Transform="Insert" />
        <add name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-Frame-Options" value="DENY" xdt:Transform="Insert" />
        <remove name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <remove name="X-XSS-Protection" xdt:Transform="Insert" />
        <add name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-XSS-Protection" value="1; mode=block" xdt:Transform="Insert" />
        <remove name="Strict-Transport-Security" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <remove name="Strict-Transport-Security" xdt:Transform="Insert" />
        <add name="Strict-Transport-Security" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Strict-Transport-Security" value="max-age=31536000" xdt:Transform="Insert" />
        <add name="Report-To" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Report-To" value='{"group":"default","max_age":31536000,"endpoints":[{"url":"https://stoolball.report-uri.com/a/d/g"}],"include_subdomains":true}' xdt:Transform="Insert" />
        <add name="NEL" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="NEL" value='{"report_to":"default","max_age":31536000,"include_subdomains":true}' xdt:Transform="Insert" />
        <add name="Cross-Origin-Opener-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Cross-Origin-Opener-Policy" value='same-origin; report-to="default"' xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
    <modules xdt:Transform="InsertIfMissing" />
    <modules>
      <remove name="RedirectBareDomainModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="RedirectBareDomainModule" type="Stoolball.Web.Routing.RedirectBareDomainModule, Stoolball.Web" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <remove name="RedirectsModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="RedirectsModule" type="Skybrud.Umbraco.Redirects.Routing.RedirectsModule, Skybrud.Umbraco.Redirects" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
    </modules>
    <handlers xdt:Transform="InsertIfMissing" />
    <handlers>
      <!-- Enable CSV downloads, protected by an API key -->
      <remove name="CsvHandler" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
      <add name="CsvHandler" path="*.csv" verb="GET" type="Stoolball.Web.WebApi.CsvHandler" preCondition="integratedMode,runtimeVersionv4.0" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
    </handlers>
    <rewrite xdt:Transform="InsertIfMissing" />
    <rewrite>
      <rules xdt:Transform="InsertIfMissing" />
      <rules>
        <!-- Handle the .rss and .ics extensions by rewriting it to something ASP.NET and Umbraco are set up to handle -->
        <rule name="CustomExtensions" stopProcessing="true" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
          <match url="(.*)\.(rss|ics)" ignoreCase="true" />
          <action type="Rewrite" url="{R:1}/{R:2}" />
        </rule>
        <!-- Add a CORP header to all client-side resources to prevent embedding on any third-party site that enables COEP -->
        <rule name="CrossOriginResourcePolicy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
          <match url="(.*)\.(jpg|gif|png|svg|webp|avif|ico|js|css)" ignoreCase="true" />
          <serverVariables>
            <set name="RESPONSE_Cross_Origin_Resource_Policy" value="same-origin"/>
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
  <!-- Remove from the back office any custom security headers that would break the back office. -->
  <location path="umbraco" xdt:Locator="Match(path)">
    <system.webServer>
      <httpProtocol xdt:Transform="InsertIfMissing" />
      <httpProtocol>
        <customHeaders xdt:Transform="InsertIfMissing" />
        <customHeaders>
          <remove name="Permissions-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="X-Frame-Options" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>