<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is built. This is configured in Stoolball.Web.csproj.
  
  Since the project is only ever built locally settings for development should be included here so long as they do 
  not include secrets. 
  
  If the same settings should be applied in production they must be repeated in another transform which will run 
  on deployment to Umbraco Cloud. The local copy of Web.config is never deployed to Umbraco Cloud. All changes are 
  made using transforms acting on the base Web.config which is committed in the deployment repository.

  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Always use HTTPS everywhere. -->
    <add key="Umbraco.Core.UseHttps" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <add key="Umbraco.Core.DefaultUILanguage" value="en-GB" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
  
  <system.net>
    <!-- Use the mail settings for local testing with Papercut. These will be overridden on deploy by another XDT file. -->
    <mailSettings xdt:Transform="Replace">
      <smtp from="alerts@stoolball.org.uk">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  
    <system.web>
    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <globalization culture="en-GB" uiCulture="en-GB" xdt:Transform="InsertIfMissing" />
  </system.web>
  
  <!-- Remove from the back office any custom security headers that would break the back office. -->
  <location path="umbraco" xdt:Locator="Match(path)">
    <system.webServer>
      <httpProtocol xdt:Transform="InsertIfMissing">
        <customHeaders>
          <remove name="Content-Security-Policy"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>