<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- On local builds this is used by Directory.Build.targets to transform web.template.config to create web.config. 
	     On Umbraco Cloud this is used by the deployment to transform the default .net core web.config file. -->
	<system.webServer xdt:Transform="InsertIfMissing" />
	<system.webServer>
		<rewrite xdt:Transform="InsertIfMissing" />
		<rewrite>
			<rules xdt:Transform="InsertIfMissing" />
			<rules>
				<!-- Handle the .rss extension by rewriting it to something ASP.NET and Umbraco are set up to handle -->
				<rule name="CustomExtensions" stopProcessing="true" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
					<match url="(.*)\.(rss|ics)" ignoreCase="true" />
					<action type="Rewrite" url="{R:1}/{R:2}" />
				</rule>
				<rule name="Domain" stopProcessing="true" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.stoolball\.net$" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://www.stoolball.org.uk/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
		<!-- Configure custom error pages -->
		<httpErrors xdt:Transform="InsertIfMissing" />
		<httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="SetAttributes(errorMode,existingResponse)">
			<remove statusCode="400" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<remove statusCode="400" subStatusCode="-1" xdt:Transform="Insert"/>
			<error statusCode="400" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<error statusCode="400" subStatusCode="-1" path="/status/400.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
			<remove statusCode="404" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<remove statusCode="404" subStatusCode="-1" xdt:Transform="Insert"/>
			<error statusCode="404" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<error statusCode="404" subStatusCode="-1" path="/status/404.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
			<remove statusCode="410" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<remove statusCode="410" subStatusCode="-1" xdt:Transform="Insert"/>
			<error statusCode="410" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<error statusCode="410" subStatusCode="-1" path="/status/410.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
			<remove statusCode="500" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<remove statusCode="500" subStatusCode="-1" xdt:Transform="Insert"/>
			<error statusCode="500" subStatusCode="-1" xdt:Locator="Match(statusCode,subStatusCode)" xdt:Transform="Remove"/>
			<error statusCode="500" subStatusCode="-1" path="/status/500.html" responseMode="ExecuteURL" xdt:Transform="Insert"/>
		</httpErrors>
		<httpProtocol xdt:Transform="InsertIfMissing" />
		<httpProtocol>
			<customHeaders xdt:Transform="InsertIfMissing" />
			<customHeaders>
				<remove name="X-Powered-By" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
				<remove name="X-Powered-By" xdt:Transform="Insert" />
			</customHeaders>
		</httpProtocol>
		<security xdt:Transform="InsertIfMissing" />
		<security>
			<requestFiltering xdt:Transform="InsertIfMissing" />
			<requestFiltering removeServerHeader="true" xdt:Transform="SetAttributes(removeServerHeader)" />
		</security>
	</system.webServer>
</configuration>