<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- On local builds this is used by Directory.Build.targets to transform web.template.config to create web.config. 
	     On Umbraco Cloud this is used by the deployment to transform the default .net core web.config file. -->
	<system.webServer xdt:Transform="InsertIfMissing" />
	<system.webServer>
		<rewrite xdt:Transform="InsertIfMissing" />
		<rewrite>
			<rules xdt:Transform="InsertIfMissing" />
			<rules>
				<!-- Handle the .rss extension by rewriting it to something ASP.NET and Umbraco are set up to handle -->
				<rule name="CustomExtensions" stopProcessing="true" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing">
					<match url="(.*)\.(rss|ics)" ignoreCase="true" />
					<action type="Rewrite" url="{R:1}/{R:2}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>