<?xml version="1.0"?>
<!--
  This transform is applied to web.config when the project is built. This is configured in Stoolball.Web.csproj.
  
  Since the project is only ever built locally settings for development should be included here so long as they do 
  not include secrets. 
  
  If the same settings should be applied in production they must be repeated in another transform which will run 
  on deployment to Umbraco Cloud. The local copy of Web.config is never deployed to Umbraco Cloud. All changes are 
  made using transforms acting on the base Web.config which is committed in the deployment repository.

  For more info about how to transform on deployment: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Always use HTTPS everywhere. -->
    <add key="Umbraco.Core.UseHttps" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <add key="Umbraco.Core.DefaultUILanguage" value="en-GB" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <!-- Set ModelsBuilder to LiveAppData mode to be compatible with Visual Studio. 
         The default PureLive is designed for development exclusively within the Umbraco back office. -->
    <add key="Umbraco.ModelsBuilder.ModelsMode" value="LiveAppData" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>

  <system.net>
    <!-- Use the mail settings for local testing with Papercut. These will be overridden on deploy by another XDT file. -->
    <mailSettings xdt:Transform="Replace">
      <smtp from="alerts@stoolball.org.uk">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <!-- Always ensure en-GB replaces en-US everywhere. -->
    <globalization culture="en-GB" uiCulture="en-GB" xdt:Transform="InsertIfMissing" />

    <!-- Always use debug mode in dev, as it disables ClientDependency and makes debugging JavaScript easier -->
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />

    <!-- Setting allowManuallyChangingPassword to true allows password reset to work -->
    <membership>
      <providers>
        <add name="UmbracoMembershipProvider" allowManuallyChangingPassword="true" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(allowManuallyChangingPassword)" />
      </providers>
    </membership>
  </system.web>

  <!-- Apply a Content Security Policy header -->
  <system.webServer xdt:Transform="InsertIfMissing" />
  <system.webServer>
    <httpProtocol xdt:Transform="InsertIfMissing" />
    <httpProtocol>
      <customHeaders xdt:Transform="InsertIfMissing" />
      <customHeaders>
        <add name="Content-Security-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Content-Security-Policy" value="__CONTENT_SECURITY_POLICY__" xdt:Transform="Insert" />
        <add name="X-Content-Security-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-Content-Security-Policy" value="__CONTENT_SECURITY_POLICY__" xdt:Transform="Insert" />
        <add name="Feature-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Feature-Policy" value="__FEATURE_POLICY__" xdt:Transform="Insert" />
        <add name="Referrer-Policy" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
        <add name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-Frame-Options" value="DENY" xdt:Transform="Insert" />
        <add name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="X-XSS-Protection" value="1; mode=block" xdt:Transform="Insert" />
        <add name="Strict-Transport-Security" xdt:Transform="Remove" xdt:Locator="Match(name)" xdt:SupressWarnings="true" />
        <add name="Strict-Transport-Security" value="max-age=31536000" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
    <modules xdt:Transform="InsertIfMissing" />
    <modules>
      <remove name="RedirectsModule" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      <add name="RedirectsModule" type="Skybrud.Umbraco.Redirects.Routing.RedirectsModule, Skybrud.Umbraco.Redirects" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
    </modules>
  </system.webServer>

  <!-- Remove from the installer any custom security headers that would break the installer. -->
  <location path="install" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing" />
  <location path="install" xdt:Locator="Match(path)">
    <system.webServer xdt:Transform="InsertIfMissing" />
    <system.webServer>
      <httpProtocol xdt:Transform="InsertIfMissing" />
      <httpProtocol>
        <customHeaders xdt:Transform="InsertIfMissing" />
        <customHeaders>
          <remove name="Content-Security-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="X-Content-Security-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="Feature-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="X-Frame-Options" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  
  <!-- Remove from the back office any custom security headers that would break the back office. -->
  <location path="umbraco" xdt:Locator="Match(path)" xdt:Transform="InsertIfMissing" />
  <location path="umbraco" xdt:Locator="Match(path)">
    <system.webServer xdt:Transform="InsertIfMissing" />
    <system.webServer>
      <httpProtocol xdt:Transform="InsertIfMissing" />
      <httpProtocol>
        <customHeaders xdt:Transform="InsertIfMissing" />
        <customHeaders>
          <remove name="Content-Security-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="X-Content-Security-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="Feature-Policy" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
          <remove name="X-Frame-Options" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>