@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/_alert.scss";
@import "_theme.scss";

/* An alert has even padding, so remove any bottom margin on the last child which would make that look extra large. */
.alert > :last-child {
    margin-bottom: 0;
}

.alert-tip {
    background-image: url(/images/icons/iconmonstr-light-bulb-12.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px center;
    padding-left: 35px;
}

.alert-tip a:link, .alert-tip a:visited {
    color: #007A00; // slightly darker to meet WCAG AA
    border-bottom-color: #007A00;
}

.alert-tip a:hover {
    color: #004d00; // still use the standard hover colour
}

@media print {
    .alert-tip {
        padding-left: $spacer*1.25;
    }
}

// Tweak standard link colours to meet WCAG AA contrast
.alert-info a:link {
    color: $alert-link-color;
}
.alert-info a:visited {
    color: $alert-visited-color;
}

// Don't use green links on a red background!
.alert-warning a:link, .alert-warning a:visited {
    color: inherit;
    border-color: inherit;
}


.alert-warning {
    background-image: url(/images/icons/iconmonstr-error-lined.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 10px 12px;
    padding-left: 40px;
}

.alert-success {
    font-weight: bold;
    background-position: 1rem .9rem;
    // Same confirmation tick as a valid field in jQuery validate
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23b5d498' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 45px;
}

.alert-danger {
    background-color: $red;
    color: $white;
}