@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

/* Reset button styles for the button that surrounds the edit view of a block in the Block List Editor */
.block-list-editor__button {
    background: none;
    border: none;
    margin: 0;
    text-align: left;
    width: calc(100% - 110px);
    display: block;
    padding: 10px 100px 10px 10px;
    min-height: 50px;
}

.block-list-editor__button:hover {
    background: #eee;
}

// And don't let any image get too big in edit view
.block-list-editor__button figure {
    max-width: 400px;
}

/* Images - don't let them overflow their container */
img {
    max-width: 100%;
}

/* Formatted text with image block */
.block__text-with-image {
    margin-bottom: $spacer;
}

.block__image {
    width: 100%;
    height: auto;
}

.block__text-with-image__extra-small .block__image,
.block__text-with-image__small .block__image {
    width: 70%;
}


@include media-breakpoint-up(sm) {
    .block__text-with-image__extra-small, .block__text-with-image__small {
        display: flex;
    }

    .block__text-with-image__left .block__image {
        order: 1;
    }

    .block__text-with-image__left .block__text {
        order: 2;
    }

    .block__text-with-image__left.block__text-with-image__extra-small .block__image,
    .block__text-with-image__left.block__text-with-image__small .block__image {
        margin-right: $spacer*2;
    }

    .block__text-with-image__right.block__text-with-image__extra-small .block__image,
    .block__text-with-image__right.block__text-with-image__small .block__image {
        margin-left: $spacer*2;
    }

    .block__text-with-image__extra-small .block__image,
    .block__text-with-image__small .block__image {
        width: 100%;
        flex-basis: 33.3%;
    }

    .block__text-with-image__extra-small .block__text {
        flex-basis: 66.6%;
    }

    .block__text-with-image__small .block__text {
        flex-basis: 66.6%;
    }
}

@include media-breakpoint-up(md) {
    .block__text-with-image__medium {
        display: flex;
    }

    .block__text-with-image__left.block__text-with-image__medium .block__image {
        margin-right: $spacer*2;
    }

    .block__text-with-image__right.block__text-with-image__large .block__image {
        margin-left: $spacer*2;
    }

    .block__text-with-image__extra-small .block__image {
        flex-basis: 25%;
    }

    .block__text-with-image__extra-small .block__text {
        flex-basis: 75%;
    }

    .block__text-with-image__medium .block__image,
    .block__text-with-image__medium .block__text {
        flex-basis: 50%;
    }
}

@include media-breakpoint-up(lg) {
    .block__text-with-image__large, .block__text-with-image__extra-large {
        display: flex;
    }

    .block__text-with-image__left.block__text-with-image__large .block__image,
    .block__text-with-image__left.block__text-with-image__extra-large .block__image {
        margin-right: $spacer*2;
    }

    .block__text-with-image__right.block__text-with-image__medium .block__image,
    .block__text-with-image__right.block__text-with-image__extra-large .block__image {
        margin-left: $spacer*2;
    }

    .block__text-with-image__large .block__text {
        flex-basis: 33.3%;
    }

    .block__text-with-image__large .block__image {
        flex-basis: 66.6%;
    }

    .block__text-with-image__extra-large .block__text {
        flex-basis: 25%;
    }

    .block__text-with-image__extra-large .block__image {
        flex-basis: 75%;
    }
}


// Common caption style for image and Getty blocks - similar to table headers for cross-site consistency
.block__image > figcaption, .block__images > figcaption, .block__getty > figcaption {
    background: $table-dark-bg;
    color: $table-dark-color;
    padding: $spacer;
    border-radius: $border-radius;
    border-top: 2px solid $white;
}


/* Images block - srcset alone renders very odd sizes, so instead control the width of the container.
   and the image is set to fill it. Prevent images getting too huge by reducing to less than 100% wide on a big screen.
*/
.block__images.portrait, .block__images.landscape {
    width: 100%;
}

@include media-breakpoint-up(md){
    .block__images.portrait {
        width: 50%;
    }
}

@include media-breakpoint-up(lg) {
    .block__images.landscape {
        width: 80%;
    }
}

.block__image img[src], .block__images img[src] {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: $spacer;
    width: 100%;
    height: auto;
}

// inline-block caption because we don't know the width of an image.
// The image above does not know if it has the optional caption following, so offset its bottom margin instead.
.block__image > figcaption, .block__images > figcaption {
    margin-top: -$spacer;
}


// Make Getty images and YouTube videos have the same widths at the same breakpoints, while maintaining their aspect-ratios.
// Maximum size 594px is that of a Getty image. 
.block__getty {
    width: 335px;
}
.block__getty > iframe {
    display: block;
    width: 100%;
    height: 259px;
    border-radius: $border-radius;
}

.block__youtube {
    margin-bottom: $spacer;
    width: 335px;
    height: 188px;
    border-radius: $border-radius;
}

@media (min-width: 420px) {
    .block__getty {
        width: 375px;
    }

    .block__getty > iframe {
        height: 290px;
    }

    .block__youtube {
        width: 375px;
        height: 211px;
    }
}


@media (min-width: 530px) {
    .block__getty {
        width: 485px;
    }

    .block__getty > iframe {
        height: 375px;
    }

    .block__youtube {
        width: 485px;
        height: 273px;
    }
}

@media (min-width: 640px) {
    .block__getty {
        width: 594px;
    }

    .block__getty > iframe {
        height: 459px;
    }

    .block__youtube {
        width: 594px;
        height: 334px;
    }
}

@include media-breakpoint-up(md) {
    .block__youtube {
        width: 723px;
        height: 406px;
    }
}

@include media-breakpoint-up(lg) {
    .block__youtube {
        width: 948px;
        height: 533px;
    }
}

@include media-breakpoint-up(xl) {
    .block__youtube {
        width: 1110px;
        height: 624px;
    }
}
