@import "_theme.scss";
@import "_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/_breadcrumb.scss";

/* De-emphasise the breadcrumb relative to normal links, while still keeping it accessible.
   Change the display from flexbox to block to improve wrapping for long breadcrumbs on small screens.
*/
.breadcrumb {
    padding: 0; 
    background: none;
    display: block;
}

.breadcrumb-item {
    padding: 0;
    display: inline;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: $spacer/4; // Update Bootstrap padding to reflect change to display value above.
}

// Override Bootstrap again in a fix that goes with display: block above.
.breadcrumb-item + .breadcrumb-item::before {
    float: none;
}

.breadcrumb a[href] {
    @include remove-link-underline;
    color: $grey;
}

.breadcrumb a[href]:hover {
    @include link-underline;
    border-bottom-color: $black;
}