@import "_theme.scss";
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

@mixin link-underline {
    border-bottom: 1px solid theme-color("primary");
}

@mixin remove-link-underline {
    border-bottom-color: transparent;
}

@mixin link-focus {
    outline: 2px solid; // Inherit the link colour
    outline-offset: 2px;
}

@mixin remove-link-focus {
    outline: none;
}

@mixin button-focus {
    outline: 2px solid; // Inherit the colour
    border-radius: $border-radius;
}

@mixin table-as-cards-reset-thead {
    position: static; // undo .sr-only
}

@mixin table-as-cards-reset-stackable {
    display: table-cell;
}

@mixin table-as-cards-reset-label {
    display: none;
}

@mixin numeric-value {
    text-align: right;
    white-space: nowrap;
}