@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

/* Display a Gravatar next to its content 

   <div class="gravatar"><img /><div>content</div></div>
*/
.gravatar {
    display: flex;
}

.gravatar > img {
    border-radius: 50%;
    margin-right: $spacer;
}