@import "_theme.scss";
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

.filter {
    padding: $table-cell-padding 0 0 $table-cell-padding/2;
    margin: -$spacer 0 $spacer;
}

.filter__applied {
    background: no-repeat left .25em / 15px url(/images/icons/iconmonstr-filter-1-grey.svg);
    color: #767676;
    padding: 0 0 $table-cell-padding 25px;
    margin: 0;
    border-bottom: theme-color("alt-secondary") solid 1px;
}

.filter__edit {
    margin-bottom: 0;
    padding: 0 0 $table-cell-padding;
    border-bottom: theme-color("alt-secondary") solid 1px;
}

.filter__edit .form-group:last-child {
    margin-bottom: 0;
}

.filter__edit label {
    display: inline-block;
    margin-right: $spacer/2;
}

.filter__form-control {
    display: inline-block;
    margin-right: $spacer/2;
    width: auto;
}
