@import "_theme.scss";
@import "_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

.product-list__intro {
    margin-bottom: $spacer*2;
}

.product-list__intro > :last-child {
    @include remove-link-underline;
    display: block;
    text-align: center;
    margin-top: $spacer*2;
}

.product-list__intro > :last-child:hover, .product-list__intro > :last-child:focus, .product-list__intro > :last-child:active {
    outline: 5px solid $black;
}

.product-list__intro img {
    margin-bottom: $spacer;
}

.product-list__intro .btn {
    box-shadow: 2px 2px 2px $black;
}

@include media-breakpoint-up(md) {
    .product-list__intro {
        display: flex;
    }

    .product-list__intro > :first-child {
        padding-right: 6em;
    }

    .product-list__intro > :last-child {
        margin-top: -70px
    }
}

.tiles.product-list {
    flex-wrap: wrap;
    margin-bottom: $spacer/2;
}

.product-preview {
    position: relative;
    width: 100%;
    background: lighten(theme-color("alt-secondary"), 25%);
    overflow: visible;
    margin-bottom: $spacer;
    color: $black;
}

// Tweak standard link colours to meet WCAG AA contrast
.product-preview a:link {
    color: $alert-link-color;
}

.product-preview a:visited {
    color: $alert-visited-color;
}

.product-preview__linked > a:link, .product-preview > a:visited {
    color: $black;
    display: block;
    border: none;
    height: 100%;
}

.product-preview__linked > a:hover, .product-preview > a:focus, .product-preview a:active {
    outline: 5px solid $black;
}

.product-preview__linked .product-preview__detail:after {
    content: 'Product details ❯';
    display: inline-block;
    text-align: right;
    padding: $spacer/2 $spacer;
    background: theme-color("primary");
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}

.product-preview .tile__link {
    border: none;
    transform: none;
    margin: 0;
}

.product-preview img {
    border-top: 2px solid theme-color("alt-secondary");
    border-left: 2px solid theme-color("alt-secondary");
    border-bottom: 2px solid theme-color("alt-secondary");
}

.product-preview__detail {
    width: 100%;
}

.product-preview__title {
    background: $black;
    color: $white;
    padding: $spacer $spacer*4 $spacer $spacer;
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.product-preview__description {
    padding: $spacer;
    margin: 0;
}

.product-preview__linked .product-preview__description {
    padding-bottom: 3rem;
}

.product-preview__price {
    position: absolute;
    top: 0;
    right: 0;
    background: theme-color("primary");
    color: $white;
    padding: $spacer/2;
    font-weight: bold;
    z-index: 1;
}

@include media-breakpoint-up(md) {
    .product-preview {
        width: 45%;
    }

    .product-preview:nth-child(odd) {
        margin-right: 5px;
    }

    .product-preview:nth-child(even) {
        margin-left: 5px;
    }
}