@import "_theme.scss";
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

/***************************
 A set of steps in a process
 ***************************

<ol class="steps">
    <li class="completed"><span class="sr-only">Completed step</span></li>
    <li aria-current="step"><em class="sr-only">Current step</em></li>
    <li><span class="sr-only">Next step</span></li>
</ol>

Margins are designed to work even when the set of steps wraps to a second line,
though at that point the line through created by the top border only goes through 
the first line of steps.
**/

.steps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    counter-reset: steps;
    padding-left: 0;
    margin: 2.5rem 0 -1rem;
    border-top: 2px solid theme-color("primary");
}

.steps > * {
    list-style: none;
    counter-increment: steps;
    text-align: center;
    margin: -1.3rem 0 2rem;
}

.steps > *::before {
    content: counter(steps);
    display: block;
    background: $white;
    color: $black;
    font-size: 1.5em;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: bold;
    margin: 0 1rem 0 0;
    border: 2px solid theme-color("primary");
    line-height: 2rem;
}

.steps > *[aria-current]::before, .steps > *.steps__completed::before {
    background: theme-color("primary");
    color: $white;
}

.steps > *:last-child::before {
    margin: 0;
}

@include media-breakpoint-up(sm) {
    .steps > *::before {
    margin-right: 1.5rem; 
    }
}