<div
  class="data-migration-dialog"
  ng-controller="Stoolball.DataMigration.ImportMatchAwards as vm"
>
  <umb-editor-view>
    <umb-editor-header
      name="model.title"
      name-locked="true"
      hide-alias="true"
      hide-icon="true"
      hide-description="true"
    >
    </umb-editor-header>

    <umb-editor-container>
      <umb-box>
        <umb-box-content>
          <p>
            This will import all stoolball player of the match awards from the
            old Stoolball England website into the Umbraco database.
          </p>

          <label for="dataSource">Import from</label>
          <select
            ng-init="model.dataSource='stoolball.local'"
            ng-model="model.dataSource"
            ng-options="x for x in model.dataSources"
            id="dataSource"
          >
          </select>
        </umb-box-content>
      </umb-box>
      <umb-box ng-if="vm.processing">
        <umb-box-content>
          <div class="umb-panel-group__details-check-name">
            Importing: {{vm.imported.length}} of {{vm.total}} match awards
          </div>
          <ul class="data-migration-progress">
            <li ng-repeat="item in vm.failed" class="alert alert-error">
              Failed: {{item | json}}
            </li>
          </ul>
        </umb-box-content>
      </umb-box>
      <umb-box ng-if="vm.done && vm.total === 0">
        <umb-box-content>
          <div class="umb-panel-group__details-check-name">
            There are no match awards to import.
          </div>
        </umb-box-content>
      </umb-box>
    </umb-editor-container>

    <umb-editor-footer>
      <umb-editor-footer-content-right>
        <umb-button
          type="button"
          button-style="link"
          label-key="general_close"
          shortcut="esc"
          action="vm.close()"
          ng-if="!vm.done"
        >
        </umb-button>
        <umb-button
          type="button"
          button-style="primary"
          label="Import match awards"
          icon="icon-arrow-right"
          action="vm.submit(model)"
          state="vm.buttonState"
          disabled="vm.buttonState === 'busy'"
          ng-if="!vm.done"
        >
        </umb-button>
        <umb-button
          type="button"
          button-style="action"
          label="Close"
          action="vm.close(model)"
          ng-if="vm.done"
        >
        </umb-button>
      </umb-editor-footer-content-right>
    </umb-editor-footer>
  </umb-editor-view>
</div>
