<p><img src="/images/logos/clubmark.png" alt="Clubmark accredited" width="220" height="40" /></p>
<p>This is a <a href="http://www.sportenglandclubmatters.com/club-mark/">Clubmark accredited</a> stoolball club.</p>