@model Stoolball.Competitions.Competition
@using Stoolball.SocialMedia
<h2>Contact details</h2>
@{
    var socialMedia = new SocialMedia
    {
        DisplayName = Model.CompetitionName,
        Facebook = Model.Facebook,
        Twitter = Model.Twitter,
        Instagram = Model.Instagram,
        YouTube = Model.YouTube
    };
    if (!string.IsNullOrWhiteSpace(Model.PublicContactDetails) || !string.IsNullOrWhiteSpace(Model.Website) || socialMedia.HasSocialMedia())
    {
        @Html.Raw(Model.PublicContactDetails)

        if (!string.IsNullOrWhiteSpace(Model.Website))
        {
            <p>Visit the <a href="@Model.Website">@Model.CompetitionName's website</a>.</p>
        }

        @await Html.PartialAsync("_SocialMedia", socialMedia);
    }
    else
    {
        @await Html.PartialAsync("_ContactDetailsMissing", "competition")
    }
}