@using Stoolball.SocialMedia
<footer>
<div class="container-xl">
    <div class="row">
        <div class="col-sm">
            <ul class="list-unstyled footer__links">
                <li><a href="/about">About us</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
            @Html.Partial("_SocialMedia", new SocialMedia {
               DisplayName = "Stoolball England",
               Facebook = "https://facebook.com/stoolball",
               Twitter = "@stoolball",
               Instagram = "@stoolball",
               YouTube = "https://youtube.com/stoolballengland"
           })
        </div>
        <div class="col-sm">
            <p class="footer__recognised">Recognised by <a href="https://www.sportengland.org/"><img src="~/images/logos/sport-england.svg" width="120" height="36" alt="Sport England" /></a></p>
        </div>
    </div>
</div>
</footer>
