<footer>
<div class="container-xl">
    <div class="row">
        <div class="col">
            <p><a href="/contact">Contact us</a></p>
            <ul class="list-unstyled list-inline footer__social-media">
                <li class="list-inline-item"><a href="https://facebook.com/stoolball"><img src="~/images/icons/iconmonstr-facebook-6-green.svg" alt="Follow Stoolball England on Facebook" width="20" height="20"/></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/stoolball"><img src="~/images/icons/iconmonstr-twitter-1-green.svg" alt="Follow Stoolball England on Twitter" width="20" height="20" /></a></li>
                <li class="list-inline-item"><a href="https://instagram.com/stoolball"><img src="~/images/icons/iconmonstr-instagram-11-green.svg" alt="Follow Stoolball England on Instagram" width="20" height="20" /></a></li>
                <li class="list-inline-item"><a href="https://youtube.com/stoolballengland"><img src="~/images/icons/iconmonstr-youtube-6-green.svg" alt="Follow Stoolball England on YouTube" width="20" height="20" /></a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li><a href="/about">About Stoolball England</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </div>
        <div class="col">
            <p>Recognised by</p>
            <img src="~/images/logos/sport-england.svg" width="120" height="36" alt="Sport England" />
        </div>
    </div>
</div>
</footer>
