@model  Stoolball.Web.Matches.MatchListSubscriptionsViewModel
<ul class="list-unstyled">
    <li><a type="text/calendar" href="webcal://@(Request.Url.Host == "localhost" ? Request.Url.Authority : "www.stoolball.org.uk")@Model.BaseRoute/@(Model.FilenameWithoutExtension).ics@(Model.QueryString)" rel="nofollow">Add to calendar</a></li>
    <li><a type="application/rss+xml" href="@Model.BaseRoute/@(Model.FilenameWithoutExtension).rss@(Model.QueryString)" rel="nofollow">Subscribe with RSS</a></li>
</ul>
