@if (DateTimeOffset.UtcNow < new DateTimeOffset(2023, 9, 1, 0, 0, 0, TimeSpan.FromHours(1)))
{
    <p class="alert alert-info alert-tip">Ever played for multiple teams or changed your name? You can now <a href="/news/combine-your-statistics/">combine your statistics</a>.</p>
}