@if (Model.TotalResults > Model.StatisticsFilter.PageSize)
{
    <p>
    @if (Model.StatisticsFilter.PageNumber > 1)
    {
        var query = HttpUtility.ParseQueryString(Request.Url.Query);
        query["page"] = (Model.StatisticsFilter.PageNumber - 1).ToString(System.Globalization.CultureInfo.InvariantCulture);
        <a href="@Request.Path?@query" class="btn btn-secondary btn-back">Previous page</a>
    }
    @if (Model.TotalResults > (Model.StatisticsFilter.PageNumber * Model.StatisticsFilter.PageSize))
    {
        var query = HttpUtility.ParseQueryString(Request.Url.Query);
        query["page"] = (Model.StatisticsFilter.PageNumber + 1).ToString(System.Globalization.CultureInfo.InvariantCulture);
        <a href="@Request.Path?@query" class="btn btn-secondary">Next page</a>
    }
    </p>
}
