@model IList<Stoolball.Teams.Team>
@if (Model.Any())
{
    <ul>
        @foreach (var team in Model)
        {
            if (team.UntilYear.HasValue)
            {
                <li><a href="@team.TeamRoute">@team.TeamName</a> (no longer active)</li>
            }
            else
            {
                <li><a href="@team.TeamRoute">@team.TeamName</a></li>
            }
        }
    </ul>
}
