@model IList<Stoolball.Teams.Team>
@if (Model.Any())
{
    <ul>
        @foreach (var team in Model)
        {
            if (team.UntilDate.HasValue)
            {
                <li><a href="@team.TeamRoute">@team.TeamName (doesn't play any more)</a></li>
            }
            else
            {
                <li><a href="@team.TeamRoute">@team.TeamName</a></li>
            }
        }
    </ul>
}
