@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Content>
@using ContentModels = Umbraco.Web.PublishedModels;
@using ClientDependency.Core.Mvc
@{
    if (Model.BlockList.Any(x => x.Content is FormElementType))
    {
        Html.RequiresJs("~/scripts/jquery.validate.min.js");
        Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

        Html.RequiresJs("/umbraco/lib/tinymce/tinymce.min.js", 90);
        Html.RequiresJs("/js/tinymce.js");
    }
}
<div class="container-xl">
    <h1>@Model.Name</h1>
    @Html.GetBlockListHtml(Model, "blockList")
</div>

@section umbracoforms {
    @if (TempData["UmbracoForms"] != null)
    {
        foreach (var form in (List<Guid>)TempData["UmbracoForms"])
        {
            Html.RenderAction("RenderFormScripts", "UmbracoForms", new { formid = form, theme = "stoolball" });
        }
    }
}