@inherits Umbraco.Web.Mvc.UmbracoViewPage<CompetitionViewModel>
@using ClientDependency.Core.Mvc
@using Stoolball.Web.Competitions
@using Stoolball.Security
@section head {
    <meta name="robots" content="noindex,follow" />
}
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

    Html.RequiresJs("/umbraco/lib/tinymce/tinymce.min.js", 90);
    Html.RequiresJs("/js/tinymce.js");
}
<div class="container-xl">
    <h1>Add a competition</h1>

    @if (Model.IsAuthorized[AuthorizedAction.CreateCompetition])
    {
        using (Html.BeginUmbracoForm<CreateCompetitionSurfaceController>
            ("CreateCompetition"))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_CreateOrEditCompetition")
        }
    }
    else
    {
        @Html.Partial("_Login")
    }
</div>