@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LogoutMember>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Stoolball.Web.Email
<div class="container-xl">
    <h1>@Model.Name</h1>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Logout")
    }
    else
    {
        @Html.ProtectEmailAddresses(Model.LoggedOut)
        <p><a href="/" class="btn btn-primary btn-back">@Model.HomeButton</a></p>
    }
</div>