@import "../css/_theme.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_variables.scss";

// The 'vs' in Team A vs Team B
.select-teams-in-match__versus {
    font-weight: bold;
    padding: $spacer/2 $spacer;
}

// Align the delete button to the top so that it doesn't move when the error message appears
.related-items .related-item__delete {
    vertical-align: top;
}
.select_teams_in_match__create .related-item__delete {
    padding-top: $spacer;
}
// The button to add a match with the selected teams
.select-teams-in-match__add {
    display: inline-block;
    margin: 0 $table-cell-padding $spacer;
}

// The validation message has to go after the fieldset rather than after each field
.field-validation-error {
    margin: $table-cell-padding 0 0;
}

// When there's more space, arrange the teams side-by-side rather than stacked
@include media-breakpoint-up(sm) {
    .select-teams-in-match {
        display: flex;
        align-items: center;
    }

    .select-teams-in-match__team {
        flex-grow: 1;
    }
}