@import "../css/_theme.scss";
@import "../Content/bootstrap/_functions.scss";
@import "../Content/bootstrap/_mixins.scss";
@import "../Content/bootstrap/_variables.scss";
@import "../css/_mixins.scss";

// The match result should be prominent but won't always have following content, so it uses <strong> with h3 styles
.match-result {
    font-size: $h3-font-size;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
    margin-bottom: $spacer;
}

.update-result {
    margin: 0 0 $spacer*2;
}

// Add some extra separation between multiple award types: larger than that between recipients of the same award.
.award-list dd + dt {
    margin-top: $spacer;
}

.award-editor-award, .award-editor-team {
    width: 20%;
}

// Bring .btn-show up to the table it relates to
.bowling-scorecard + .btn-show {
    margin: -$spacer 0 $spacer*2;
}