<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b406c979-3428-4717-ade9-2aa16d4cb679" Alias="stoolballRouter" Level="1">
  <Info>
    <Name>Stoolball router</Name>
    <Icon>icon-split-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Requests for stoolball data are directed via this page so that they have an Umbraco context</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>club</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f2724e57-d127-459a-81b0-cc293e1304b3">club</Template>
      <Template Key="842af0b8-89ea-48c3-8e42-9b41b86eef3a">clubActions</Template>
      <Template Key="bc8ec438-e51d-460f-94f5-ab68599cf2ea">clubs</Template>
      <Template Key="d0bce9ed-ea03-4b52-a3dc-e19147b0dce9">competition</Template>
      <Template Key="19b067bf-a449-40cc-94c9-709af58fedc3">competitionActions</Template>
      <Template Key="5db4f021-a314-42d8-8d43-a31474980ebf">competitions</Template>
      <Template Key="e7c3d898-a4c9-4643-b9a4-e5a04e7eb40a">createClub</Template>
      <Template Key="4ff80ce9-f905-41d7-97b6-15c57f20affe">createCompetition</Template>
      <Template Key="a24fa40a-1004-48cb-8292-c6adf98961a1">createLeagueMatch</Template>
      <Template Key="be17e475-26a4-457c-ba29-144f17b31438">createMatchLocation</Template>
      <Template Key="7770c3e1-9781-4c2f-b06a-ea342782894e">createSeason</Template>
      <Template Key="58890656-a2d6-4ddc-a267-9308bb7ffe42">createTeam</Template>
      <Template Key="007d4a7a-068f-4dd8-b8a6-93271d5bb5f4">deleteClub</Template>
      <Template Key="e9843cad-e384-4361-8f9a-0b3d24e0a926">deleteCompetition</Template>
      <Template Key="59dbe6d1-6220-4193-b25c-86a946c7b238">deleteMatch</Template>
      <Template Key="3dbb05ec-3f9d-4c80-97cd-4dc4ac593d00">deleteMatchLocation</Template>
      <Template Key="96fd2dc0-98f8-4135-aebb-aec489950c8c">deleteSeason</Template>
      <Template Key="e82bf961-049b-4c05-a023-75bf9bc24cb1">deleteTeam</Template>
      <Template Key="7dd8ace8-ec06-4953-94a3-325d64bfebea">deleteTournament</Template>
      <Template Key="b4a5d5b9-b7f0-4117-9ebb-54677a9e65e5">editClub</Template>
      <Template Key="399d14d2-ca3d-42f7-90bb-53c42bc79c73">editCompetition</Template>
      <Template Key="40991b55-101e-4f5f-9f9d-dc2b8c617505">editMatchLocation</Template>
      <Template Key="9b092889-d0ae-44fb-9758-8fe20e449e4e">editSeason</Template>
      <Template Key="18d4bbda-bcad-454e-9df6-15feacb65451">editSeasonPoints</Template>
      <Template Key="260f8197-aafc-4002-9e43-36247233a05d">editSeasonTeams</Template>
      <Template Key="4257e91b-77ec-4d2f-9e2f-e76db4a417d6">editTeam</Template>
      <Template Key="5b1bb605-ef07-4caf-87a4-ff076841699b">editTransientTeam</Template>
      <Template Key="48d897f9-994c-4e42-8914-3de314187730">match</Template>
      <Template Key="a02a555e-99ce-4a25-b9a2-894ee1ba167d">matchActions</Template>
      <Template Key="8cfc82c4-5929-4e15-b572-081a5a782caf">matchesForClub</Template>
      <Template Key="c5404e58-46af-4d36-98d3-02cad730707d">matchesForMatchLocation</Template>
      <Template Key="1c17d796-ea8b-4a88-88fc-6a3b082749b3">matchesForSeason</Template>
      <Template Key="07aa3f0c-6fc2-4d2f-a247-3da20ad9b400">matchesForTeam</Template>
      <Template Key="bcf47530-158d-44b9-80fa-cd6ba373aacb">matchLocation</Template>
      <Template Key="65e55e57-4563-4e43-8ed0-faa5a1445a64">matchLocationActions</Template>
      <Template Key="f53a93e2-526f-4501-a067-365c41d83432">matchLocations</Template>
      <Template Key="6e0724f7-aa52-495d-9b0e-5e17fb2c729a">season</Template>
      <Template Key="9a10f32f-8bb9-4c09-8cc9-4727000a8689">seasonActions</Template>
      <Template Key="46061854-2cda-4d89-9984-4dbc3d4c3a5a">seasonResults</Template>
      <Template Key="3665664f-1024-441f-b4dd-184d3e2eb7d7">team</Template>
      <Template Key="d3627b04-d135-47d3-a451-451c3f89698d">teamActions</Template>
      <Template Key="cea4774e-b1e8-4e44-a57e-d011e4182b71">teams</Template>
      <Template Key="975dfe2a-5375-4f20-8747-871a5efb9146">tournament</Template>
      <Template Key="9be1c73c-2a22-4370-afd6-4f78738e0703">tournamentActions</Template>
      <Template Key="db038178-3ee9-4b34-8eb8-a42c2ea95ced">transientTeam</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>